qral-df-dev/PartialArmTemplates/ArmTemplate_6_3_2021_19_55_6.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "qral-df-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PUF_NPPES_PROCESS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PUF_DF_2a_Stage_NPPES",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PUF_DF_2a_Stage_NPPES",
								"type": "DataFlowReference"
							},
							"integrationRuntime": {
								"referenceName": "integrationRuntime-TEST2",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "PUF_DF_2b_Stage_NPPES_copy1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "PUF_DF_2a_Stage_NPPES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PUF_DF_2b_Stage_NPPES",
								"type": "DataFlowReference"
							},
							"integrationRuntime": {
								"referenceName": "integrationRuntime-TEST2",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"folder": {
					"name": "PUF_NPPES"
				},
				"annotations": [],
				"lastPublishTime": "2021-06-02T03:56:29Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/PUF_DF_2a_Stage_NPPES')]",
				"[concat(variables('factoryId'), '/dataflows/PUF_DF_2b_Stage_NPPES')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_DS_1_LD_cms_nppes_provider_taxonomy')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Qral_Dev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QRAL_AZURE_PUF/PUF_1_LOAD/NPPES"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "npi",
						"type": "nvarchar"
					},
					{
						"name": "data_month",
						"type": "int",
						"precision": 10
					},
					{
						"name": "active flag",
						"type": "nvarchar"
					},
					{
						"name": "entity type code",
						"type": "nvarchar"
					},
					{
						"name": "entity type",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy code_1",
						"type": "nvarchar"
					},
					{
						"name": "provider license number_1",
						"type": "nvarchar"
					},
					{
						"name": "provider license number state code_1",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider primary taxonomy switch_1",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy code_2",
						"type": "nvarchar"
					},
					{
						"name": "provider license number_2",
						"type": "nvarchar"
					},
					{
						"name": "provider license number state code_2",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider primary taxonomy switch_2",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy code_3",
						"type": "nvarchar"
					},
					{
						"name": "provider license number_3",
						"type": "nvarchar"
					},
					{
						"name": "provider license number state code_3",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider primary taxonomy switch_3",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy code_4",
						"type": "nvarchar"
					},
					{
						"name": "provider license number_4",
						"type": "nvarchar"
					},
					{
						"name": "provider license number state code_4",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider primary taxonomy switch_4",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy code_5",
						"type": "nvarchar"
					},
					{
						"name": "provider license number_5",
						"type": "nvarchar"
					},
					{
						"name": "provider license number state code_5",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider primary taxonomy switch_5",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy code_6",
						"type": "nvarchar"
					},
					{
						"name": "provider license number_6",
						"type": "nvarchar"
					},
					{
						"name": "provider license number state code_6",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider primary taxonomy switch_6",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy code_7",
						"type": "nvarchar"
					},
					{
						"name": "provider license number_7",
						"type": "nvarchar"
					},
					{
						"name": "provider license number state code_7",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider primary taxonomy switch_7",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy code_8",
						"type": "nvarchar"
					},
					{
						"name": "provider license number_8",
						"type": "nvarchar"
					},
					{
						"name": "provider license number state code_8",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider primary taxonomy switch_8",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy code_9",
						"type": "nvarchar"
					},
					{
						"name": "provider license number_9",
						"type": "nvarchar"
					},
					{
						"name": "provider license number state code_9",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider primary taxonomy switch_9",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy code_10",
						"type": "nvarchar"
					},
					{
						"name": "provider license number_10",
						"type": "nvarchar"
					},
					{
						"name": "provider license number state code_10",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider primary taxonomy switch_10",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy code_11",
						"type": "nvarchar"
					},
					{
						"name": "provider license number_11",
						"type": "nvarchar"
					},
					{
						"name": "provider license number state code_11",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider primary taxonomy switch_11",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy code_12",
						"type": "nvarchar"
					},
					{
						"name": "provider license number_12",
						"type": "nvarchar"
					},
					{
						"name": "provider license number state code_12",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider primary taxonomy switch_12",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy code_13",
						"type": "nvarchar"
					},
					{
						"name": "provider license number_13",
						"type": "nvarchar"
					},
					{
						"name": "provider license number state code_13",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider primary taxonomy switch_13",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy code_14",
						"type": "nvarchar"
					},
					{
						"name": "provider license number_14",
						"type": "nvarchar"
					},
					{
						"name": "provider license number state code_14",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider primary taxonomy switch_14",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy code_15",
						"type": "nvarchar"
					},
					{
						"name": "provider license number_15",
						"type": "nvarchar"
					},
					{
						"name": "provider license number state code_15",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider primary taxonomy switch_15",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy group_1",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy group_2",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy group_3",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy group_4",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy group_5",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy group_6",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy group_7",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy group_8",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy group_9",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy group_10",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy group_11",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy group_12",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy group_13",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy group_14",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy group_15",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "nppes",
					"table": "1_ld_cms_nppes_provider_taxonomy"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_DS_1_ld_cms_nppes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Qral_Dev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QRAL_AZURE_PUF/PUF_1_LOAD/NPPES"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "npi",
						"type": "nvarchar"
					},
					{
						"name": "data_month",
						"type": "int",
						"precision": 10
					},
					{
						"name": "active flag",
						"type": "nvarchar"
					},
					{
						"name": "entity type code",
						"type": "nvarchar"
					},
					{
						"name": "entity type",
						"type": "nvarchar"
					},
					{
						"name": "replacement npi",
						"type": "nvarchar"
					},
					{
						"name": "employer identification number (ein)",
						"type": "nvarchar"
					},
					{
						"name": "provider organization name (legal business name)",
						"type": "nvarchar"
					},
					{
						"name": "provider last name (legal name)",
						"type": "nvarchar"
					},
					{
						"name": "provider first name",
						"type": "nvarchar"
					},
					{
						"name": "provider middle name",
						"type": "nvarchar"
					},
					{
						"name": "provider name prefix text",
						"type": "nvarchar"
					},
					{
						"name": "provider name suffix text",
						"type": "nvarchar"
					},
					{
						"name": "provider credential text",
						"type": "nvarchar"
					},
					{
						"name": "provider other organization name",
						"type": "nvarchar"
					},
					{
						"name": "provider other organization name type code",
						"type": "nvarchar"
					},
					{
						"name": "provider other last name",
						"type": "nvarchar"
					},
					{
						"name": "provider other first name",
						"type": "nvarchar"
					},
					{
						"name": "provider other middle name",
						"type": "nvarchar"
					},
					{
						"name": "provider other name prefix text",
						"type": "nvarchar"
					},
					{
						"name": "provider other name suffix text",
						"type": "nvarchar"
					},
					{
						"name": "provider other credential text",
						"type": "nvarchar"
					},
					{
						"name": "provider other last name type code",
						"type": "nvarchar"
					},
					{
						"name": "provider first line business mailing address",
						"type": "nvarchar"
					},
					{
						"name": "provider second line business mailing address",
						"type": "nvarchar"
					},
					{
						"name": "provider business mailing address city name",
						"type": "nvarchar"
					},
					{
						"name": "provider business mailing address state name",
						"type": "nvarchar"
					},
					{
						"name": "provider business mailing address postal code",
						"type": "nvarchar"
					},
					{
						"name": "provider business mailing address country code (if outside u.s.) ",
						"type": "nvarchar"
					},
					{
						"name": "provider business mailing address telephone number",
						"type": "nvarchar"
					},
					{
						"name": "provider business mailing address fax number",
						"type": "nvarchar"
					},
					{
						"name": "provider first line business practice location address",
						"type": "nvarchar"
					},
					{
						"name": "provider second line business practice location address",
						"type": "nvarchar"
					},
					{
						"name": "provider business practice location address city name",
						"type": "nvarchar"
					},
					{
						"name": "provider business practice location address state name",
						"type": "nvarchar"
					},
					{
						"name": "provider business practice location address postal code",
						"type": "nvarchar"
					},
					{
						"name": "provider business practice location address country code out us",
						"type": "nvarchar"
					},
					{
						"name": "provider business practice location address telephone number",
						"type": "nvarchar"
					},
					{
						"name": "provider business practice location address fax number",
						"type": "nvarchar"
					},
					{
						"name": "provider enumeration date",
						"type": "date"
					},
					{
						"name": "last update date",
						"type": "date"
					},
					{
						"name": "npi deactivation reason code",
						"type": "nvarchar"
					},
					{
						"name": "npi deactivation date",
						"type": "date"
					},
					{
						"name": "npi reactivation date",
						"type": "date"
					},
					{
						"name": "provider gender code",
						"type": "nvarchar"
					},
					{
						"name": "authorized official last name",
						"type": "nvarchar"
					},
					{
						"name": "authorized official first name",
						"type": "nvarchar"
					},
					{
						"name": "authorized official middle name",
						"type": "nvarchar"
					},
					{
						"name": "authorized official title or position",
						"type": "nvarchar"
					},
					{
						"name": "authorized official telephone number",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy code_1",
						"type": "nvarchar"
					},
					{
						"name": "provider license number_1",
						"type": "nvarchar"
					},
					{
						"name": "provider license number state code_1",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider primary taxonomy switch_1",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy code_2",
						"type": "nvarchar"
					},
					{
						"name": "provider license number_2",
						"type": "nvarchar"
					},
					{
						"name": "provider license number state code_2",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider primary taxonomy switch_2",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy code_3",
						"type": "nvarchar"
					},
					{
						"name": "provider license number_3",
						"type": "nvarchar"
					},
					{
						"name": "provider license number state code_3",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider primary taxonomy switch_3",
						"type": "nvarchar"
					},
					{
						"name": "is sole proprietor",
						"type": "nvarchar"
					},
					{
						"name": "is organization subpart",
						"type": "nvarchar"
					},
					{
						"name": "parent organization lbn",
						"type": "nvarchar"
					},
					{
						"name": "parent organization tin",
						"type": "nvarchar"
					},
					{
						"name": "authorized official name prefix text",
						"type": "nvarchar"
					},
					{
						"name": "authorized official name suffix text",
						"type": "nvarchar"
					},
					{
						"name": "authorized official credential text",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy group_1",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy group_2",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy group_3",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "nppes",
					"table": "1_ld_cms_nppes"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_DS_1_ld_cms_nppes_other_provider_identifiers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Qral_Dev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QRAL_AZURE_PUF/PUF_1_LOAD/NPPES"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "npi",
						"type": "nvarchar"
					},
					{
						"name": "data_month",
						"type": "int",
						"precision": 10
					},
					{
						"name": "active flag",
						"type": "nvarchar"
					},
					{
						"name": "entity type",
						"type": "nvarchar"
					},
					{
						"name": "entity type code",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_1",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_1",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_1",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_1",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_2",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_2",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_2",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_2",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_3",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_3",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_3",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_3",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_4",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_4",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_4",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_4",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_5",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_5",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_5",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_5",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_6",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_6",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_6",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_6",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_7",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_7",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_7",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_7",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_8",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_8",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_8",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_8",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_9",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_9",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_9",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_9",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_10",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_10",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_10",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_10",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_11",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_11",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_11",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_11",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_12",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_12",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_12",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_12",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_13",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_13",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_13",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_13",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_14",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_14",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_14",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_14",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_15",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_15",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_15",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_15",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_16",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_16",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_16",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_16",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_17",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_17",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_17",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_17",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_18",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_18",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_18",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_18",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_19",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_19",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_19",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_19",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_20",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_20",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_20",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_20",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_21",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_21",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_21",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_21",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_22",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_22",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_22",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_22",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_23",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_23",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_23",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_23",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_24",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_24",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_24",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_24",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_25",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_25",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_25",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_25",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_26",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_26",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_26",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_26",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_27",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_27",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_27",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_27",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_28",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_28",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_28",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_28",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_29",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_29",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_29",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_29",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_30",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_30",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_30",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_30",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_31",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_31",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_31",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_31",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_32",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_32",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_32",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_32",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_33",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_33",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_33",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_33",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_34",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_34",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_34",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_34",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_35",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_35",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_35",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_35",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_36",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_36",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_36",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_36",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_37",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_37",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_37",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_37",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_38",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_38",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_38",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_38",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_39",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_39",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_39",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_39",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_40",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_40",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_40",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_40",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_41",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_41",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_41",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_41",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_42",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_42",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_42",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_42",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_43",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_43",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_43",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_43",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_44",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_44",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_44",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_44",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_45",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_45",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_45",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_45",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_46",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_46",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_46",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_46",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_47",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_47",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_47",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_47",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_48",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_48",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_48",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_48",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_49",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_49",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_49",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_49",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier_50",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code_50",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state_50",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer_50",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "nppes",
					"table": "1_ld_cms_nppes_other_provider_identifiers"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_DS_2_st_cms_nppes_main')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Qral_Dev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QRAL_AZURE_PUF/PUF_2_STAGE/NPPES"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "npi",
						"type": "nvarchar"
					},
					{
						"name": "data_month",
						"type": "int",
						"precision": 10
					},
					{
						"name": "active flag",
						"type": "nvarchar"
					},
					{
						"name": "entity type code",
						"type": "nvarchar"
					},
					{
						"name": "entity type",
						"type": "nvarchar"
					},
					{
						"name": "replacement npi",
						"type": "nvarchar"
					},
					{
						"name": "employer identification number (ein)",
						"type": "nvarchar"
					},
					{
						"name": "provider organization name (legal business name)",
						"type": "nvarchar"
					},
					{
						"name": "provider last name (legal name)",
						"type": "nvarchar"
					},
					{
						"name": "provider first name",
						"type": "nvarchar"
					},
					{
						"name": "provider middle name",
						"type": "nvarchar"
					},
					{
						"name": "provider name prefix text",
						"type": "nvarchar"
					},
					{
						"name": "provider name suffix text",
						"type": "nvarchar"
					},
					{
						"name": "provider credential text",
						"type": "nvarchar"
					},
					{
						"name": "provider other organization name",
						"type": "nvarchar"
					},
					{
						"name": "provider other organization name type code",
						"type": "nvarchar"
					},
					{
						"name": "provider other last name",
						"type": "nvarchar"
					},
					{
						"name": "provider other first name",
						"type": "nvarchar"
					},
					{
						"name": "provider other middle name",
						"type": "nvarchar"
					},
					{
						"name": "provider other name prefix text",
						"type": "nvarchar"
					},
					{
						"name": "provider other name suffix text",
						"type": "nvarchar"
					},
					{
						"name": "provider other credential text",
						"type": "nvarchar"
					},
					{
						"name": "provider other last name type code",
						"type": "nvarchar"
					},
					{
						"name": "provider first line business mailing address",
						"type": "nvarchar"
					},
					{
						"name": "provider second line business mailing address",
						"type": "nvarchar"
					},
					{
						"name": "provider business mailing address city name",
						"type": "nvarchar"
					},
					{
						"name": "provider business mailing address state name",
						"type": "nvarchar"
					},
					{
						"name": "provider business mailing address postal code",
						"type": "nvarchar"
					},
					{
						"name": "provider business mailing address country code (if outside u.s.) ",
						"type": "nvarchar"
					},
					{
						"name": "provider business mailing address telephone number",
						"type": "nvarchar"
					},
					{
						"name": "provider business mailing address fax number",
						"type": "nvarchar"
					},
					{
						"name": "provider first line business practice location address",
						"type": "nvarchar"
					},
					{
						"name": "provider second line business practice location address",
						"type": "nvarchar"
					},
					{
						"name": "provider business practice location address city name",
						"type": "nvarchar"
					},
					{
						"name": "provider business practice location address state name",
						"type": "nvarchar"
					},
					{
						"name": "provider business practice location address postal code",
						"type": "nvarchar"
					},
					{
						"name": "provider business practice location address country code out us",
						"type": "nvarchar"
					},
					{
						"name": "provider business practice location address telephone number",
						"type": "nvarchar"
					},
					{
						"name": "provider business practice location address fax number",
						"type": "nvarchar"
					},
					{
						"name": "provider enumeration date",
						"type": "date"
					},
					{
						"name": "last update date",
						"type": "date"
					},
					{
						"name": "npi deactivation reason code",
						"type": "nvarchar"
					},
					{
						"name": "npi deactivation date",
						"type": "date"
					},
					{
						"name": "npi reactivation date",
						"type": "date"
					},
					{
						"name": "provider gender code",
						"type": "nvarchar"
					},
					{
						"name": "authorized official last name",
						"type": "nvarchar"
					},
					{
						"name": "authorized official first name",
						"type": "nvarchar"
					},
					{
						"name": "authorized official middle name",
						"type": "nvarchar"
					},
					{
						"name": "authorized official title or position",
						"type": "nvarchar"
					},
					{
						"name": "authorized official telephone number",
						"type": "nvarchar"
					},
					{
						"name": "is sole proprietor",
						"type": "nvarchar"
					},
					{
						"name": "is organization subpart",
						"type": "nvarchar"
					},
					{
						"name": "parent organization lbn",
						"type": "nvarchar"
					},
					{
						"name": "parent organization tin",
						"type": "nvarchar"
					},
					{
						"name": "authorized official name prefix text",
						"type": "nvarchar"
					},
					{
						"name": "authorized official name suffix text",
						"type": "nvarchar"
					},
					{
						"name": "authorized official credential text",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider primary taxonomy code",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider primary group taxonomy",
						"type": "nvarchar"
					},
					{
						"name": "provider primary license number",
						"type": "nvarchar"
					},
					{
						"name": "provider primary license number state code",
						"type": "nvarchar"
					},
					{
						"name": "primary_taxonomy_grouping",
						"type": "nvarchar"
					},
					{
						"name": "primary_taxonomy_classification",
						"type": "nvarchar"
					},
					{
						"name": "primary_taxonomy_specialization",
						"type": "nvarchar"
					},
					{
						"name": "current_flag",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "nppes",
					"table": "2_st_cms_nppes_main"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_DS_2_st_cms_nppes_other_provider_identifier')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Qral_Dev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QRAL_AZURE_PUF/PUF_2_STAGE/NPPES"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "current_flag",
						"type": "int",
						"precision": 10
					},
					{
						"name": "data_month",
						"type": "int",
						"precision": 10
					},
					{
						"name": "npi",
						"type": "nvarchar"
					},
					{
						"name": "entity type code",
						"type": "nvarchar"
					},
					{
						"name": "entity type",
						"type": "nvarchar"
					},
					{
						"name": "active flag",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier issuer",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier state",
						"type": "nvarchar"
					},
					{
						"name": "other provider identifier type code",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "nppes",
					"table": "2_st_cms_nppes_other_provider_identifiers"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_DS_2a_st_cms_nppes_provider_taxonomy')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Qral_Dev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QRAL_AZURE_PUF/PUF_2_STAGE/NPPES"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "current_flag",
						"type": "int",
						"precision": 10
					},
					{
						"name": "data_month",
						"type": "int",
						"precision": 10
					},
					{
						"name": "npi",
						"type": "nvarchar"
					},
					{
						"name": "entity type code",
						"type": "nvarchar"
					},
					{
						"name": "entity type",
						"type": "nvarchar"
					},
					{
						"name": "active flag",
						"type": "nvarchar"
					},
					{
						"name": "position",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider primary taxonomy switch",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy code",
						"type": "nvarchar"
					},
					{
						"name": "healthcare provider taxonomy group",
						"type": "nvarchar"
					},
					{
						"name": "provider license number",
						"type": "nvarchar"
					},
					{
						"name": "provider license number state code",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "nppes",
					"table": "2a_st_cms_nppes_provider_taxonomy"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_DS_2b_st_cms_nppes_provider_taxonomy')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Qral_Dev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QRAL_AZURE_PUF/PUF_2_STAGE/NPPES"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "current_flag",
						"type": "int",
						"precision": 10
					},
					{
						"name": "data_month",
						"type": "int",
						"precision": 10
					},
					{
						"name": "npi",
						"type": "nvarchar"
					},
					{
						"name": "entity type code",
						"type": "nvarchar"
					},
					{
						"name": "entity type",
						"type": "nvarchar"
					},
					{
						"name": "active flag",
						"type": "nvarchar"
					},
					{
						"name": "position",
						"type": "nvarchar"
					},
					{
						"name": "healthcare_provider_primary_taxonomy_switch",
						"type": "nvarchar"
					},
					{
						"name": "healthcare_provider_taxonomy_code",
						"type": "nvarchar"
					},
					{
						"name": "healthcare_provider_group_taxonomy",
						"type": "nvarchar"
					},
					{
						"name": "provider_license_number",
						"type": "nvarchar"
					},
					{
						"name": "provider_license_number_state_code",
						"type": "nvarchar"
					},
					{
						"name": "taxonomy_grouping",
						"type": "nvarchar"
					},
					{
						"name": "taxonomy_classification",
						"type": "nvarchar"
					},
					{
						"name": "taxonomy_specialization",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "nppes",
					"table": "2b_st_cms_nppes_provider_taxonomy"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_DF_1_Load_NPPES_Month')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "PUF_1_Load_NPPES"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "PUF_DS_0_raw_cms_nppes",
								"type": "DatasetReference"
							},
							"name": "RawCMSNPPESMonth"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "PUF_DS_1_ld_cms_nppes",
								"type": "DatasetReference"
							},
							"name": "sinkNPPESMain"
						},
						{
							"dataset": {
								"referenceName": "PUF_DS_1_ld_cms_nppes_other_provider_identifiers",
								"type": "DatasetReference"
							},
							"name": "sinkNPPESOtherProvider"
						},
						{
							"dataset": {
								"referenceName": "PUF_DS_1_LD_cms_nppes_provider_taxonomy",
								"type": "DatasetReference"
							},
							"name": "sinkProviderTaxonomy"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn1"
						},
						{
							"name": "SelectNPPESMain"
						},
						{
							"name": "SelectNPPESOtherProviderIdentifiers"
						},
						{
							"name": "SelectNPPESProviderTaxonomy"
						},
						{
							"name": "LowerCaseProvTaxonomy"
						},
						{
							"name": "LowerCaseOtherProvId"
						},
						{
							"name": "LowerNPPESMain"
						}
					],
					"script": "source(output(\n\t\tNPI as string,\n\t\t{Entity Type Code} as string,\n\t\t{Replacement NPI} as string,\n\t\t{Employer Identification Number (EIN)} as string,\n\t\t{Provider Organization Name (Legal Business Name)} as string,\n\t\t{Provider Last Name (Legal Name)} as string,\n\t\t{Provider First Name} as string,\n\t\t{Provider Middle Name} as string,\n\t\t{Provider Name Prefix Text} as string,\n\t\t{Provider Name Suffix Text} as string,\n\t\t{Provider Credential Text} as string,\n\t\t{Provider Other Organization Name} as string,\n\t\t{Provider Other Organization Name Type Code} as string,\n\t\t{Provider Other Last Name} as string,\n\t\t{Provider Other First Name} as string,\n\t\t{Provider Other Middle Name} as string,\n\t\t{Provider Other Name Prefix Text} as string,\n\t\t{Provider Other Name Suffix Text} as string,\n\t\t{Provider Other Credential Text} as string,\n\t\t{Provider Other Last Name Type Code} as string,\n\t\t{Provider First Line Business Mailing Address} as string,\n\t\t{Provider Second Line Business Mailing Address} as string,\n\t\t{Provider Business Mailing Address City Name} as string,\n\t\t{Provider Business Mailing Address State Name} as string,\n\t\t{Provider Business Mailing Address Postal Code} as string,\n\t\t{Provider Business Mailing Address Country Code (If outside U.S.)} as string,\n\t\t{Provider Business Mailing Address Telephone Number} as string,\n\t\t{Provider Business Mailing Address Fax Number} as string,\n\t\t{Provider First Line Business Practice Location Address} as string,\n\t\t{Provider Second Line Business Practice Location Address} as string,\n\t\t{Provider Business Practice Location Address City Name} as string,\n\t\t{Provider Business Practice Location Address State Name} as string,\n\t\t{Provider Business Practice Location Address Postal Code} as string,\n\t\t{Provider Business Practice Location Address Country Code (If outside U.S.)} as string,\n\t\t{Provider Business Practice Location Address Telephone Number} as string,\n\t\t{Provider Business Practice Location Address Fax Number} as string,\n\t\t{Provider Enumeration Date} as string,\n\t\t{Last Update Date} as string,\n\t\t{NPI Deactivation Reason Code} as string,\n\t\t{NPI Deactivation Date} as string,\n\t\t{NPI Reactivation Date} as string,\n\t\t{Provider Gender Code} as string,\n\t\t{Authorized Official Last Name} as string,\n\t\t{Authorized Official First Name} as string,\n\t\t{Authorized Official Middle Name} as string,\n\t\t{Authorized Official Title or Position} as string,\n\t\t{Authorized Official Telephone Number} as string,\n\t\t{Healthcare Provider Taxonomy Code_1} as string,\n\t\t{Provider License Number_1} as string,\n\t\t{Provider License Number State Code_1} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_1} as string,\n\t\t{Healthcare Provider Taxonomy Code_2} as string,\n\t\t{Provider License Number_2} as string,\n\t\t{Provider License Number State Code_2} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_2} as string,\n\t\t{Healthcare Provider Taxonomy Code_3} as string,\n\t\t{Provider License Number_3} as string,\n\t\t{Provider License Number State Code_3} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_3} as string,\n\t\t{Healthcare Provider Taxonomy Code_4} as string,\n\t\t{Provider License Number_4} as string,\n\t\t{Provider License Number State Code_4} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_4} as string,\n\t\t{Healthcare Provider Taxonomy Code_5} as string,\n\t\t{Provider License Number_5} as string,\n\t\t{Provider License Number State Code_5} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_5} as string,\n\t\t{Healthcare Provider Taxonomy Code_6} as string,\n\t\t{Provider License Number_6} as string,\n\t\t{Provider License Number State Code_6} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_6} as string,\n\t\t{Healthcare Provider Taxonomy Code_7} as string,\n\t\t{Provider License Number_7} as string,\n\t\t{Provider License Number State Code_7} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_7} as string,\n\t\t{Healthcare Provider Taxonomy Code_8} as string,\n\t\t{Provider License Number_8} as string,\n\t\t{Provider License Number State Code_8} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_8} as string,\n\t\t{Healthcare Provider Taxonomy Code_9} as string,\n\t\t{Provider License Number_9} as string,\n\t\t{Provider License Number State Code_9} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_9} as string,\n\t\t{Healthcare Provider Taxonomy Code_10} as string,\n\t\t{Provider License Number_10} as string,\n\t\t{Provider License Number State Code_10} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_10} as string,\n\t\t{Healthcare Provider Taxonomy Code_11} as string,\n\t\t{Provider License Number_11} as string,\n\t\t{Provider License Number State Code_11} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_11} as string,\n\t\t{Healthcare Provider Taxonomy Code_12} as string,\n\t\t{Provider License Number_12} as string,\n\t\t{Provider License Number State Code_12} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_12} as string,\n\t\t{Healthcare Provider Taxonomy Code_13} as string,\n\t\t{Provider License Number_13} as string,\n\t\t{Provider License Number State Code_13} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_13} as string,\n\t\t{Healthcare Provider Taxonomy Code_14} as string,\n\t\t{Provider License Number_14} as string,\n\t\t{Provider License Number State Code_14} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_14} as string,\n\t\t{Healthcare Provider Taxonomy Code_15} as string,\n\t\t{Provider License Number_15} as string,\n\t\t{Provider License Number State Code_15} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_15} as string,\n\t\t{Other Provider Identifier_1} as string,\n\t\t{Other Provider Identifier Type Code_1} as string,\n\t\t{Other Provider Identifier State_1} as string,\n\t\t{Other Provider Identifier Issuer_1} as string,\n\t\t{Other Provider Identifier_2} as string,\n\t\t{Other Provider Identifier Type Code_2} as string,\n\t\t{Other Provider Identifier State_2} as string,\n\t\t{Other Provider Identifier Issuer_2} as string,\n\t\t{Other Provider Identifier_3} as string,\n\t\t{Other Provider Identifier Type Code_3} as string,\n\t\t{Other Provider Identifier State_3} as string,\n\t\t{Other Provider Identifier Issuer_3} as string,\n\t\t{Other Provider Identifier_4} as string,\n\t\t{Other Provider Identifier Type Code_4} as string,\n\t\t{Other Provider Identifier State_4} as string,\n\t\t{Other Provider Identifier Issuer_4} as string,\n\t\t{Other Provider Identifier_5} as string,\n\t\t{Other Provider Identifier Type Code_5} as string,\n\t\t{Other Provider Identifier State_5} as string,\n\t\t{Other Provider Identifier Issuer_5} as string,\n\t\t{Other Provider Identifier_6} as string,\n\t\t{Other Provider Identifier Type Code_6} as string,\n\t\t{Other Provider Identifier State_6} as string,\n\t\t{Other Provider Identifier Issuer_6} as string,\n\t\t{Other Provider Identifier_7} as string,\n\t\t{Other Provider Identifier Type Code_7} as string,\n\t\t{Other Provider Identifier State_7} as string,\n\t\t{Other Provider Identifier Issuer_7} as string,\n\t\t{Other Provider Identifier_8} as string,\n\t\t{Other Provider Identifier Type Code_8} as string,\n\t\t{Other Provider Identifier State_8} as string,\n\t\t{Other Provider Identifier Issuer_8} as string,\n\t\t{Other Provider Identifier_9} as string,\n\t\t{Other Provider Identifier Type Code_9} as string,\n\t\t{Other Provider Identifier State_9} as string,\n\t\t{Other Provider Identifier Issuer_9} as string,\n\t\t{Other Provider Identifier_10} as string,\n\t\t{Other Provider Identifier Type Code_10} as string,\n\t\t{Other Provider Identifier State_10} as string,\n\t\t{Other Provider Identifier Issuer_10} as string,\n\t\t{Other Provider Identifier_11} as string,\n\t\t{Other Provider Identifier Type Code_11} as string,\n\t\t{Other Provider Identifier State_11} as string,\n\t\t{Other Provider Identifier Issuer_11} as string,\n\t\t{Other Provider Identifier_12} as string,\n\t\t{Other Provider Identifier Type Code_12} as string,\n\t\t{Other Provider Identifier State_12} as string,\n\t\t{Other Provider Identifier Issuer_12} as string,\n\t\t{Other Provider Identifier_13} as string,\n\t\t{Other Provider Identifier Type Code_13} as string,\n\t\t{Other Provider Identifier State_13} as string,\n\t\t{Other Provider Identifier Issuer_13} as string,\n\t\t{Other Provider Identifier_14} as string,\n\t\t{Other Provider Identifier Type Code_14} as string,\n\t\t{Other Provider Identifier State_14} as string,\n\t\t{Other Provider Identifier Issuer_14} as string,\n\t\t{Other Provider Identifier_15} as string,\n\t\t{Other Provider Identifier Type Code_15} as string,\n\t\t{Other Provider Identifier State_15} as string,\n\t\t{Other Provider Identifier Issuer_15} as string,\n\t\t{Other Provider Identifier_16} as string,\n\t\t{Other Provider Identifier Type Code_16} as string,\n\t\t{Other Provider Identifier State_16} as string,\n\t\t{Other Provider Identifier Issuer_16} as string,\n\t\t{Other Provider Identifier_17} as string,\n\t\t{Other Provider Identifier Type Code_17} as string,\n\t\t{Other Provider Identifier State_17} as string,\n\t\t{Other Provider Identifier Issuer_17} as string,\n\t\t{Other Provider Identifier_18} as string,\n\t\t{Other Provider Identifier Type Code_18} as string,\n\t\t{Other Provider Identifier State_18} as string,\n\t\t{Other Provider Identifier Issuer_18} as string,\n\t\t{Other Provider Identifier_19} as string,\n\t\t{Other Provider Identifier Type Code_19} as string,\n\t\t{Other Provider Identifier State_19} as string,\n\t\t{Other Provider Identifier Issuer_19} as string,\n\t\t{Other Provider Identifier_20} as string,\n\t\t{Other Provider Identifier Type Code_20} as string,\n\t\t{Other Provider Identifier State_20} as string,\n\t\t{Other Provider Identifier Issuer_20} as string,\n\t\t{Other Provider Identifier_21} as string,\n\t\t{Other Provider Identifier Type Code_21} as string,\n\t\t{Other Provider Identifier State_21} as string,\n\t\t{Other Provider Identifier Issuer_21} as string,\n\t\t{Other Provider Identifier_22} as string,\n\t\t{Other Provider Identifier Type Code_22} as string,\n\t\t{Other Provider Identifier State_22} as string,\n\t\t{Other Provider Identifier Issuer_22} as string,\n\t\t{Other Provider Identifier_23} as string,\n\t\t{Other Provider Identifier Type Code_23} as string,\n\t\t{Other Provider Identifier State_23} as string,\n\t\t{Other Provider Identifier Issuer_23} as string,\n\t\t{Other Provider Identifier_24} as string,\n\t\t{Other Provider Identifier Type Code_24} as string,\n\t\t{Other Provider Identifier State_24} as string,\n\t\t{Other Provider Identifier Issuer_24} as string,\n\t\t{Other Provider Identifier_25} as string,\n\t\t{Other Provider Identifier Type Code_25} as string,\n\t\t{Other Provider Identifier State_25} as string,\n\t\t{Other Provider Identifier Issuer_25} as string,\n\t\t{Other Provider Identifier_26} as string,\n\t\t{Other Provider Identifier Type Code_26} as string,\n\t\t{Other Provider Identifier State_26} as string,\n\t\t{Other Provider Identifier Issuer_26} as string,\n\t\t{Other Provider Identifier_27} as string,\n\t\t{Other Provider Identifier Type Code_27} as string,\n\t\t{Other Provider Identifier State_27} as string,\n\t\t{Other Provider Identifier Issuer_27} as string,\n\t\t{Other Provider Identifier_28} as string,\n\t\t{Other Provider Identifier Type Code_28} as string,\n\t\t{Other Provider Identifier State_28} as string,\n\t\t{Other Provider Identifier Issuer_28} as string,\n\t\t{Other Provider Identifier_29} as string,\n\t\t{Other Provider Identifier Type Code_29} as string,\n\t\t{Other Provider Identifier State_29} as string,\n\t\t{Other Provider Identifier Issuer_29} as string,\n\t\t{Other Provider Identifier_30} as string,\n\t\t{Other Provider Identifier Type Code_30} as string,\n\t\t{Other Provider Identifier State_30} as string,\n\t\t{Other Provider Identifier Issuer_30} as string,\n\t\t{Other Provider Identifier_31} as string,\n\t\t{Other Provider Identifier Type Code_31} as string,\n\t\t{Other Provider Identifier State_31} as string,\n\t\t{Other Provider Identifier Issuer_31} as string,\n\t\t{Other Provider Identifier_32} as string,\n\t\t{Other Provider Identifier Type Code_32} as string,\n\t\t{Other Provider Identifier State_32} as string,\n\t\t{Other Provider Identifier Issuer_32} as string,\n\t\t{Other Provider Identifier_33} as string,\n\t\t{Other Provider Identifier Type Code_33} as string,\n\t\t{Other Provider Identifier State_33} as string,\n\t\t{Other Provider Identifier Issuer_33} as string,\n\t\t{Other Provider Identifier_34} as string,\n\t\t{Other Provider Identifier Type Code_34} as string,\n\t\t{Other Provider Identifier State_34} as string,\n\t\t{Other Provider Identifier Issuer_34} as string,\n\t\t{Other Provider Identifier_35} as string,\n\t\t{Other Provider Identifier Type Code_35} as string,\n\t\t{Other Provider Identifier State_35} as string,\n\t\t{Other Provider Identifier Issuer_35} as string,\n\t\t{Other Provider Identifier_36} as string,\n\t\t{Other Provider Identifier Type Code_36} as string,\n\t\t{Other Provider Identifier State_36} as string,\n\t\t{Other Provider Identifier Issuer_36} as string,\n\t\t{Other Provider Identifier_37} as string,\n\t\t{Other Provider Identifier Type Code_37} as string,\n\t\t{Other Provider Identifier State_37} as string,\n\t\t{Other Provider Identifier Issuer_37} as string,\n\t\t{Other Provider Identifier_38} as string,\n\t\t{Other Provider Identifier Type Code_38} as string,\n\t\t{Other Provider Identifier State_38} as string,\n\t\t{Other Provider Identifier Issuer_38} as string,\n\t\t{Other Provider Identifier_39} as string,\n\t\t{Other Provider Identifier Type Code_39} as string,\n\t\t{Other Provider Identifier State_39} as string,\n\t\t{Other Provider Identifier Issuer_39} as string,\n\t\t{Other Provider Identifier_40} as string,\n\t\t{Other Provider Identifier Type Code_40} as string,\n\t\t{Other Provider Identifier State_40} as string,\n\t\t{Other Provider Identifier Issuer_40} as string,\n\t\t{Other Provider Identifier_41} as string,\n\t\t{Other Provider Identifier Type Code_41} as string,\n\t\t{Other Provider Identifier State_41} as string,\n\t\t{Other Provider Identifier Issuer_41} as string,\n\t\t{Other Provider Identifier_42} as string,\n\t\t{Other Provider Identifier Type Code_42} as string,\n\t\t{Other Provider Identifier State_42} as string,\n\t\t{Other Provider Identifier Issuer_42} as string,\n\t\t{Other Provider Identifier_43} as string,\n\t\t{Other Provider Identifier Type Code_43} as string,\n\t\t{Other Provider Identifier State_43} as string,\n\t\t{Other Provider Identifier Issuer_43} as string,\n\t\t{Other Provider Identifier_44} as string,\n\t\t{Other Provider Identifier Type Code_44} as string,\n\t\t{Other Provider Identifier State_44} as string,\n\t\t{Other Provider Identifier Issuer_44} as string,\n\t\t{Other Provider Identifier_45} as string,\n\t\t{Other Provider Identifier Type Code_45} as string,\n\t\t{Other Provider Identifier State_45} as string,\n\t\t{Other Provider Identifier Issuer_45} as string,\n\t\t{Other Provider Identifier_46} as string,\n\t\t{Other Provider Identifier Type Code_46} as string,\n\t\t{Other Provider Identifier State_46} as string,\n\t\t{Other Provider Identifier Issuer_46} as string,\n\t\t{Other Provider Identifier_47} as string,\n\t\t{Other Provider Identifier Type Code_47} as string,\n\t\t{Other Provider Identifier State_47} as string,\n\t\t{Other Provider Identifier Issuer_47} as string,\n\t\t{Other Provider Identifier_48} as string,\n\t\t{Other Provider Identifier Type Code_48} as string,\n\t\t{Other Provider Identifier State_48} as string,\n\t\t{Other Provider Identifier Issuer_48} as string,\n\t\t{Other Provider Identifier_49} as string,\n\t\t{Other Provider Identifier Type Code_49} as string,\n\t\t{Other Provider Identifier State_49} as string,\n\t\t{Other Provider Identifier Issuer_49} as string,\n\t\t{Other Provider Identifier_50} as string,\n\t\t{Other Provider Identifier Type Code_50} as string,\n\t\t{Other Provider Identifier State_50} as string,\n\t\t{Other Provider Identifier Issuer_50} as string,\n\t\t{Is Sole Proprietor} as string,\n\t\t{Is Organization Subpart} as string,\n\t\t{Parent Organization LBN} as string,\n\t\t{Parent Organization TIN} as string,\n\t\t{Authorized Official Name Prefix Text} as string,\n\t\t{Authorized Official Name Suffix Text} as string,\n\t\t{Authorized Official Credential Text} as string,\n\t\t{Healthcare Provider Taxonomy Group_1} as string,\n\t\t{Healthcare Provider Taxonomy Group_2} as string,\n\t\t{Healthcare Provider Taxonomy Group_3} as string,\n\t\t{Healthcare Provider Taxonomy Group_4} as string,\n\t\t{Healthcare Provider Taxonomy Group_5} as string,\n\t\t{Healthcare Provider Taxonomy Group_6} as string,\n\t\t{Healthcare Provider Taxonomy Group_7} as string,\n\t\t{Healthcare Provider Taxonomy Group_8} as string,\n\t\t{Healthcare Provider Taxonomy Group_9} as string,\n\t\t{Healthcare Provider Taxonomy Group_10} as string,\n\t\t{Healthcare Provider Taxonomy Group_11} as string,\n\t\t{Healthcare Provider Taxonomy Group_12} as string,\n\t\t{Healthcare Provider Taxonomy Group_13} as string,\n\t\t{Healthcare Provider Taxonomy Group_14} as string,\n\t\t{Healthcare Provider Taxonomy Group_15} as string,\n\t\t{Certification Date} as string,\n\t\tdata_month as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> RawCMSNPPESMonth\nRawCMSNPPESMonth derive({Entity Type} = iif({Entity Type Code}=='1', 'Individual', \n    iif({Entity Type Code}=='2', 'Organization', {Entity Type Code})),\n\t\tdata_month = toInteger(data_month),\n\t\t{Active Flag} = iif({NPI Deactivation Date} != '' && {NPI Reactivation Date} == '', '0', '1'),\n\t\t{Provider Second Line Business Practice Location Address} = replace({Provider Second Line Business Practice Location Address}, '\\\\', ''),\n\t\t{Authorized Official Title or Position} = replace({Authorized Official Title or Position},'\\\\',''),\n\t\t{Provider Enumeration Date} = toDate({Provider Enumeration Date}, 'MM/dd/yyyy'),\n\t\t{Last Update Date} = toDate({Last Update Date}, 'MM/dd/yyyy'),\n\t\t{NPI Deactivation Date} = toDate({NPI Deactivation Date}, 'MM/dd/yyyy'),\n\t\t{NPI Reactivation Date} = toDate({NPI Reactivation Date}, 'MM/dd/yyyy'),\n\t\t{Certification Date} = toDate({Certification Date}, 'MM/dd/yyyy'),\n\tpartitionBy('roundRobin', 100)) ~> DerivedColumn1\nDerivedColumn1 select(mapColumn(\n\t\tNPI,\n\t\tdata_month,\n\t\t{Active Flag},\n\t\t{Entity Type Code},\n\t\t{Entity Type},\n\t\t{Replacement NPI},\n\t\t{Employer Identification Number (EIN)},\n\t\t{Provider Organization Name (Legal Business Name)},\n\t\t{Provider Last Name (Legal Name)},\n\t\t{Provider First Name},\n\t\t{Provider Middle Name},\n\t\t{Provider Name Prefix Text},\n\t\t{Provider Name Suffix Text},\n\t\t{Provider Credential Text},\n\t\t{Provider Other Organization Name},\n\t\t{Provider Other Organization Name Type Code},\n\t\t{Provider Other Last Name},\n\t\t{Provider Other First Name},\n\t\t{Provider Other Middle Name},\n\t\t{Provider Other Name Prefix Text},\n\t\t{Provider Other Name Suffix Text},\n\t\t{Provider Other Credential Text},\n\t\t{Provider Other Last Name Type Code},\n\t\t{Provider First Line Business Mailing Address},\n\t\t{Provider Second Line Business Mailing Address},\n\t\t{Provider Business Mailing Address City Name},\n\t\t{Provider Business Mailing Address State Name},\n\t\t{Provider Business Mailing Address Postal Code},\n\t\t{Provider Business Mailing Address Country Code (if outside U.S.) } = {Provider Business Mailing Address Country Code (If outside U.S.)},\n\t\t{Provider Business Mailing Address Telephone Number},\n\t\t{Provider Business Mailing Address Fax Number},\n\t\t{Provider First Line Business Practice Location Address},\n\t\t{Provider Second Line Business Practice Location Address},\n\t\t{Provider Business Practice Location Address City Name},\n\t\t{Provider Business Practice Location Address State Name},\n\t\t{Provider Business Practice Location Address Postal Code},\n\t\t{Provider Business Practice Location Address Country Code Out US} = {Provider Business Practice Location Address Country Code (If outside U.S.)},\n\t\t{Provider Business Practice Location Address Telephone Number},\n\t\t{Provider Business Practice Location Address Fax Number},\n\t\t{Provider Enumeration Date},\n\t\t{Last Update Date},\n\t\t{NPI Deactivation Reason Code},\n\t\t{NPI Deactivation Date},\n\t\t{NPI Reactivation Date},\n\t\t{Provider Gender Code},\n\t\t{Authorized Official Last Name},\n\t\t{Authorized Official First Name},\n\t\t{Authorized Official Middle Name},\n\t\t{Authorized Official Title or Position},\n\t\t{Authorized Official Telephone Number},\n\t\t{Healthcare Provider Taxonomy Code_1},\n\t\t{Provider License Number_1},\n\t\t{Provider License Number State Code_1},\n\t\t{Healthcare Provider Primary Taxonomy Switch_1},\n\t\t{Healthcare Provider Taxonomy Code_2},\n\t\t{Provider License Number_2},\n\t\t{Provider License Number State Code_2},\n\t\t{Healthcare Provider Primary Taxonomy Switch_2},\n\t\t{Healthcare Provider Taxonomy Code_3},\n\t\t{Provider License Number_3},\n\t\t{Provider License Number State Code_3},\n\t\t{Healthcare Provider Primary Taxonomy Switch_3},\n\t\t{Is Sole Proprietor},\n\t\t{Is Organization Subpart},\n\t\t{Is Sole Proprietor},\n\t\t{Is Organization Subpart},\n\t\t{Parent Organization LBN},\n\t\t{Parent Organization TIN},\n\t\t{Authorized Official Name Prefix Text},\n\t\t{Authorized Official Name Suffix Text},\n\t\t{Authorized Official Credential Text},\n\t\t{Healthcare Provider Taxonomy Group_1},\n\t\t{Healthcare Provider Taxonomy Group_2},\n\t\t{Healthcare Provider Taxonomy Group_3}\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectNPPESMain\nDerivedColumn1 select(mapColumn(\n\t\tNPI,\n\t\tdata_month,\n\t\t{Active Flag},\n\t\t{Entity Type},\n\t\t{Entity Type Code},\n\t\t{Other Provider Identifier_1},\n\t\t{Other Provider Identifier Type Code_1},\n\t\t{Other Provider Identifier State_1},\n\t\t{Other Provider Identifier Issuer_1},\n\t\t{Other Provider Identifier_2},\n\t\t{Other Provider Identifier Type Code_2},\n\t\t{Other Provider Identifier State_2},\n\t\t{Other Provider Identifier Issuer_2},\n\t\t{Other Provider Identifier_3},\n\t\t{Other Provider Identifier Type Code_3},\n\t\t{Other Provider Identifier State_3},\n\t\t{Other Provider Identifier Issuer_3},\n\t\t{Other Provider Identifier_4},\n\t\t{Other Provider Identifier Type Code_4},\n\t\t{Other Provider Identifier State_4},\n\t\t{Other Provider Identifier Issuer_4},\n\t\t{Other Provider Identifier_5},\n\t\t{Other Provider Identifier Type Code_5},\n\t\t{Other Provider Identifier State_5},\n\t\t{Other Provider Identifier Issuer_5},\n\t\t{Other Provider Identifier_6},\n\t\t{Other Provider Identifier Type Code_6},\n\t\t{Other Provider Identifier State_6},\n\t\t{Other Provider Identifier Issuer_6},\n\t\t{Other Provider Identifier_7},\n\t\t{Other Provider Identifier Type Code_7},\n\t\t{Other Provider Identifier State_7},\n\t\t{Other Provider Identifier Issuer_7},\n\t\t{Other Provider Identifier_8},\n\t\t{Other Provider Identifier Type Code_8},\n\t\t{Other Provider Identifier State_8},\n\t\t{Other Provider Identifier Issuer_8},\n\t\t{Other Provider Identifier_9},\n\t\t{Other Provider Identifier Type Code_9},\n\t\t{Other Provider Identifier State_9},\n\t\t{Other Provider Identifier Issuer_9},\n\t\t{Other Provider Identifier_10},\n\t\t{Other Provider Identifier Type Code_10},\n\t\t{Other Provider Identifier State_10},\n\t\t{Other Provider Identifier Issuer_10},\n\t\t{Other Provider Identifier_11},\n\t\t{Other Provider Identifier Type Code_11},\n\t\t{Other Provider Identifier State_11},\n\t\t{Other Provider Identifier Issuer_11},\n\t\t{Other Provider Identifier_12},\n\t\t{Other Provider Identifier Type Code_12},\n\t\t{Other Provider Identifier State_12},\n\t\t{Other Provider Identifier Issuer_12},\n\t\t{Other Provider Identifier_13},\n\t\t{Other Provider Identifier Type Code_13},\n\t\t{Other Provider Identifier State_13},\n\t\t{Other Provider Identifier Issuer_13},\n\t\t{Other Provider Identifier_14},\n\t\t{Other Provider Identifier Type Code_14},\n\t\t{Other Provider Identifier State_14},\n\t\t{Other Provider Identifier Issuer_14},\n\t\t{Other Provider Identifier_15},\n\t\t{Other Provider Identifier Type Code_15},\n\t\t{Other Provider Identifier State_15},\n\t\t{Other Provider Identifier Issuer_15},\n\t\t{Other Provider Identifier_16},\n\t\t{Other Provider Identifier Type Code_16},\n\t\t{Other Provider Identifier State_16},\n\t\t{Other Provider Identifier Issuer_16},\n\t\t{Other Provider Identifier_17},\n\t\t{Other Provider Identifier Type Code_17},\n\t\t{Other Provider Identifier State_17},\n\t\t{Other Provider Identifier Issuer_17},\n\t\t{Other Provider Identifier_18},\n\t\t{Other Provider Identifier Type Code_18},\n\t\t{Other Provider Identifier State_18},\n\t\t{Other Provider Identifier Issuer_18},\n\t\t{Other Provider Identifier_19},\n\t\t{Other Provider Identifier Type Code_19},\n\t\t{Other Provider Identifier State_19},\n\t\t{Other Provider Identifier Issuer_19},\n\t\t{Other Provider Identifier_20},\n\t\t{Other Provider Identifier Type Code_20},\n\t\t{Other Provider Identifier State_20},\n\t\t{Other Provider Identifier Issuer_20},\n\t\t{Other Provider Identifier_21},\n\t\t{Other Provider Identifier Type Code_21},\n\t\t{Other Provider Identifier State_21},\n\t\t{Other Provider Identifier Issuer_21},\n\t\t{Other Provider Identifier_22},\n\t\t{Other Provider Identifier Type Code_22},\n\t\t{Other Provider Identifier State_22},\n\t\t{Other Provider Identifier Issuer_22},\n\t\t{Other Provider Identifier_23},\n\t\t{Other Provider Identifier Type Code_23},\n\t\t{Other Provider Identifier State_23},\n\t\t{Other Provider Identifier Issuer_23},\n\t\t{Other Provider Identifier_24},\n\t\t{Other Provider Identifier Type Code_24},\n\t\t{Other Provider Identifier State_24},\n\t\t{Other Provider Identifier Issuer_24},\n\t\t{Other Provider Identifier_25},\n\t\t{Other Provider Identifier Type Code_25},\n\t\t{Other Provider Identifier State_25},\n\t\t{Other Provider Identifier Issuer_25},\n\t\t{Other Provider Identifier_26},\n\t\t{Other Provider Identifier Type Code_26},\n\t\t{Other Provider Identifier State_26},\n\t\t{Other Provider Identifier Issuer_26},\n\t\t{Other Provider Identifier_27},\n\t\t{Other Provider Identifier Type Code_27},\n\t\t{Other Provider Identifier State_27},\n\t\t{Other Provider Identifier Issuer_27},\n\t\t{Other Provider Identifier_28},\n\t\t{Other Provider Identifier Type Code_28},\n\t\t{Other Provider Identifier State_28},\n\t\t{Other Provider Identifier Issuer_28},\n\t\t{Other Provider Identifier_29},\n\t\t{Other Provider Identifier Type Code_29},\n\t\t{Other Provider Identifier State_29},\n\t\t{Other Provider Identifier Issuer_29},\n\t\t{Other Provider Identifier_30},\n\t\t{Other Provider Identifier Type Code_30},\n\t\t{Other Provider Identifier State_30},\n\t\t{Other Provider Identifier Issuer_30},\n\t\t{Other Provider Identifier_31},\n\t\t{Other Provider Identifier Type Code_31},\n\t\t{Other Provider Identifier State_31},\n\t\t{Other Provider Identifier Issuer_31},\n\t\t{Other Provider Identifier_32},\n\t\t{Other Provider Identifier Type Code_32},\n\t\t{Other Provider Identifier State_32},\n\t\t{Other Provider Identifier Issuer_32},\n\t\t{Other Provider Identifier_33},\n\t\t{Other Provider Identifier Type Code_33},\n\t\t{Other Provider Identifier State_33},\n\t\t{Other Provider Identifier Issuer_33},\n\t\t{Other Provider Identifier_34},\n\t\t{Other Provider Identifier Type Code_34},\n\t\t{Other Provider Identifier State_34},\n\t\t{Other Provider Identifier Issuer_34},\n\t\t{Other Provider Identifier_35},\n\t\t{Other Provider Identifier Type Code_35},\n\t\t{Other Provider Identifier State_35},\n\t\t{Other Provider Identifier Issuer_35},\n\t\t{Other Provider Identifier_36},\n\t\t{Other Provider Identifier Type Code_36},\n\t\t{Other Provider Identifier State_36},\n\t\t{Other Provider Identifier Issuer_36},\n\t\t{Other Provider Identifier_37},\n\t\t{Other Provider Identifier Type Code_37},\n\t\t{Other Provider Identifier State_37},\n\t\t{Other Provider Identifier Issuer_37},\n\t\t{Other Provider Identifier_38},\n\t\t{Other Provider Identifier Type Code_38},\n\t\t{Other Provider Identifier State_38},\n\t\t{Other Provider Identifier Issuer_38},\n\t\t{Other Provider Identifier_39},\n\t\t{Other Provider Identifier Type Code_39},\n\t\t{Other Provider Identifier State_39},\n\t\t{Other Provider Identifier Issuer_39},\n\t\t{Other Provider Identifier_40},\n\t\t{Other Provider Identifier Type Code_40},\n\t\t{Other Provider Identifier State_40},\n\t\t{Other Provider Identifier Issuer_40},\n\t\t{Other Provider Identifier_41},\n\t\t{Other Provider Identifier Type Code_41},\n\t\t{Other Provider Identifier State_41},\n\t\t{Other Provider Identifier Issuer_41},\n\t\t{Other Provider Identifier_42},\n\t\t{Other Provider Identifier Type Code_42},\n\t\t{Other Provider Identifier State_42},\n\t\t{Other Provider Identifier Issuer_42},\n\t\t{Other Provider Identifier_43},\n\t\t{Other Provider Identifier Type Code_43},\n\t\t{Other Provider Identifier State_43},\n\t\t{Other Provider Identifier Issuer_43},\n\t\t{Other Provider Identifier_44},\n\t\t{Other Provider Identifier Type Code_44},\n\t\t{Other Provider Identifier State_44},\n\t\t{Other Provider Identifier Issuer_44},\n\t\t{Other Provider Identifier_45},\n\t\t{Other Provider Identifier Type Code_45},\n\t\t{Other Provider Identifier State_45},\n\t\t{Other Provider Identifier Issuer_45},\n\t\t{Other Provider Identifier_46},\n\t\t{Other Provider Identifier Type Code_46},\n\t\t{Other Provider Identifier State_46},\n\t\t{Other Provider Identifier Issuer_46},\n\t\t{Other Provider Identifier_47},\n\t\t{Other Provider Identifier Type Code_47},\n\t\t{Other Provider Identifier State_47},\n\t\t{Other Provider Identifier Issuer_47},\n\t\t{Other Provider Identifier_48},\n\t\t{Other Provider Identifier Type Code_48},\n\t\t{Other Provider Identifier State_48},\n\t\t{Other Provider Identifier Issuer_48},\n\t\t{Other Provider Identifier_49},\n\t\t{Other Provider Identifier Type Code_49},\n\t\t{Other Provider Identifier State_49},\n\t\t{Other Provider Identifier Issuer_49},\n\t\t{Other Provider Identifier_50},\n\t\t{Other Provider Identifier Type Code_50},\n\t\t{Other Provider Identifier State_50},\n\t\t{Other Provider Identifier Issuer_50}\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectNPPESOtherProviderIdentifiers\nDerivedColumn1 select(mapColumn(\n\t\tNPI,\n\t\tdata_month,\n\t\t{Active Flag},\n\t\t{Entity Type Code},\n\t\t{Entity Type},\n\t\t{Healthcare Provider Taxonomy Code_1},\n\t\t{Provider License Number_1},\n\t\t{Provider License Number State Code_1},\n\t\t{Healthcare Provider Primary Taxonomy Switch_1},\n\t\t{Healthcare Provider Taxonomy Code_2},\n\t\t{Provider License Number_2},\n\t\t{Provider License Number State Code_2},\n\t\t{Healthcare Provider Primary Taxonomy Switch_2},\n\t\t{Healthcare Provider Taxonomy Code_3},\n\t\t{Provider License Number_3},\n\t\t{Provider License Number State Code_3},\n\t\t{Healthcare Provider Primary Taxonomy Switch_3},\n\t\t{Healthcare Provider Taxonomy Code_4},\n\t\t{Provider License Number_4},\n\t\t{Provider License Number State Code_4},\n\t\t{Healthcare Provider Primary Taxonomy Switch_4},\n\t\t{Healthcare Provider Taxonomy Code_5},\n\t\t{Provider License Number_5},\n\t\t{Provider License Number State Code_5},\n\t\t{Healthcare Provider Primary Taxonomy Switch_5},\n\t\t{Healthcare Provider Taxonomy Code_6},\n\t\t{Provider License Number_6},\n\t\t{Provider License Number State Code_6},\n\t\t{Healthcare Provider Primary Taxonomy Switch_6},\n\t\t{Healthcare Provider Taxonomy Code_7},\n\t\t{Provider License Number_7},\n\t\t{Provider License Number State Code_7},\n\t\t{Healthcare Provider Primary Taxonomy Switch_7},\n\t\t{Healthcare Provider Taxonomy Code_8},\n\t\t{Provider License Number_8},\n\t\t{Provider License Number State Code_8},\n\t\t{Healthcare Provider Primary Taxonomy Switch_8},\n\t\t{Healthcare Provider Taxonomy Code_9},\n\t\t{Provider License Number_9},\n\t\t{Provider License Number State Code_9},\n\t\t{Healthcare Provider Primary Taxonomy Switch_9},\n\t\t{Healthcare Provider Taxonomy Code_10},\n\t\t{Provider License Number_10},\n\t\t{Provider License Number State Code_10},\n\t\t{Healthcare Provider Primary Taxonomy Switch_10},\n\t\t{Healthcare Provider Taxonomy Code_11},\n\t\t{Provider License Number_11},\n\t\t{Provider License Number State Code_11},\n\t\t{Healthcare Provider Primary Taxonomy Switch_11},\n\t\t{Healthcare Provider Taxonomy Code_12},\n\t\t{Provider License Number_12},\n\t\t{Provider License Number State Code_12},\n\t\t{Healthcare Provider Primary Taxonomy Switch_12},\n\t\t{Healthcare Provider Taxonomy Code_13},\n\t\t{Provider License Number_13},\n\t\t{Provider License Number State Code_13},\n\t\t{Healthcare Provider Primary Taxonomy Switch_13},\n\t\t{Healthcare Provider Taxonomy Code_14},\n\t\t{Provider License Number_14},\n\t\t{Provider License Number State Code_14},\n\t\t{Healthcare Provider Primary Taxonomy Switch_14},\n\t\t{Healthcare Provider Taxonomy Code_15},\n\t\t{Provider License Number_15},\n\t\t{Provider License Number State Code_15},\n\t\t{Healthcare Provider Primary Taxonomy Switch_15},\n\t\t{Healthcare Provider Taxonomy Group_1},\n\t\t{Healthcare Provider Taxonomy Group_2},\n\t\t{Healthcare Provider Taxonomy Group_3},\n\t\t{Healthcare Provider Taxonomy Group_4},\n\t\t{Healthcare Provider Taxonomy Group_5},\n\t\t{Healthcare Provider Taxonomy Group_6},\n\t\t{Healthcare Provider Taxonomy Group_7},\n\t\t{Healthcare Provider Taxonomy Group_8},\n\t\t{Healthcare Provider Taxonomy Group_9},\n\t\t{Healthcare Provider Taxonomy Group_10},\n\t\t{Healthcare Provider Taxonomy Group_11},\n\t\t{Healthcare Provider Taxonomy Group_12},\n\t\t{Healthcare Provider Taxonomy Group_13},\n\t\t{Healthcare Provider Taxonomy Group_14},\n\t\t{Healthcare Provider Taxonomy Group_15}\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectNPPESProviderTaxonomy\nSelectNPPESProviderTaxonomy select(mapColumn(\n\t\teach(match(true()),\n\t\t\tlower($$) = $$)\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> LowerCaseProvTaxonomy\nSelectNPPESOtherProviderIdentifiers select(mapColumn(\n\t\teach(match(true()),\n\t\t\tlower($$) = $$)\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> LowerCaseOtherProvId\nSelectNPPESMain select(mapColumn(\n\t\teach(match(true()),\n\t\t\tlower($$) = $$)\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> LowerNPPESMain\nLowerNPPESMain sink(input(\n\t\tnpi as string,\n\t\tdata_month as integer,\n\t\t{active flag} as string,\n\t\t{entity type code} as string,\n\t\t{entity type} as string,\n\t\t{replacement npi} as string,\n\t\t{employer identification number (ein)} as string,\n\t\t{provider organization name (legal business name)} as string,\n\t\t{provider last name (legal name)} as string,\n\t\t{provider first name} as string,\n\t\t{provider middle name} as string,\n\t\t{provider name prefix text} as string,\n\t\t{provider name suffix text} as string,\n\t\t{provider credential text} as string,\n\t\t{provider other organization name} as string,\n\t\t{provider other organization name type code} as string,\n\t\t{provider other last name} as string,\n\t\t{provider other first name} as string,\n\t\t{provider other middle name} as string,\n\t\t{provider other name prefix text} as string,\n\t\t{provider other name suffix text} as string,\n\t\t{provider other credential text} as string,\n\t\t{provider other last name type code} as string,\n\t\t{provider first line business mailing address} as string,\n\t\t{provider second line business mailing address} as string,\n\t\t{provider business mailing address city name} as string,\n\t\t{provider business mailing address state name} as string,\n\t\t{provider business mailing address postal code} as string,\n\t\t{provider business mailing address country code (if outside u.s.) } as string,\n\t\t{provider business mailing address telephone number} as string,\n\t\t{provider business mailing address fax number} as string,\n\t\t{provider first line business practice location address} as string,\n\t\t{provider second line business practice location address} as string,\n\t\t{provider business practice location address city name} as string,\n\t\t{provider business practice location address state name} as string,\n\t\t{provider business practice location address postal code} as string,\n\t\t{provider business practice location address country code out us} as string,\n\t\t{provider business practice location address telephone number} as string,\n\t\t{provider business practice location address fax number} as string,\n\t\t{provider enumeration date} as date,\n\t\t{last update date} as date,\n\t\t{npi deactivation reason code} as string,\n\t\t{npi deactivation date} as date,\n\t\t{npi reactivation date} as date,\n\t\t{provider gender code} as string,\n\t\t{authorized official last name} as string,\n\t\t{authorized official first name} as string,\n\t\t{authorized official middle name} as string,\n\t\t{authorized official title or position} as string,\n\t\t{authorized official telephone number} as string,\n\t\t{healthcare provider taxonomy code_1} as string,\n\t\t{provider license number_1} as string,\n\t\t{provider license number state code_1} as string,\n\t\t{healthcare provider primary taxonomy switch_1} as string,\n\t\t{healthcare provider taxonomy code_2} as string,\n\t\t{provider license number_2} as string,\n\t\t{provider license number state code_2} as string,\n\t\t{healthcare provider primary taxonomy switch_2} as string,\n\t\t{healthcare provider taxonomy code_3} as string,\n\t\t{provider license number_3} as string,\n\t\t{provider license number state code_3} as string,\n\t\t{healthcare provider primary taxonomy switch_3} as string,\n\t\t{is sole proprietor} as string,\n\t\t{is organization subpart} as string,\n\t\t{parent organization lbn} as string,\n\t\t{parent organization tin} as string,\n\t\t{authorized official name prefix text} as string,\n\t\t{authorized official name suffix text} as string,\n\t\t{authorized official credential text} as string,\n\t\t{healthcare provider taxonomy group_1} as string,\n\t\t{healthcare provider taxonomy group_2} as string,\n\t\t{healthcare provider taxonomy group_3} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sinkNPPESMain\nLowerCaseOtherProvId sink(input(\n\t\tnpi as string,\n\t\tdata_month as integer,\n\t\t{active flag} as string,\n\t\t{entity type} as string,\n\t\t{entity type code} as string,\n\t\t{other provider identifier_1} as string,\n\t\t{other provider identifier type code_1} as string,\n\t\t{other provider identifier state_1} as string,\n\t\t{other provider identifier issuer_1} as string,\n\t\t{other provider identifier_2} as string,\n\t\t{other provider identifier type code_2} as string,\n\t\t{other provider identifier state_2} as string,\n\t\t{other provider identifier issuer_2} as string,\n\t\t{other provider identifier_3} as string,\n\t\t{other provider identifier type code_3} as string,\n\t\t{other provider identifier state_3} as string,\n\t\t{other provider identifier issuer_3} as string,\n\t\t{other provider identifier_4} as string,\n\t\t{other provider identifier type code_4} as string,\n\t\t{other provider identifier state_4} as string,\n\t\t{other provider identifier issuer_4} as string,\n\t\t{other provider identifier_5} as string,\n\t\t{other provider identifier type code_5} as string,\n\t\t{other provider identifier state_5} as string,\n\t\t{other provider identifier issuer_5} as string,\n\t\t{other provider identifier_6} as string,\n\t\t{other provider identifier type code_6} as string,\n\t\t{other provider identifier state_6} as string,\n\t\t{other provider identifier issuer_6} as string,\n\t\t{other provider identifier_7} as string,\n\t\t{other provider identifier type code_7} as string,\n\t\t{other provider identifier state_7} as string,\n\t\t{other provider identifier issuer_7} as string,\n\t\t{other provider identifier_8} as string,\n\t\t{other provider identifier type code_8} as string,\n\t\t{other provider identifier state_8} as string,\n\t\t{other provider identifier issuer_8} as string,\n\t\t{other provider identifier_9} as string,\n\t\t{other provider identifier type code_9} as string,\n\t\t{other provider identifier state_9} as string,\n\t\t{other provider identifier issuer_9} as string,\n\t\t{other provider identifier_10} as string,\n\t\t{other provider identifier type code_10} as string,\n\t\t{other provider identifier state_10} as string,\n\t\t{other provider identifier issuer_10} as string,\n\t\t{other provider identifier_11} as string,\n\t\t{other provider identifier type code_11} as string,\n\t\t{other provider identifier state_11} as string,\n\t\t{other provider identifier issuer_11} as string,\n\t\t{other provider identifier_12} as string,\n\t\t{other provider identifier type code_12} as string,\n\t\t{other provider identifier state_12} as string,\n\t\t{other provider identifier issuer_12} as string,\n\t\t{other provider identifier_13} as string,\n\t\t{other provider identifier type code_13} as string,\n\t\t{other provider identifier state_13} as string,\n\t\t{other provider identifier issuer_13} as string,\n\t\t{other provider identifier_14} as string,\n\t\t{other provider identifier type code_14} as string,\n\t\t{other provider identifier state_14} as string,\n\t\t{other provider identifier issuer_14} as string,\n\t\t{other provider identifier_15} as string,\n\t\t{other provider identifier type code_15} as string,\n\t\t{other provider identifier state_15} as string,\n\t\t{other provider identifier issuer_15} as string,\n\t\t{other provider identifier_16} as string,\n\t\t{other provider identifier type code_16} as string,\n\t\t{other provider identifier state_16} as string,\n\t\t{other provider identifier issuer_16} as string,\n\t\t{other provider identifier_17} as string,\n\t\t{other provider identifier type code_17} as string,\n\t\t{other provider identifier state_17} as string,\n\t\t{other provider identifier issuer_17} as string,\n\t\t{other provider identifier_18} as string,\n\t\t{other provider identifier type code_18} as string,\n\t\t{other provider identifier state_18} as string,\n\t\t{other provider identifier issuer_18} as string,\n\t\t{other provider identifier_19} as string,\n\t\t{other provider identifier type code_19} as string,\n\t\t{other provider identifier state_19} as string,\n\t\t{other provider identifier issuer_19} as string,\n\t\t{other provider identifier_20} as string,\n\t\t{other provider identifier type code_20} as string,\n\t\t{other provider identifier state_20} as string,\n\t\t{other provider identifier issuer_20} as string,\n\t\t{other provider identifier_21} as string,\n\t\t{other provider identifier type code_21} as string,\n\t\t{other provider identifier state_21} as string,\n\t\t{other provider identifier issuer_21} as string,\n\t\t{other provider identifier_22} as string,\n\t\t{other provider identifier type code_22} as string,\n\t\t{other provider identifier state_22} as string,\n\t\t{other provider identifier issuer_22} as string,\n\t\t{other provider identifier_23} as string,\n\t\t{other provider identifier type code_23} as string,\n\t\t{other provider identifier state_23} as string,\n\t\t{other provider identifier issuer_23} as string,\n\t\t{other provider identifier_24} as string,\n\t\t{other provider identifier type code_24} as string,\n\t\t{other provider identifier state_24} as string,\n\t\t{other provider identifier issuer_24} as string,\n\t\t{other provider identifier_25} as string,\n\t\t{other provider identifier type code_25} as string,\n\t\t{other provider identifier state_25} as string,\n\t\t{other provider identifier issuer_25} as string,\n\t\t{other provider identifier_26} as string,\n\t\t{other provider identifier type code_26} as string,\n\t\t{other provider identifier state_26} as string,\n\t\t{other provider identifier issuer_26} as string,\n\t\t{other provider identifier_27} as string,\n\t\t{other provider identifier type code_27} as string,\n\t\t{other provider identifier state_27} as string,\n\t\t{other provider identifier issuer_27} as string,\n\t\t{other provider identifier_28} as string,\n\t\t{other provider identifier type code_28} as string,\n\t\t{other provider identifier state_28} as string,\n\t\t{other provider identifier issuer_28} as string,\n\t\t{other provider identifier_29} as string,\n\t\t{other provider identifier type code_29} as string,\n\t\t{other provider identifier state_29} as string,\n\t\t{other provider identifier issuer_29} as string,\n\t\t{other provider identifier_30} as string,\n\t\t{other provider identifier type code_30} as string,\n\t\t{other provider identifier state_30} as string,\n\t\t{other provider identifier issuer_30} as string,\n\t\t{other provider identifier_31} as string,\n\t\t{other provider identifier type code_31} as string,\n\t\t{other provider identifier state_31} as string,\n\t\t{other provider identifier issuer_31} as string,\n\t\t{other provider identifier_32} as string,\n\t\t{other provider identifier type code_32} as string,\n\t\t{other provider identifier state_32} as string,\n\t\t{other provider identifier issuer_32} as string,\n\t\t{other provider identifier_33} as string,\n\t\t{other provider identifier type code_33} as string,\n\t\t{other provider identifier state_33} as string,\n\t\t{other provider identifier issuer_33} as string,\n\t\t{other provider identifier_34} as string,\n\t\t{other provider identifier type code_34} as string,\n\t\t{other provider identifier state_34} as string,\n\t\t{other provider identifier issuer_34} as string,\n\t\t{other provider identifier_35} as string,\n\t\t{other provider identifier type code_35} as string,\n\t\t{other provider identifier state_35} as string,\n\t\t{other provider identifier issuer_35} as string,\n\t\t{other provider identifier_36} as string,\n\t\t{other provider identifier type code_36} as string,\n\t\t{other provider identifier state_36} as string,\n\t\t{other provider identifier issuer_36} as string,\n\t\t{other provider identifier_37} as string,\n\t\t{other provider identifier type code_37} as string,\n\t\t{other provider identifier state_37} as string,\n\t\t{other provider identifier issuer_37} as string,\n\t\t{other provider identifier_38} as string,\n\t\t{other provider identifier type code_38} as string,\n\t\t{other provider identifier state_38} as string,\n\t\t{other provider identifier issuer_38} as string,\n\t\t{other provider identifier_39} as string,\n\t\t{other provider identifier type code_39} as string,\n\t\t{other provider identifier state_39} as string,\n\t\t{other provider identifier issuer_39} as string,\n\t\t{other provider identifier_40} as string,\n\t\t{other provider identifier type code_40} as string,\n\t\t{other provider identifier state_40} as string,\n\t\t{other provider identifier issuer_40} as string,\n\t\t{other provider identifier_41} as string,\n\t\t{other provider identifier type code_41} as string,\n\t\t{other provider identifier state_41} as string,\n\t\t{other provider identifier issuer_41} as string,\n\t\t{other provider identifier_42} as string,\n\t\t{other provider identifier type code_42} as string,\n\t\t{other provider identifier state_42} as string,\n\t\t{other provider identifier issuer_42} as string,\n\t\t{other provider identifier_43} as string,\n\t\t{other provider identifier type code_43} as string,\n\t\t{other provider identifier state_43} as string,\n\t\t{other provider identifier issuer_43} as string,\n\t\t{other provider identifier_44} as string,\n\t\t{other provider identifier type code_44} as string,\n\t\t{other provider identifier state_44} as string,\n\t\t{other provider identifier issuer_44} as string,\n\t\t{other provider identifier_45} as string,\n\t\t{other provider identifier type code_45} as string,\n\t\t{other provider identifier state_45} as string,\n\t\t{other provider identifier issuer_45} as string,\n\t\t{other provider identifier_46} as string,\n\t\t{other provider identifier type code_46} as string,\n\t\t{other provider identifier state_46} as string,\n\t\t{other provider identifier issuer_46} as string,\n\t\t{other provider identifier_47} as string,\n\t\t{other provider identifier type code_47} as string,\n\t\t{other provider identifier state_47} as string,\n\t\t{other provider identifier issuer_47} as string,\n\t\t{other provider identifier_48} as string,\n\t\t{other provider identifier type code_48} as string,\n\t\t{other provider identifier state_48} as string,\n\t\t{other provider identifier issuer_48} as string,\n\t\t{other provider identifier_49} as string,\n\t\t{other provider identifier type code_49} as string,\n\t\t{other provider identifier state_49} as string,\n\t\t{other provider identifier issuer_49} as string,\n\t\t{other provider identifier_50} as string,\n\t\t{other provider identifier type code_50} as string,\n\t\t{other provider identifier state_50} as string,\n\t\t{other provider identifier issuer_50} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sinkNPPESOtherProvider\nLowerCaseProvTaxonomy sink(input(\n\t\tnpi as string,\n\t\tdata_month as integer,\n\t\t{active flag} as string,\n\t\t{entity type code} as string,\n\t\t{entity type} as string,\n\t\t{healthcare provider taxonomy code_1} as string,\n\t\t{provider license number_1} as string,\n\t\t{provider license number state code_1} as string,\n\t\t{healthcare provider primary taxonomy switch_1} as string,\n\t\t{healthcare provider taxonomy code_2} as string,\n\t\t{provider license number_2} as string,\n\t\t{provider license number state code_2} as string,\n\t\t{healthcare provider primary taxonomy switch_2} as string,\n\t\t{healthcare provider taxonomy code_3} as string,\n\t\t{provider license number_3} as string,\n\t\t{provider license number state code_3} as string,\n\t\t{healthcare provider primary taxonomy switch_3} as string,\n\t\t{healthcare provider taxonomy code_4} as string,\n\t\t{provider license number_4} as string,\n\t\t{provider license number state code_4} as string,\n\t\t{healthcare provider primary taxonomy switch_4} as string,\n\t\t{healthcare provider taxonomy code_5} as string,\n\t\t{provider license number_5} as string,\n\t\t{provider license number state code_5} as string,\n\t\t{healthcare provider primary taxonomy switch_5} as string,\n\t\t{healthcare provider taxonomy code_6} as string,\n\t\t{provider license number_6} as string,\n\t\t{provider license number state code_6} as string,\n\t\t{healthcare provider primary taxonomy switch_6} as string,\n\t\t{healthcare provider taxonomy code_7} as string,\n\t\t{provider license number_7} as string,\n\t\t{provider license number state code_7} as string,\n\t\t{healthcare provider primary taxonomy switch_7} as string,\n\t\t{healthcare provider taxonomy code_8} as string,\n\t\t{provider license number_8} as string,\n\t\t{provider license number state code_8} as string,\n\t\t{healthcare provider primary taxonomy switch_8} as string,\n\t\t{healthcare provider taxonomy code_9} as string,\n\t\t{provider license number_9} as string,\n\t\t{provider license number state code_9} as string,\n\t\t{healthcare provider primary taxonomy switch_9} as string,\n\t\t{healthcare provider taxonomy code_10} as string,\n\t\t{provider license number_10} as string,\n\t\t{provider license number state code_10} as string,\n\t\t{healthcare provider primary taxonomy switch_10} as string,\n\t\t{healthcare provider taxonomy code_11} as string,\n\t\t{provider license number_11} as string,\n\t\t{provider license number state code_11} as string,\n\t\t{healthcare provider primary taxonomy switch_11} as string,\n\t\t{healthcare provider taxonomy code_12} as string,\n\t\t{provider license number_12} as string,\n\t\t{provider license number state code_12} as string,\n\t\t{healthcare provider primary taxonomy switch_12} as string,\n\t\t{healthcare provider taxonomy code_13} as string,\n\t\t{provider license number_13} as string,\n\t\t{provider license number state code_13} as string,\n\t\t{healthcare provider primary taxonomy switch_13} as string,\n\t\t{healthcare provider taxonomy code_14} as string,\n\t\t{provider license number_14} as string,\n\t\t{provider license number state code_14} as string,\n\t\t{healthcare provider primary taxonomy switch_14} as string,\n\t\t{healthcare provider taxonomy code_15} as string,\n\t\t{provider license number_15} as string,\n\t\t{provider license number state code_15} as string,\n\t\t{healthcare provider primary taxonomy switch_15} as string,\n\t\t{healthcare provider taxonomy group_1} as string,\n\t\t{healthcare provider taxonomy group_2} as string,\n\t\t{healthcare provider taxonomy group_3} as string,\n\t\t{healthcare provider taxonomy group_4} as string,\n\t\t{healthcare provider taxonomy group_5} as string,\n\t\t{healthcare provider taxonomy group_6} as string,\n\t\t{healthcare provider taxonomy group_7} as string,\n\t\t{healthcare provider taxonomy group_8} as string,\n\t\t{healthcare provider taxonomy group_9} as string,\n\t\t{healthcare provider taxonomy group_10} as string,\n\t\t{healthcare provider taxonomy group_11} as string,\n\t\t{healthcare provider taxonomy group_12} as string,\n\t\t{healthcare provider taxonomy group_13} as string,\n\t\t{healthcare provider taxonomy group_14} as string,\n\t\t{healthcare provider taxonomy group_15} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sinkProviderTaxonomy"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PUF_DS_1_ld_cms_nppes')]",
				"[concat(variables('factoryId'), '/datasets/PUF_DS_1_ld_cms_nppes_other_provider_identifiers')]",
				"[concat(variables('factoryId'), '/datasets/PUF_DS_1_LD_cms_nppes_provider_taxonomy')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_DF_2a_Stage_NPPES')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "PUF_2_Stage_NPPES"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "PUF_DS_1_LD_cms_nppes_provider_taxonomy",
								"type": "DatasetReference"
							},
							"name": "ProviderTaxonomyMonth"
						},
						{
							"dataset": {
								"referenceName": "PUF_DS_1_ld_cms_nppes_other_provider_identifiers",
								"type": "DatasetReference"
							},
							"name": "ProviderOtherIdentifiers"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "PUF_DS_2a_st_cms_nppes_provider_taxonomy",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"dataset": {
								"referenceName": "PUF_DS_2_st_cms_nppes_other_provider_identifier",
								"type": "DatasetReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [
						{
							"name": "AddCurrentFlag"
						},
						{
							"name": "Normalized"
						},
						{
							"name": "RefineFieldNamePos"
						},
						{
							"name": "Pivot1"
						},
						{
							"name": "AddCurrentFlagProvOtherID"
						},
						{
							"name": "NormalizedProvOtherID"
						},
						{
							"name": "RefineFieldNamePosProvOtherID"
						},
						{
							"name": "Pivot2"
						},
						{
							"name": "Select1"
						},
						{
							"name": "Filter1"
						},
						{
							"name": "Filter2"
						}
					],
					"script": "source(output(\n\t\tnpi as string,\n\t\tdata_month as integer,\n\t\t{active flag} as string,\n\t\t{entity type code} as string,\n\t\t{entity type} as string,\n\t\t{healthcare provider taxonomy code_1} as string,\n\t\t{provider license number_1} as string,\n\t\t{provider license number state code_1} as string,\n\t\t{healthcare provider primary taxonomy switch_1} as string,\n\t\t{healthcare provider taxonomy code_2} as string,\n\t\t{provider license number_2} as string,\n\t\t{provider license number state code_2} as string,\n\t\t{healthcare provider primary taxonomy switch_2} as string,\n\t\t{healthcare provider taxonomy code_3} as string,\n\t\t{provider license number_3} as string,\n\t\t{provider license number state code_3} as string,\n\t\t{healthcare provider primary taxonomy switch_3} as string,\n\t\t{healthcare provider taxonomy code_4} as string,\n\t\t{provider license number_4} as string,\n\t\t{provider license number state code_4} as string,\n\t\t{healthcare provider primary taxonomy switch_4} as string,\n\t\t{healthcare provider taxonomy code_5} as string,\n\t\t{provider license number_5} as string,\n\t\t{provider license number state code_5} as string,\n\t\t{healthcare provider primary taxonomy switch_5} as string,\n\t\t{healthcare provider taxonomy code_6} as string,\n\t\t{provider license number_6} as string,\n\t\t{provider license number state code_6} as string,\n\t\t{healthcare provider primary taxonomy switch_6} as string,\n\t\t{healthcare provider taxonomy code_7} as string,\n\t\t{provider license number_7} as string,\n\t\t{provider license number state code_7} as string,\n\t\t{healthcare provider primary taxonomy switch_7} as string,\n\t\t{healthcare provider taxonomy code_8} as string,\n\t\t{provider license number_8} as string,\n\t\t{provider license number state code_8} as string,\n\t\t{healthcare provider primary taxonomy switch_8} as string,\n\t\t{healthcare provider taxonomy code_9} as string,\n\t\t{provider license number_9} as string,\n\t\t{provider license number state code_9} as string,\n\t\t{healthcare provider primary taxonomy switch_9} as string,\n\t\t{healthcare provider taxonomy code_10} as string,\n\t\t{provider license number_10} as string,\n\t\t{provider license number state code_10} as string,\n\t\t{healthcare provider primary taxonomy switch_10} as string,\n\t\t{healthcare provider taxonomy code_11} as string,\n\t\t{provider license number_11} as string,\n\t\t{provider license number state code_11} as string,\n\t\t{healthcare provider primary taxonomy switch_11} as string,\n\t\t{healthcare provider taxonomy code_12} as string,\n\t\t{provider license number_12} as string,\n\t\t{provider license number state code_12} as string,\n\t\t{healthcare provider primary taxonomy switch_12} as string,\n\t\t{healthcare provider taxonomy code_13} as string,\n\t\t{provider license number_13} as string,\n\t\t{provider license number state code_13} as string,\n\t\t{healthcare provider primary taxonomy switch_13} as string,\n\t\t{healthcare provider taxonomy code_14} as string,\n\t\t{provider license number_14} as string,\n\t\t{provider license number state code_14} as string,\n\t\t{healthcare provider primary taxonomy switch_14} as string,\n\t\t{healthcare provider taxonomy code_15} as string,\n\t\t{provider license number_15} as string,\n\t\t{provider license number state code_15} as string,\n\t\t{healthcare provider primary taxonomy switch_15} as string,\n\t\t{healthcare provider taxonomy group_1} as string,\n\t\t{healthcare provider taxonomy group_2} as string,\n\t\t{healthcare provider taxonomy group_3} as string,\n\t\t{healthcare provider taxonomy group_4} as string,\n\t\t{healthcare provider taxonomy group_5} as string,\n\t\t{healthcare provider taxonomy group_6} as string,\n\t\t{healthcare provider taxonomy group_7} as string,\n\t\t{healthcare provider taxonomy group_8} as string,\n\t\t{healthcare provider taxonomy group_9} as string,\n\t\t{healthcare provider taxonomy group_10} as string,\n\t\t{healthcare provider taxonomy group_11} as string,\n\t\t{healthcare provider taxonomy group_12} as string,\n\t\t{healthcare provider taxonomy group_13} as string,\n\t\t{healthcare provider taxonomy group_14} as string,\n\t\t{healthcare provider taxonomy group_15} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> ProviderTaxonomyMonth\nsource(output(\n\t\tnpi as string,\n\t\tdata_month as integer,\n\t\t{active flag} as string,\n\t\t{entity type} as string,\n\t\t{entity type code} as string,\n\t\t{other provider identifier_1} as string,\n\t\t{other provider identifier type code_1} as string,\n\t\t{other provider identifier state_1} as string,\n\t\t{other provider identifier issuer_1} as string,\n\t\t{other provider identifier_2} as string,\n\t\t{other provider identifier type code_2} as string,\n\t\t{other provider identifier state_2} as string,\n\t\t{other provider identifier issuer_2} as string,\n\t\t{other provider identifier_3} as string,\n\t\t{other provider identifier type code_3} as string,\n\t\t{other provider identifier state_3} as string,\n\t\t{other provider identifier issuer_3} as string,\n\t\t{other provider identifier_4} as string,\n\t\t{other provider identifier type code_4} as string,\n\t\t{other provider identifier state_4} as string,\n\t\t{other provider identifier issuer_4} as string,\n\t\t{other provider identifier_5} as string,\n\t\t{other provider identifier type code_5} as string,\n\t\t{other provider identifier state_5} as string,\n\t\t{other provider identifier issuer_5} as string,\n\t\t{other provider identifier_6} as string,\n\t\t{other provider identifier type code_6} as string,\n\t\t{other provider identifier state_6} as string,\n\t\t{other provider identifier issuer_6} as string,\n\t\t{other provider identifier_7} as string,\n\t\t{other provider identifier type code_7} as string,\n\t\t{other provider identifier state_7} as string,\n\t\t{other provider identifier issuer_7} as string,\n\t\t{other provider identifier_8} as string,\n\t\t{other provider identifier type code_8} as string,\n\t\t{other provider identifier state_8} as string,\n\t\t{other provider identifier issuer_8} as string,\n\t\t{other provider identifier_9} as string,\n\t\t{other provider identifier type code_9} as string,\n\t\t{other provider identifier state_9} as string,\n\t\t{other provider identifier issuer_9} as string,\n\t\t{other provider identifier_10} as string,\n\t\t{other provider identifier type code_10} as string,\n\t\t{other provider identifier state_10} as string,\n\t\t{other provider identifier issuer_10} as string,\n\t\t{other provider identifier_11} as string,\n\t\t{other provider identifier type code_11} as string,\n\t\t{other provider identifier state_11} as string,\n\t\t{other provider identifier issuer_11} as string,\n\t\t{other provider identifier_12} as string,\n\t\t{other provider identifier type code_12} as string,\n\t\t{other provider identifier state_12} as string,\n\t\t{other provider identifier issuer_12} as string,\n\t\t{other provider identifier_13} as string,\n\t\t{other provider identifier type code_13} as string,\n\t\t{other provider identifier state_13} as string,\n\t\t{other provider identifier issuer_13} as string,\n\t\t{other provider identifier_14} as string,\n\t\t{other provider identifier type code_14} as string,\n\t\t{other provider identifier state_14} as string,\n\t\t{other provider identifier issuer_14} as string,\n\t\t{other provider identifier_15} as string,\n\t\t{other provider identifier type code_15} as string,\n\t\t{other provider identifier state_15} as string,\n\t\t{other provider identifier issuer_15} as string,\n\t\t{other provider identifier_16} as string,\n\t\t{other provider identifier type code_16} as string,\n\t\t{other provider identifier state_16} as string,\n\t\t{other provider identifier issuer_16} as string,\n\t\t{other provider identifier_17} as string,\n\t\t{other provider identifier type code_17} as string,\n\t\t{other provider identifier state_17} as string,\n\t\t{other provider identifier issuer_17} as string,\n\t\t{other provider identifier_18} as string,\n\t\t{other provider identifier type code_18} as string,\n\t\t{other provider identifier state_18} as string,\n\t\t{other provider identifier issuer_18} as string,\n\t\t{other provider identifier_19} as string,\n\t\t{other provider identifier type code_19} as string,\n\t\t{other provider identifier state_19} as string,\n\t\t{other provider identifier issuer_19} as string,\n\t\t{other provider identifier_20} as string,\n\t\t{other provider identifier type code_20} as string,\n\t\t{other provider identifier state_20} as string,\n\t\t{other provider identifier issuer_20} as string,\n\t\t{other provider identifier_21} as string,\n\t\t{other provider identifier type code_21} as string,\n\t\t{other provider identifier state_21} as string,\n\t\t{other provider identifier issuer_21} as string,\n\t\t{other provider identifier_22} as string,\n\t\t{other provider identifier type code_22} as string,\n\t\t{other provider identifier state_22} as string,\n\t\t{other provider identifier issuer_22} as string,\n\t\t{other provider identifier_23} as string,\n\t\t{other provider identifier type code_23} as string,\n\t\t{other provider identifier state_23} as string,\n\t\t{other provider identifier issuer_23} as string,\n\t\t{other provider identifier_24} as string,\n\t\t{other provider identifier type code_24} as string,\n\t\t{other provider identifier state_24} as string,\n\t\t{other provider identifier issuer_24} as string,\n\t\t{other provider identifier_25} as string,\n\t\t{other provider identifier type code_25} as string,\n\t\t{other provider identifier state_25} as string,\n\t\t{other provider identifier issuer_25} as string,\n\t\t{other provider identifier_26} as string,\n\t\t{other provider identifier type code_26} as string,\n\t\t{other provider identifier state_26} as string,\n\t\t{other provider identifier issuer_26} as string,\n\t\t{other provider identifier_27} as string,\n\t\t{other provider identifier type code_27} as string,\n\t\t{other provider identifier state_27} as string,\n\t\t{other provider identifier issuer_27} as string,\n\t\t{other provider identifier_28} as string,\n\t\t{other provider identifier type code_28} as string,\n\t\t{other provider identifier state_28} as string,\n\t\t{other provider identifier issuer_28} as string,\n\t\t{other provider identifier_29} as string,\n\t\t{other provider identifier type code_29} as string,\n\t\t{other provider identifier state_29} as string,\n\t\t{other provider identifier issuer_29} as string,\n\t\t{other provider identifier_30} as string,\n\t\t{other provider identifier type code_30} as string,\n\t\t{other provider identifier state_30} as string,\n\t\t{other provider identifier issuer_30} as string,\n\t\t{other provider identifier_31} as string,\n\t\t{other provider identifier type code_31} as string,\n\t\t{other provider identifier state_31} as string,\n\t\t{other provider identifier issuer_31} as string,\n\t\t{other provider identifier_32} as string,\n\t\t{other provider identifier type code_32} as string,\n\t\t{other provider identifier state_32} as string,\n\t\t{other provider identifier issuer_32} as string,\n\t\t{other provider identifier_33} as string,\n\t\t{other provider identifier type code_33} as string,\n\t\t{other provider identifier state_33} as string,\n\t\t{other provider identifier issuer_33} as string,\n\t\t{other provider identifier_34} as string,\n\t\t{other provider identifier type code_34} as string,\n\t\t{other provider identifier state_34} as string,\n\t\t{other provider identifier issuer_34} as string,\n\t\t{other provider identifier_35} as string,\n\t\t{other provider identifier type code_35} as string,\n\t\t{other provider identifier state_35} as string,\n\t\t{other provider identifier issuer_35} as string,\n\t\t{other provider identifier_36} as string,\n\t\t{other provider identifier type code_36} as string,\n\t\t{other provider identifier state_36} as string,\n\t\t{other provider identifier issuer_36} as string,\n\t\t{other provider identifier_37} as string,\n\t\t{other provider identifier type code_37} as string,\n\t\t{other provider identifier state_37} as string,\n\t\t{other provider identifier issuer_37} as string,\n\t\t{other provider identifier_38} as string,\n\t\t{other provider identifier type code_38} as string,\n\t\t{other provider identifier state_38} as string,\n\t\t{other provider identifier issuer_38} as string,\n\t\t{other provider identifier_39} as string,\n\t\t{other provider identifier type code_39} as string,\n\t\t{other provider identifier state_39} as string,\n\t\t{other provider identifier issuer_39} as string,\n\t\t{other provider identifier_40} as string,\n\t\t{other provider identifier type code_40} as string,\n\t\t{other provider identifier state_40} as string,\n\t\t{other provider identifier issuer_40} as string,\n\t\t{other provider identifier_41} as string,\n\t\t{other provider identifier type code_41} as string,\n\t\t{other provider identifier state_41} as string,\n\t\t{other provider identifier issuer_41} as string,\n\t\t{other provider identifier_42} as string,\n\t\t{other provider identifier type code_42} as string,\n\t\t{other provider identifier state_42} as string,\n\t\t{other provider identifier issuer_42} as string,\n\t\t{other provider identifier_43} as string,\n\t\t{other provider identifier type code_43} as string,\n\t\t{other provider identifier state_43} as string,\n\t\t{other provider identifier issuer_43} as string,\n\t\t{other provider identifier_44} as string,\n\t\t{other provider identifier type code_44} as string,\n\t\t{other provider identifier state_44} as string,\n\t\t{other provider identifier issuer_44} as string,\n\t\t{other provider identifier_45} as string,\n\t\t{other provider identifier type code_45} as string,\n\t\t{other provider identifier state_45} as string,\n\t\t{other provider identifier issuer_45} as string,\n\t\t{other provider identifier_46} as string,\n\t\t{other provider identifier type code_46} as string,\n\t\t{other provider identifier state_46} as string,\n\t\t{other provider identifier issuer_46} as string,\n\t\t{other provider identifier_47} as string,\n\t\t{other provider identifier type code_47} as string,\n\t\t{other provider identifier state_47} as string,\n\t\t{other provider identifier issuer_47} as string,\n\t\t{other provider identifier_48} as string,\n\t\t{other provider identifier type code_48} as string,\n\t\t{other provider identifier state_48} as string,\n\t\t{other provider identifier issuer_48} as string,\n\t\t{other provider identifier_49} as string,\n\t\t{other provider identifier type code_49} as string,\n\t\t{other provider identifier state_49} as string,\n\t\t{other provider identifier issuer_49} as string,\n\t\t{other provider identifier_50} as string,\n\t\t{other provider identifier type code_50} as string,\n\t\t{other provider identifier state_50} as string,\n\t\t{other provider identifier issuer_50} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> ProviderOtherIdentifiers\nProviderTaxonomyMonth derive(current_flag = 1) ~> AddCurrentFlag\nAddCurrentFlag unpivot(output(\n\t\tname as string,\n\t\tvalue as string\n\t),\n\tungroupBy(current_flag,\n\t\tdata_month,\n\t\tnpi,\n\t\t{entity type code},\n\t\t{entity type},\n\t\t{active flag}),\n\tlateral: false,\n\tignoreNullPivots: true) ~> Normalized\nFilter1 derive(name_standard = left(name,instr(name,'_')-1),\n\t\tposition = right(name,(length(name)-instr(name,'_')))) ~> RefineFieldNamePos\nRefineFieldNamePos pivot(groupBy(current_flag,\n\t\tdata_month,\n\t\tnpi,\n\t\t{entity type code},\n\t\t{entity type},\n\t\t{active flag},\n\t\tposition),\n\tpivotBy(name_standard),\n\t{} = first(value),\n\tcolumnNaming: '$N$V',\n\tlateral: true) ~> Pivot1\nProviderOtherIdentifiers derive(current_flag = 1) ~> AddCurrentFlagProvOtherID\nAddCurrentFlagProvOtherID unpivot(output(\n\t\tname as string,\n\t\tvalue as string\n\t),\n\tungroupBy(current_flag,\n\t\tdata_month,\n\t\tnpi,\n\t\t{entity type code},\n\t\t{entity type},\n\t\t{active flag}),\n\tlateral: false,\n\tignoreNullPivots: true) ~> NormalizedProvOtherID\nFilter2 derive(name_standard = left(name,instr(name,'_')-1),\n\t\tposition = right(name,(length(name)-instr(name,'_')))) ~> RefineFieldNamePosProvOtherID\nRefineFieldNamePosProvOtherID pivot(groupBy(current_flag,\n\t\tdata_month,\n\t\tnpi,\n\t\t{entity type code},\n\t\t{entity type},\n\t\t{active flag},\n\t\tposition),\n\tpivotBy(name_standard),\n\t{} = first(value),\n\tcolumnNaming: '$N$V',\n\tlateral: true) ~> Pivot2\nPivot2 select(mapColumn(\n\t\teach(match(name!='position'))\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select1\nNormalized filter(!(isNull(value) || value == '')) ~> Filter1\nNormalizedProvOtherID filter(!(isNull(value) || value == '')) ~> Filter2\nPivot1 sink(input(\n\t\tcurrent_flag as integer,\n\t\tdata_month as integer,\n\t\tnpi as string,\n\t\t{entity type code} as string,\n\t\t{entity type} as string,\n\t\t{active flag} as string,\n\t\tposition as string,\n\t\t{healthcare provider primary taxonomy switch} as string,\n\t\t{healthcare provider taxonomy code} as string,\n\t\t{healthcare provider taxonomy group} as string,\n\t\t{provider license number} as string,\n\t\t{provider license number state code} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tsaveOrder: 1,\n\terrorHandlingOption: 'stopOnFirstError') ~> sink1\nSelect1 sink(input(\n\t\tcurrent_flag as integer,\n\t\tdata_month as integer,\n\t\tnpi as string,\n\t\t{entity type code} as string,\n\t\t{entity type} as string,\n\t\t{active flag} as string,\n\t\t{other provider identifier} as string,\n\t\t{other provider identifier issuer} as string,\n\t\t{other provider identifier state} as string,\n\t\t{other provider identifier type code} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sink2"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PUF_DS_1_LD_cms_nppes_provider_taxonomy')]",
				"[concat(variables('factoryId'), '/datasets/PUF_DS_1_ld_cms_nppes_other_provider_identifiers')]",
				"[concat(variables('factoryId'), '/datasets/PUF_DS_2a_st_cms_nppes_provider_taxonomy')]",
				"[concat(variables('factoryId'), '/datasets/PUF_DS_2_st_cms_nppes_other_provider_identifier')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_DF_2b_Stage_NPPES')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "PUF_2_Stage_NPPES"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "PUF_DS_2a_st_cms_nppes_provider_taxonomy",
								"type": "DatasetReference"
							},
							"name": "StageProviderTaxonomy"
						},
						{
							"dataset": {
								"referenceName": "PUF_DS_PROD_NUCC_TAXONOMY",
								"type": "DatasetReference"
							},
							"name": "NUCCTaxonomy"
						},
						{
							"dataset": {
								"referenceName": "PUF_DS_1_ld_cms_nppes",
								"type": "DatasetReference"
							},
							"name": "NPPESProviderMain"
						},
						{
							"dataset": {
								"referenceName": "PUF_DS_0_raw_state_correction",
								"type": "DatasetReference"
							},
							"name": "InputStateCorrection"
						},
						{
							"dataset": {
								"referenceName": "PUF_DS_0_raw_country_correction",
								"type": "DatasetReference"
							},
							"name": "InputCountryCorrection"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "PUF_DS_2b_st_cms_nppes_provider_taxonomy",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"dataset": {
								"referenceName": "PUF_DS_2_st_cms_nppes_main",
								"type": "DatasetReference"
							},
							"name": "LoadNPPESMainStage2a"
						}
					],
					"transformations": [
						{
							"name": "JoinTaxonomyCW"
						},
						{
							"name": "Select1"
						},
						{
							"name": "KeepPrimaryTaxonomy"
						},
						{
							"name": "IdentifyPrimaryTaxonomy"
						},
						{
							"name": "SortbyNPITaxonomy"
						},
						{
							"name": "AppendPrimaryTaxonomy"
						},
						{
							"name": "AddtlColumns"
						},
						{
							"name": "Select3"
						},
						{
							"name": "Select4"
						},
						{
							"name": "Select5"
						},
						{
							"name": "LookupCorrectedStatePracAddr"
						},
						{
							"name": "DerivedColumn1"
						},
						{
							"name": "LookupCorrectedCountryPracAddr"
						},
						{
							"name": "Select6"
						},
						{
							"name": "Select7"
						},
						{
							"name": "LookupCorrrectedStateMailAddr"
						},
						{
							"name": "LookupCorrectedCountryMailAddr"
						},
						{
							"name": "DerivedColumn2"
						},
						{
							"name": "Select8"
						},
						{
							"name": "Select9"
						}
					],
					"script": "source(output(\n\t\tcurrent_flag as integer,\n\t\tdata_month as integer,\n\t\tnpi as string,\n\t\t{entity type code} as string,\n\t\t{entity type} as string,\n\t\t{active flag} as string,\n\t\tposition as string,\n\t\t{healthcare provider primary taxonomy switch} as string,\n\t\t{healthcare provider taxonomy code} as string,\n\t\t{healthcare provider taxonomy group} as string,\n\t\t{provider license number} as string,\n\t\t{provider license number state code} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> StageProviderTaxonomy\nsource(output(\n\t\tcode as string,\n\t\tgrouping as string,\n\t\tclassification as string,\n\t\tspecialization as string,\n\t\tdefinition as string,\n\t\tnotes as string,\n\t\tyear as integer,\n\t\tcurrent_flag as integer,\n\t\t{effective date} as string,\n\t\t{deactivation date} as string,\n\t\t{last modified date} as string,\n\t\t{display name} as string,\n\t\t{right_effective date} as string,\n\t\t{right_deactivation date} as string,\n\t\t{right_last modified date} as string,\n\t\t{right_display name} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> NUCCTaxonomy\nsource(output(\n\t\tnpi as string,\n\t\tdata_month as integer,\n\t\t{active flag} as string,\n\t\t{entity type code} as string,\n\t\t{entity type} as string,\n\t\t{replacement npi} as string,\n\t\t{employer identification number (ein)} as string,\n\t\t{provider organization name (legal business name)} as string,\n\t\t{provider last name (legal name)} as string,\n\t\t{provider first name} as string,\n\t\t{provider middle name} as string,\n\t\t{provider name prefix text} as string,\n\t\t{provider name suffix text} as string,\n\t\t{provider credential text} as string,\n\t\t{provider other organization name} as string,\n\t\t{provider other organization name type code} as string,\n\t\t{provider other last name} as string,\n\t\t{provider other first name} as string,\n\t\t{provider other middle name} as string,\n\t\t{provider other name prefix text} as string,\n\t\t{provider other name suffix text} as string,\n\t\t{provider other credential text} as string,\n\t\t{provider other last name type code} as string,\n\t\t{provider first line business mailing address} as string,\n\t\t{provider second line business mailing address} as string,\n\t\t{provider business mailing address city name} as string,\n\t\t{provider business mailing address state name} as string,\n\t\t{provider business mailing address postal code} as string,\n\t\t{provider business mailing address country code (if outside u.s.) } as string,\n\t\t{provider business mailing address telephone number} as string,\n\t\t{provider business mailing address fax number} as string,\n\t\t{provider first line business practice location address} as string,\n\t\t{provider second line business practice location address} as string,\n\t\t{provider business practice location address city name} as string,\n\t\t{provider business practice location address state name} as string,\n\t\t{provider business practice location address postal code} as string,\n\t\t{provider business practice location address country code out us} as string,\n\t\t{provider business practice location address telephone number} as string,\n\t\t{provider business practice location address fax number} as string,\n\t\t{provider enumeration date} as date,\n\t\t{last update date} as date,\n\t\t{npi deactivation reason code} as string,\n\t\t{npi deactivation date} as date,\n\t\t{npi reactivation date} as date,\n\t\t{provider gender code} as string,\n\t\t{authorized official last name} as string,\n\t\t{authorized official first name} as string,\n\t\t{authorized official middle name} as string,\n\t\t{authorized official title or position} as string,\n\t\t{authorized official telephone number} as string,\n\t\t{healthcare provider taxonomy code_1} as string,\n\t\t{provider license number_1} as string,\n\t\t{provider license number state code_1} as string,\n\t\t{healthcare provider primary taxonomy switch_1} as string,\n\t\t{healthcare provider taxonomy code_2} as string,\n\t\t{provider license number_2} as string,\n\t\t{provider license number state code_2} as string,\n\t\t{healthcare provider primary taxonomy switch_2} as string,\n\t\t{healthcare provider taxonomy code_3} as string,\n\t\t{provider license number_3} as string,\n\t\t{provider license number state code_3} as string,\n\t\t{healthcare provider primary taxonomy switch_3} as string,\n\t\t{is sole proprietor} as string,\n\t\t{is organization subpart} as string,\n\t\t{parent organization lbn} as string,\n\t\t{parent organization tin} as string,\n\t\t{authorized official name prefix text} as string,\n\t\t{authorized official name suffix text} as string,\n\t\t{authorized official credential text} as string,\n\t\t{healthcare provider taxonomy group_1} as string,\n\t\t{healthcare provider taxonomy group_2} as string,\n\t\t{healthcare provider taxonomy group_3} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> NPPESProviderMain\nsource(output(\n\t\tdata_month as string,\n\t\tnpi as string,\n\t\taddress_line_1 as string,\n\t\taddress_line_2 as string,\n\t\tcity as string,\n\t\tstate as string,\n\t\tpostal_code as string,\n\t\tcorrected_state as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> InputStateCorrection\nsource(output(\n\t\tdata_month as string,\n\t\tnpi as string,\n\t\taddress_line_1 as string,\n\t\taddress_line_2 as string,\n\t\tcity as string,\n\t\tstate as string,\n\t\tpostal_code as string,\n\t\tcountry_code as string,\n\t\tcorrected_country as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> InputCountryCorrection\nStageProviderTaxonomy, NUCCTaxonomy join({healthcare provider taxonomy code} == code,\n\tjoinType:'left',\n\tbroadcast: 'auto')~> JoinTaxonomyCW\nJoinTaxonomyCW select(mapColumn(\n\t\tcurrent_flag = StageProviderTaxonomy@current_flag,\n\t\tdata_month,\n\t\tnpi,\n\t\t{entity type code},\n\t\t{entity type},\n\t\t{active flag},\n\t\tposition,\n\t\thealthcare_provider_primary_taxonomy_switch = {healthcare provider primary taxonomy switch},\n\t\thealthcare_provider_taxonomy_code = {healthcare provider taxonomy code},\n\t\thealthcare_provider_group_taxonomy = {healthcare provider taxonomy group},\n\t\tprovider_license_number = {provider license number},\n\t\tprovider_license_number_state_code = {provider license number state code},\n\t\ttaxonomy_grouping = grouping,\n\t\ttaxonomy_classification = classification,\n\t\ttaxonomy_specialization = specialization\n\t),\n\tskipDuplicateMapInputs: false,\n\tskipDuplicateMapOutputs: false) ~> Select1\nSelect1 filter(healthcare_provider_primary_taxonomy_switch=='Y') ~> KeepPrimaryTaxonomy\nSortbyNPITaxonomy aggregate(groupBy(npi),\n\teach(match(name!='npi'), $$ = first($$))) ~> IdentifyPrimaryTaxonomy\nKeepPrimaryTaxonomy sort(asc(npi, true),\n\tasc(position, true)) ~> SortbyNPITaxonomy\nSelect9, Select3 join(npi == temp_npi,\n\tjoinType:'left',\n\tbroadcast: 'auto')~> AppendPrimaryTaxonomy\nSelect4 derive(current_flag = 1,\n\t\t{provider business practice location address state name} = iif({provider business practice location address state name}=='ALASKA','AK',\niif({provider business practice location address state name}=='ALABAMA','AL',\niif({provider business practice location address state name}=='ARKANSAS','AR',\niif({provider business practice location address state name}=='AMERICANSAMOA','AS',\niif({provider business practice location address state name}=='ARIZONA','AZ',\niif({provider business practice location address state name}=='CA-CALIFORNIA','CA',\niif({provider business practice location address state name}=='CALIFORNIA','CA',\niif({provider business practice location address state name}=='LOSANGELES','CA',\niif({provider business practice location address state name}=='COLORADO','CO',\niif({provider business practice location address state name}=='CONNECTICUT','CT',\niif({provider business practice location address state name}=='DISTRICTOFCOLUMBIA','DC',\niif({provider business practice location address state name}=='DELAWARE','DE',\niif({provider business practice location address state name}=='FL-FLORIDA','FL',\niif({provider business practice location address state name}=='FLA','FL',\niif({provider business practice location address state name}=='FLORIDA','FL',\niif({provider business practice location address state name}=='MICRONESIA,FEDERATEDSTATESOF','FM',\niif({provider business practice location address state name}=='GEORGIA','GA',\niif({provider business practice location address state name}=='GUAM','GU',\niif({provider business practice location address state name}=='HAWAII','HI',\niif({provider business practice location address state name}=='IOWA','IA',\niif({provider business practice location address state name}=='IDAHO','ID',\niif({provider business practice location address state name}=='IL-ILLINOIS','IL',\niif({provider business practice location address state name}=='ILLINOIS','IL',\niif({provider business practice location address state name}=='INDIANA','IN',\niif({provider business practice location address state name}=='KANSAS','KS',\niif({provider business practice location address state name}=='KENTUCKY','KY',\niif({provider business practice location address state name}=='LOUISIANA','LA',\niif({provider business practice location address state name}=='NEWORLEANS','LA',\niif({provider business practice location address state name}=='MA-MASSACHUSETTS','MA',\niif({provider business practice location address state name}=='MASSACHUSETTS','MA',\niif({provider business practice location address state name}=='MARYLAND','MD',\niif({provider business practice location address state name}=='MAINE','ME',\niif({provider business practice location address state name}=='MARSHALLISLANDS','MH',\niif({provider business practice location address state name}=='MICHIGAN','MI',\niif({provider business practice location address state name}=='MINNESOTA','MN',\niif({provider business practice location address state name}=='MISSOURI','MO',\niif({provider business practice location address state name}=='MARIANAISLANDS,NORTHERN','MP',\niif({provider business practice location address state name}=='MISSISSIPPI','MS',\niif({provider business practice location address state name}=='MS-MISSISSIPPI','MS',\niif({provider business practice location address state name}=='MONTANA','MT',\niif({provider business practice location address state name}=='N.C.','NC',\niif({provider business practice location address state name}=='NC-NORTHCAROLINA','NC',\niif({provider business practice location address state name}=='NORTHCAROLINA','NC',\niif({provider business practice location address state name}=='NORTHCAROLINA(NC)','NC',\niif({provider business practice location address state name}=='NORTHDAKOTA','ND',\niif({provider business practice location address state name}=='NEBRASKA','NE',\niif({provider business practice location address state name}=='NEWHAMPSHIRE','NH',\niif({provider business practice location address state name}=='NEWJERSEY','NJ',\niif({provider business practice location address state name}=='NJ-NEWJERSEY','NJ',\niif({provider business practice location address state name}=='NEWMEXICO','NM',\niif({provider business practice location address state name}=='NEVADA','NV',\niif({provider business practice location address state name}=='N.Y.','NY',\niif({provider business practice location address state name}=='NY-NEWYORK','NY',\niif({provider business practice location address state name}=='NY-NEWYORK','NY',\niif({provider business practice location address state name}=='NEWYORK','NY',\niif({provider business practice location address state name}=='OHIO','OH',\niif({provider business practice location address state name}=='OHIO(OH)','OH',\niif({provider business practice location address state name}=='OKLAHOMA','OK',\niif({provider business practice location address state name}=='OROREGON','OR',\niif({provider business practice location address state name}=='OREGON','OR',\niif({provider business practice location address state name}=='PENNSYLVANIA','PA',\niif({provider business practice location address state name}=='P.R.','PR',\niif({provider business practice location address state name}=='P.R','PR',\niif({provider business practice location address state name}=='P.R.','PR',\niif({provider business practice location address state name}=='P.R.PUERTORICO','PR',\niif({provider business practice location address state name}=='PR-PUERTORICO','PR',\niif({provider business practice location address state name}=='PUERTORICO','PR',\niif({provider business practice location address state name}=='PUERTORICO','PR',\niif({provider business practice location address state name}=='PALAU','PW',\niif({provider business practice location address state name}=='RHODEISLAND','RI',\niif({provider business practice location address state name}=='SOUTHCAROLINA','SC',\niif({provider business practice location address state name}=='SOUTHDAKOTA','SD',\niif({provider business practice location address state name}=='TENNESSEE','TN',\niif({provider business practice location address state name}=='TEXAS','TX',\niif({provider business practice location address state name}=='TX-TEXAS','TX',\niif({provider business practice location address state name}=='U.T','UT',\niif({provider business practice location address state name}=='UTAH','UT',\niif({provider business practice location address state name}=='VIRGINIA','VA',\niif({provider business practice location address state name}=='VIRGINISLANDS','VI',\niif({provider business practice location address state name}=='VERMONT','VT',\niif({provider business practice location address state name}=='WASHINGTON','WA',\niif({provider business practice location address state name}=='WISCONSIN','WI',\niif({provider business practice location address state name}=='WESTVIRGINIA','WV',\niif({provider business practice location address state name}=='WYOMING','WY',\n{provider business practice location address state name}\n)))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))),\n\t\t{provider business mailing address state name} = iif({provider business mailing address state name}=='ALASKA','AK',\niif({provider business mailing address state name}=='ALABAMA','AL',\niif({provider business mailing address state name}=='ARKANSAS','AR',\niif({provider business mailing address state name}=='AMERICANSAMOA','AS',\niif({provider business mailing address state name}=='ARIZONA','AZ',\niif({provider business mailing address state name}=='CA-CALIFORNIA','CA',\niif({provider business mailing address state name}=='CALIFORNIA','CA',\niif({provider business mailing address state name}=='LOSANGELES','CA',\niif({provider business mailing address state name}=='COLORADO','CO',\niif({provider business mailing address state name}=='CONNECTICUT','CT',\niif({provider business mailing address state name}=='DISTRICTOFCOLUMBIA','DC',\niif({provider business mailing address state name}=='DELAWARE','DE',\niif({provider business mailing address state name}=='FL-FLORIDA','FL',\niif({provider business mailing address state name}=='FLA','FL',\niif({provider business mailing address state name}=='FLORIDA','FL',\niif({provider business mailing address state name}=='MICRONESIA,FEDERATEDSTATESOF','FM',\niif({provider business mailing address state name}=='GEORGIA','GA',\niif({provider business mailing address state name}=='GUAM','GU',\niif({provider business mailing address state name}=='HAWAII','HI',\niif({provider business mailing address state name}=='IOWA','IA',\niif({provider business mailing address state name}=='IDAHO','ID',\niif({provider business mailing address state name}=='IL-ILLINOIS','IL',\niif({provider business mailing address state name}=='ILLINOIS','IL',\niif({provider business mailing address state name}=='INDIANA','IN',\niif({provider business mailing address state name}=='KANSAS','KS',\niif({provider business mailing address state name}=='KENTUCKY','KY',\niif({provider business mailing address state name}=='LOUISIANA','LA',\niif({provider business mailing address state name}=='NEWORLEANS','LA',\niif({provider business mailing address state name}=='MA-MASSACHUSETTS','MA',\niif({provider business mailing address state name}=='MASSACHUSETTS','MA',\niif({provider business mailing address state name}=='MARYLAND','MD',\niif({provider business mailing address state name}=='MAINE','ME',\niif({provider business mailing address state name}=='MARSHALLISLANDS','MH',\niif({provider business mailing address state name}=='MICHIGAN','MI',\niif({provider business mailing address state name}=='MINNESOTA','MN',\niif({provider business mailing address state name}=='MISSOURI','MO',\niif({provider business mailing address state name}=='MARIANAISLANDS,NORTHERN','MP',\niif({provider business mailing address state name}=='MISSISSIPPI','MS',\niif({provider business mailing address state name}=='MS-MISSISSIPPI','MS',\niif({provider business mailing address state name}=='MONTANA','MT',\niif({provider business mailing address state name}=='N.C.','NC',\niif({provider business mailing address state name}=='NC-NORTHCAROLINA','NC',\niif({provider business mailing address state name}=='NORTHCAROLINA','NC',\niif({provider business mailing address state name}=='NORTHCAROLINA(NC)','NC',\niif({provider business mailing address state name}=='NORTHDAKOTA','ND',\niif({provider business mailing address state name}=='NEBRASKA','NE',\niif({provider business mailing address state name}=='NEWHAMPSHIRE','NH',\niif({provider business mailing address state name}=='NEWJERSEY','NJ',\niif({provider business mailing address state name}=='NJ-NEWJERSEY','NJ',\niif({provider business mailing address state name}=='NEWMEXICO','NM',\niif({provider business mailing address state name}=='NEVADA','NV',\niif({provider business mailing address state name}=='N.Y.','NY',\niif({provider business mailing address state name}=='NY-NEWYORK','NY',\niif({provider business mailing address state name}=='NY-NEWYORK','NY',\niif({provider business mailing address state name}=='NEWYORK','NY',\niif({provider business mailing address state name}=='OHIO','OH',\niif({provider business mailing address state name}=='OHIO(OH)','OH',\niif({provider business mailing address state name}=='OKLAHOMA','OK',\niif({provider business mailing address state name}=='OROREGON','OR',\niif({provider business mailing address state name}=='OREGON','OR',\niif({provider business mailing address state name}=='PENNSYLVANIA','PA',\niif({provider business mailing address state name}=='P.R.','PR',\niif({provider business mailing address state name}=='P.R','PR',\niif({provider business mailing address state name}=='P.R.','PR',\niif({provider business mailing address state name}=='P.R.PUERTORICO','PR',\niif({provider business mailing address state name}=='PR-PUERTORICO','PR',\niif({provider business mailing address state name}=='PUERTORICO','PR',\niif({provider business mailing address state name}=='PUERTORICO','PR',\niif({provider business mailing address state name}=='PALAU','PW',\niif({provider business mailing address state name}=='RHODEISLAND','RI',\niif({provider business mailing address state name}=='SOUTHCAROLINA','SC',\niif({provider business mailing address state name}=='SOUTHDAKOTA','SD',\niif({provider business mailing address state name}=='TENNESSEE','TN',\niif({provider business mailing address state name}=='TEXAS','TX',\niif({provider business mailing address state name}=='TX-TEXAS','TX',\niif({provider business mailing address state name}=='U.T','UT',\niif({provider business mailing address state name}=='UTAH','UT',\niif({provider business mailing address state name}=='VIRGINIA','VA',\niif({provider business mailing address state name}=='VIRGINISLANDS','VI',\niif({provider business mailing address state name}=='VERMONT','VT',\niif({provider business mailing address state name}=='WASHINGTON','WA',\niif({provider business mailing address state name}=='WISCONSIN','WI',\niif({provider business mailing address state name}=='WESTVIRGINIA','WV',\niif({provider business mailing address state name}=='WYOMING','WY',\n{provider business mailing address state name}\n))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))) ~> AddtlColumns\nIdentifyPrimaryTaxonomy select(mapColumn(\n\t\ttemp_npi = npi,\n\t\t{healthcare provider primary taxonomy code} = healthcare_provider_taxonomy_code,\n\t\t{healthcare provider primary group taxonomy} = healthcare_provider_group_taxonomy,\n\t\t{provider primary license number} = provider_license_number,\n\t\t{provider primary license number state code} = provider_license_number_state_code,\n\t\tprimary_taxonomy_grouping = taxonomy_grouping,\n\t\tprimary_taxonomy_classification = taxonomy_classification,\n\t\tprimary_taxonomy_specialization = taxonomy_specialization\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select3\nAppendPrimaryTaxonomy select(mapColumn(\n\t\teach(match(upper(name)!='TEMP_NPI'))\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select4\nInputStateCorrection select(mapColumn(\n\t\tselect5_npi = npi,\n\t\taddress_line_1,\n\t\taddress_line_2,\n\t\tcity,\n\t\tpostal_code,\n\t\tcorrected_state\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select5\nAddtlColumns, Select5 lookup(npi == select5_npi\n\t&& {provider first line business practice location address} == address_line_1\n\t&& {provider second line business practice location address} == address_line_2\n\t&& {provider business practice location address city name} == city\n\t&& {provider business practice location address postal code} == postal_code,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupCorrectedStatePracAddr\nLookupCorrectedCountryPracAddr derive({provider business practice location address state name} = iif(isNull(corrected_state), {provider business practice location address state name}, corrected_state),\n\t\t{provider business practice location address country code out us} = iif(isNull(corrected_country), {provider business practice location address country code out us}, corrected_country)) ~> DerivedColumn1\nLookupCorrectedStatePracAddr, Select6 lookup(npi == select6_npi\n\t&& {provider first line business practice location address} == Select6@address_line_1\n\t&& {provider second line business practice location address} == Select6@address_line_2\n\t&& {provider business practice location address city name} == Select6@city\n\t&& {provider business practice location address postal code} == Select6@postal_code\n\t&& {provider business practice location address state name} == state,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupCorrectedCountryPracAddr\nInputCountryCorrection select(mapColumn(\n\t\tselect6_npi = npi,\n\t\taddress_line_1,\n\t\taddress_line_2,\n\t\tcity,\n\t\tstate,\n\t\tpostal_code,\n\t\tcorrected_country\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select6\nDerivedColumn1 select(mapColumn(\n\t\teach(match(!in(['select5_npi','select6_npi','address_line_1','address_line_2','city','postal_code','state','corrected_state','corrected_country'],name)))\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select7\nSelect7, Select5 lookup(npi == select5_npi\n\t&& {provider first line business mailing address} == address_line_1\n\t&& {provider second line business mailing address} == address_line_2\n\t&& {provider business mailing address city name} == city\n\t&& {provider business mailing address postal code} == postal_code,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupCorrrectedStateMailAddr\nLookupCorrrectedStateMailAddr, Select6 lookup(npi == select6_npi\n\t&& {provider first line business mailing address} == Select6@address_line_1\n\t&& {provider second line business mailing address} == Select6@address_line_2\n\t&& {provider business mailing address city name} == Select6@city\n\t&& {provider business mailing address postal code} == Select6@postal_code\n\t&& {provider business mailing address state name} == state,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupCorrectedCountryMailAddr\nLookupCorrectedCountryMailAddr derive({provider business mailing address state name} = iif(isNull(corrected_state), {provider business mailing address state name}, corrected_state),\n\t\t{provider business mailing address country code (if outside u.s.) } = iif(isNull(corrected_country), {provider business mailing address country code (if outside u.s.) }, corrected_country)) ~> DerivedColumn2\nDerivedColumn2 select(mapColumn(\n\t\teach(match(!in(['select5_npi','select6_npi','address_line_1','address_line_2','city','postal_code','state','corrected_state','corrected_country'],name)))\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select8\nNPPESProviderMain select(mapColumn(\n\t\teach(match(!startsWith(upper(name),'HEALTHCARE PROVIDER TAXONOMY CODE_')&&!startsWith(upper(name),'PROVIDER LICENSE NUMBER_')&&!startsWith(upper(name),'PROVIDER LICENSE NUMBER STATE CODE_')&&!startsWith(upper(name),'HEALTHCARE PROVIDER PRIMARY TAXONOMY SWITCH_')&&!startsWith(upper(name),'HEALTHCARE PROVIDER TAXONOMY GROUP_')))\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select9\nSelect1 sink(input(\n\t\tcurrent_flag as integer,\n\t\tdata_month as integer,\n\t\tnpi as string,\n\t\t{entity type code} as string,\n\t\t{entity type} as string,\n\t\t{active flag} as string,\n\t\tposition as string,\n\t\thealthcare_provider_primary_taxonomy_switch as string,\n\t\thealthcare_provider_taxonomy_code as string,\n\t\thealthcare_provider_group_taxonomy as string,\n\t\tprovider_license_number as string,\n\t\tprovider_license_number_state_code as string,\n\t\ttaxonomy_grouping as string,\n\t\ttaxonomy_classification as string,\n\t\ttaxonomy_specialization as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sink1\nSelect8 sink(input(\n\t\tnpi as string,\n\t\tdata_month as integer,\n\t\t{active flag} as string,\n\t\t{entity type code} as string,\n\t\t{entity type} as string,\n\t\t{replacement npi} as string,\n\t\t{employer identification number (ein)} as string,\n\t\t{provider organization name (legal business name)} as string,\n\t\t{provider last name (legal name)} as string,\n\t\t{provider first name} as string,\n\t\t{provider middle name} as string,\n\t\t{provider name prefix text} as string,\n\t\t{provider name suffix text} as string,\n\t\t{provider credential text} as string,\n\t\t{provider other organization name} as string,\n\t\t{provider other organization name type code} as string,\n\t\t{provider other last name} as string,\n\t\t{provider other first name} as string,\n\t\t{provider other middle name} as string,\n\t\t{provider other name prefix text} as string,\n\t\t{provider other name suffix text} as string,\n\t\t{provider other credential text} as string,\n\t\t{provider other last name type code} as string,\n\t\t{provider first line business mailing address} as string,\n\t\t{provider second line business mailing address} as string,\n\t\t{provider business mailing address city name} as string,\n\t\t{provider business mailing address state name} as string,\n\t\t{provider business mailing address postal code} as string,\n\t\t{provider business mailing address country code (if outside u.s.) } as string,\n\t\t{provider business mailing address telephone number} as string,\n\t\t{provider business mailing address fax number} as string,\n\t\t{provider first line business practice location address} as string,\n\t\t{provider second line business practice location address} as string,\n\t\t{provider business practice location address city name} as string,\n\t\t{provider business practice location address state name} as string,\n\t\t{provider business practice location address postal code} as string,\n\t\t{provider business practice location address country code out us} as string,\n\t\t{provider business practice location address telephone number} as string,\n\t\t{provider business practice location address fax number} as string,\n\t\t{provider enumeration date} as date,\n\t\t{last update date} as date,\n\t\t{npi deactivation reason code} as string,\n\t\t{npi deactivation date} as date,\n\t\t{npi reactivation date} as date,\n\t\t{provider gender code} as string,\n\t\t{authorized official last name} as string,\n\t\t{authorized official first name} as string,\n\t\t{authorized official middle name} as string,\n\t\t{authorized official title or position} as string,\n\t\t{authorized official telephone number} as string,\n\t\t{is sole proprietor} as string,\n\t\t{is organization subpart} as string,\n\t\t{parent organization lbn} as string,\n\t\t{parent organization tin} as string,\n\t\t{authorized official name prefix text} as string,\n\t\t{authorized official name suffix text} as string,\n\t\t{authorized official credential text} as string,\n\t\t{healthcare provider primary taxonomy code} as string,\n\t\t{healthcare provider primary group taxonomy} as string,\n\t\t{provider primary license number} as string,\n\t\t{provider primary license number state code} as string,\n\t\tprimary_taxonomy_grouping as string,\n\t\tprimary_taxonomy_classification as string,\n\t\tprimary_taxonomy_specialization as string,\n\t\tcurrent_flag as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> LoadNPPESMainStage2a"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PUF_DS_2a_st_cms_nppes_provider_taxonomy')]",
				"[concat(variables('factoryId'), '/datasets/PUF_DS_1_ld_cms_nppes')]",
				"[concat(variables('factoryId'), '/datasets/PUF_DS_2b_st_cms_nppes_provider_taxonomy')]",
				"[concat(variables('factoryId'), '/datasets/PUF_DS_2_st_cms_nppes_main')]"
			]
		}
	]
}