pipeline/DA_Test_Loop_SQL_Query.json
{
	"name": "DA_Test_Loop_SQL_Query",
	"properties": {
		"activities": [
			{
				"name": "ForEach_QC_ID",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Readin_QC_List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Readin_QC_List').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Run_QC_SQL",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DA_TEST_Execute_SQL_Query",
									"type": "DataFlowReference",
									"parameters": {
										"sql_query": {
											"value": "'@{item().query}'",
											"type": "Expression"
										},
										"qc_id": {
											"value": "@item().query_number",
											"type": "Expression"
										},
										"pipeline_name": {
											"value": "'@{pipeline().Pipeline}'",
											"type": "Expression"
										},
										"pkey_column": {
											"value": "'@{item().pkey_column}'",
											"type": "Expression"
										},
										"final_sql_query": {
											"value": "'@{concat('select concat(',item().pkey_column,') as pkey_column_values ',\nitem().query)}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"QCTable": {
											"schemaName": {
												"value": "@item().table_schema",
												"type": "Expression"
											},
											"tableName": {
												"value": "@item().table_name",
												"type": "Expression"
											}
										}
									}
								},
								"integrationRuntime": {
									"referenceName": "integrationRuntime-TEST2",
									"type": "IntegrationRuntimeReference"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "test_variable",
								"value": {
									"value": "@concat('select concat(',item().pkey_column,') as pkey_column_values ',\nitem().query)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable1_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Run_QC_SQL",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "test_variable",
								"value": {
									"value": "@concat('select concat(',item().pkey_column,') as pkey_column_values ',\nitem().query)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Readin_QC_List",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "BLOB_XLS_TEST_SQL_LOOP",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"test_variable": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DA_Test"
		},
		"annotations": [],
		"lastPublishTime": "2021-05-14T17:49:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}