pipeline/PUF_1_DQM.json
{
	"name": "PUF_1_DQM",
	"properties": {
		"activities": [
			{
				"name": "ForEach_QC_ID",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Readin_QC_List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Readin_QC_List').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Run_QC_SQL",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DA_TEST_Execute_SQL_Query",
									"type": "DataFlowReference",
									"parameters": {
										"sql_query": {
											"value": "'@{item().sql_query}'",
											"type": "Expression"
										},
										"qc_id": {
											"value": "@item().qc_id",
											"type": "Expression"
										},
										"pipeline_name": {
											"value": "'@{pipeline().Pipeline}'",
											"type": "Expression"
										},
										"pkey_column": {
											"value": "'@{item().pkey_column_names}'",
											"type": "Expression"
										},
										"final_sql_query": "\"SELECT CONCAT({$pkey_column},'') as pkey_column_values, CONCAT({$column_metric_name},'|') as column_metric_error_values {$sql_query}\"",
										"column_metric_name": {
											"value": "'@{item().column_metric_name}'",
											"type": "Expression"
										},
										"alert_type": {
											"value": "'@{item().alert_code}'",
											"type": "Expression"
										},
										"pipeline_run_id": {
											"value": "'@{pipeline().RunId}'",
											"type": "Expression"
										},
										"pipeline_trigger_time": {
											"value": "'@{convertFromUtc(pipeline().TriggerTime,'New Zealand Standard Time', 'yyyy-MM-dd HH:mm:ss.fff')}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"QCTable": {
											"schemaName": {
												"value": "@item().table_schema",
												"type": "Expression"
											},
											"tableName": {
												"value": "@item().table_name",
												"type": "Expression"
											}
										}
									}
								},
								"integrationRuntime": {
									"referenceName": "integrationRuntime-TEST2",
									"type": "IntegrationRuntimeReference"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			},
			{
				"name": "Readin_QC_List",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "PUF_V_QC_List",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"folder": {
			"name": "DA_Test"
		},
		"annotations": [],
		"lastPublishTime": "2021-05-14T17:49:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}