pipeline/PUF_2_DQM_Alert_Action.json
{
	"name": "PUF_2_DQM_Alert_Action",
	"properties": {
		"activities": [
			{
				"name": "ForEach_QC_ID",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Readin_QC_Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Readin_QC_Tables').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Run_QC_Alert_Action",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DA_TEST_2_QC_Alert_Action",
									"type": "DataFlowReference",
									"parameters": {
										"pipeline_run_id": {
											"value": "'@{pipeline()?.TriggeredByPipelineRunId}'",
											"type": "Expression"
										},
										"sql_query": "\"SELECT *, CONCAT({$pkey_column},'') as pkey_column_values FROM {$input_SchemaName}.{$input_TableName}\"",
										"input_SchemaName": {
											"value": "'@{item().table_schema}'",
											"type": "Expression"
										},
										"input_TableName": {
											"value": "'@{item().table_name}'",
											"type": "Expression"
										},
										"pkey_column": {
											"value": "'@{item().pkey_column_names}'",
											"type": "Expression"
										},
										"pipeline_trigger_time": {
											"value": "'@{convertFromUtc(pipeline().TriggerTime,'Central Standard Time', 'yyyy-MM-dd HH:mm:ss.fff')}'",
											"type": "Expression"
										},
										"pipeline_name": {
											"value": "'@{pipeline()?.TriggeredByPipelineName}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"InputTable": {
											"schemaName": {
												"value": "@item().table_schema",
												"type": "Expression"
											},
											"tableName": {
												"value": "@item().table_name",
												"type": "Expression"
											}
										},
										"sink1": {
											"schemaName": "@item().table_schema",
											"tableName": {
												"value": "@concat('temp_',item().table_name)",
												"type": "Expression"
											}
										}
									}
								},
								"integrationRuntime": {
									"referenceName": "integrationRuntime1-Test4-16cores",
									"type": "IntegrationRuntimeReference"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			},
			{
				"name": "Readin_QC_Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT table_schema, table_name, pkey_column_names FROM dqm.v_qc_list WHERE pipeline_name = ''',pipeline()?.TriggeredByPipelineName,''' GROUP BY table_schema, table_name, pkey_column_names')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "PUF_V_QC_List",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"folder": {
			"name": "DA_Test"
		},
		"annotations": [],
		"lastPublishTime": "2021-05-14T17:49:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}