qral-df-dev/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "qral-df-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PUF_DS_PROD_NUCC_TAXONOMY')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Qral_Dev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QRAL_AZURE_PUF/PUF_PROD"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "code",
						"type": "varchar"
					},
					{
						"name": "grouping",
						"type": "varchar"
					},
					{
						"name": "classification",
						"type": "varchar"
					},
					{
						"name": "specialization",
						"type": "varchar"
					},
					{
						"name": "definition",
						"type": "varchar"
					},
					{
						"name": "notes",
						"type": "varchar"
					},
					{
						"name": "year",
						"type": "int",
						"precision": 10
					},
					{
						"name": "current_flag",
						"type": "int",
						"precision": 10
					},
					{
						"name": "effective date",
						"type": "varchar"
					},
					{
						"name": "deactivation date",
						"type": "varchar"
					},
					{
						"name": "last modified date",
						"type": "varchar"
					},
					{
						"name": "display name",
						"type": "varchar"
					},
					{
						"name": "right_effective date",
						"type": "varchar"
					},
					{
						"name": "right_deactivation date",
						"type": "varchar"
					},
					{
						"name": "right_last modified date",
						"type": "varchar"
					},
					{
						"name": "right_display name",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "nucc",
					"table": "nucc_taxonomy"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_temp')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Qral_Dev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DA_Test"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "current_flag",
						"type": "nvarchar"
					},
					{
						"name": "data_month",
						"type": "int",
						"precision": 10
					},
					{
						"name": "npi",
						"type": "nvarchar"
					},
					{
						"name": "entity type code",
						"type": "nvarchar"
					},
					{
						"name": "entity type",
						"type": "nvarchar"
					},
					{
						"name": "active flag",
						"type": "nvarchar"
					},
					{
						"name": "healthcare_provider_taxonomy_code",
						"type": "nvarchar"
					},
					{
						"name": "taxonomy_grouping",
						"type": "nvarchar"
					},
					{
						"name": "taxonomy_classification",
						"type": "nvarchar"
					},
					{
						"name": "taxonomy_specialization",
						"type": "nvarchar"
					},
					{
						"name": "provider_license_number",
						"type": "nvarchar"
					},
					{
						"name": "provider_license_number_state_code",
						"type": "nvarchar"
					},
					{
						"name": "healthcare_provider_primary_taxonomy_switch",
						"type": "nvarchar"
					},
					{
						"name": "healthcare_provider_group_taxonomy",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "temp",
					"table": "st_cms_nppes_provider_taxonomy_202104"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_temp_a')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Qral_Dev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DA_Test"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "temp_int",
						"type": "int",
						"precision": 10
					},
					{
						"name": "temp_var",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "temp",
					"table": "a"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_temp_b')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Qral_Dev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DA_Test"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "temp_int_b",
						"type": "int",
						"precision": 10
					},
					{
						"name": "temp_var_b",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "temp",
					"table": "b"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/QRAL_AZURE_SQL_DEV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Qral_Dev",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schema_name": {
						"type": "string"
					},
					"table_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "QRAL_AZURE_PUF/AzureSQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema_name",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().table_name",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_azure_sql_dev')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Qral_Dev",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"tableName": {
						"type": "string"
					},
					"schemaName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().tableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DA_TEST_Execute_SQL_Query')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "DA_Test"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "nucc_taxonomy",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "TEST_SQL_LOOP_OUT",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "TestQuery"
						}
					],
					"script": "parameters{\n\tsql_query as string,\n\tqc_id as string\n}\nsource(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> source1\nsource1 derive(sql_query = $sql_query,\n\t\tqc_id = $qc_id) ~> TestQuery\nTestQuery sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tCode as string,\n\t\tGrouping as string,\n\t\tClassification as string,\n\t\tSpecialization as string,\n\t\tDefinition as string,\n\t\t{Effective Date} as string,\n\t\t{Deactivation Date} as string,\n\t\t{Last Modified Date} as string,\n\t\tNotes as string,\n\t\t{Display Name} as string\n\t),\n\tpartitionFileNames:['test_loop_sql_out.csv'],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tpartitionBy('hash', 1)) ~> sink1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DA_Test_Loop_SQL_Query')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach_QC_ID",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Readin_QC_List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Readin_QC_List').output",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Run_QC_SQL",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "DA_TEST_Execute_SQL_Query",
											"type": "DataFlowReference",
											"parameters": {
												"sql_query": {
													"value": "'@{item().query}'",
													"type": "Expression"
												},
												"qc_id": {
													"value": "'@{item().query_number}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"source1": {},
												"sink1": {}
											}
										},
										"staging": {},
										"integrationRuntime": {
											"referenceName": "integrationRuntime-TEST2",
											"type": "IntegrationRuntimeReference"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					},
					{
						"name": "Readin_QC_List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "BLOB_XLS_TEST_SQL_LOOP",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DA_Test"
				},
				"annotations": [],
				"lastPublishTime": "2021-05-14T17:49:00Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DA_TEST_Execute_SQL_Query')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_0_Readin_Country_Correction')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Readin_Country_Correction",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "@{concat('DROP TABLE [',pipeline().parameters.out_schema,'].[',pipeline().parameters.out_table_country,']')}",
									"type": "Expression"
								},
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PUF_FS_XLSX_Country_Correction",
								"type": "DatasetReference",
								"parameters": {
									"Data_Month": {
										"value": "@pipeline().parameters.data_month",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "QRAL_AZURE_SQL_DEV",
								"type": "DatasetReference",
								"parameters": {
									"schema_name": {
										"value": "@pipeline().parameters.out_schema",
										"type": "Expression"
									},
									"table_name": {
										"value": "@pipeline().parameters.out_table_country",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"out_schema": {
						"type": "string",
						"defaultValue": "nppes"
					},
					"out_table_country": {
						"type": "string",
						"defaultValue": "0_raw_country_correction"
					},
					"out_table_state": {
						"type": "string",
						"defaultValue": "0_raw_state_correction"
					},
					"data_month": {
						"type": "string",
						"defaultValue": "202104"
					}
				},
				"folder": {
					"name": "PUF_NPPES"
				},
				"annotations": [],
				"lastPublishTime": "2021-06-23T05:51:15Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/QRAL_AZURE_SQL_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_0_Readin_Raw')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Readin_Raw_to_SQL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "data_month",
										"value": {
											"value": "@pipeline().parameters.data_month_year",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@pipeline().parameters.inp_file_path",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "@pipeline().parameters.inp_file_name",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "@{concat('DROP TABLE [',pipeline().parameters.out_schema,'].[',pipeline().parameters.out_table,']')}",
									"type": "Expression"
								},
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PUF_FS_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "QRAL_AZURE_SQL_DEV",
								"type": "DatasetReference",
								"parameters": {
									"schema_name": {
										"value": "@pipeline().parameters.out_schema",
										"type": "Expression"
									},
									"table_name": {
										"value": "@pipeline().parameters.out_table",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"inp_file_path": {
						"type": "string",
						"defaultValue": "Data Sources/CMS/NPPES/2021/"
					},
					"inp_file_name": {
						"type": "string",
						"defaultValue": "npidata_pfile_20050523-20210411.csv"
					},
					"out_schema": {
						"type": "string",
						"defaultValue": "nppes"
					},
					"out_table": {
						"type": "string",
						"defaultValue": "0_raw_cms_nppes"
					},
					"data_month_year": {
						"type": "string",
						"defaultValue": "202104"
					}
				},
				"folder": {
					"name": "PUF_General"
				},
				"annotations": [],
				"lastPublishTime": "2021-10-08T23:55:48Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/QRAL_AZURE_SQL_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_0_Readin_Raw_NPPES')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Readin_Raw_NPPES",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "data_month",
										"value": {
											"value": "@pipeline().parameters.data_month_year",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@pipeline().parameters.inp_file_path",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "@pipeline().parameters.inp_file_name",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "@{concat('DROP TABLE [',pipeline().parameters.out_schema,'].[',pipeline().parameters.out_table,']')}",
									"type": "Expression"
								},
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PUF_FS_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "QRAL_AZURE_SQL_DEV",
								"type": "DatasetReference",
								"parameters": {
									"schema_name": {
										"value": "@pipeline().parameters.out_schema",
										"type": "Expression"
									},
									"table_name": {
										"value": "@pipeline().parameters.out_table",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"inp_file_path": {
						"type": "string",
						"defaultValue": "Data Sources/CMS/NPPES/2021/"
					},
					"inp_file_name": {
						"type": "string",
						"defaultValue": "npidata_pfile_20050523-20210411.csv"
					},
					"out_schema": {
						"type": "string",
						"defaultValue": "nppes"
					},
					"out_table": {
						"type": "string",
						"defaultValue": "0_raw_cms_nppes"
					},
					"data_month_year": {
						"type": "string",
						"defaultValue": "202104"
					}
				},
				"folder": {
					"name": "PUF_NPPES"
				},
				"annotations": [],
				"lastPublishTime": "2021-05-19T06:44:50Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/QRAL_AZURE_SQL_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_0_Readin_State_Correction')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Readin_State_Correction",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "@{concat('DROP TABLE [',pipeline().parameters.out_schema,'].[',pipeline().parameters.out_table_state,']')}",
									"type": "Expression"
								},
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PUF_FS_XLSX_State_Correction",
								"type": "DatasetReference",
								"parameters": {
									"Data_Month": {
										"value": "@pipeline().parameters.data_month",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "QRAL_AZURE_SQL_DEV",
								"type": "DatasetReference",
								"parameters": {
									"schema_name": {
										"value": "@pipeline().parameters.out_schema",
										"type": "Expression"
									},
									"table_name": {
										"value": "@pipeline().parameters.out_table_state",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"out_schema": {
						"type": "string",
						"defaultValue": "nppes"
					},
					"out_table_country": {
						"type": "string",
						"defaultValue": "0_raw_country_correction"
					},
					"out_table_state": {
						"type": "string",
						"defaultValue": "0_raw_state_correction"
					},
					"data_month": {
						"type": "string",
						"defaultValue": "202104"
					}
				},
				"folder": {
					"name": "PUF_NPPES"
				},
				"annotations": [],
				"lastPublishTime": "2021-06-23T05:51:15Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/QRAL_AZURE_SQL_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Qral_PUF_DEV_Redshift_to AzureSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Redshift_to_AzureSQL_Qral_PUF_Dev",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AmazonRedshiftSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "redshift_Qral_PUF_DEV",
								"type": "DatasetReference",
								"parameters": {
									"schemaName": {
										"value": "@pipeline().parameters.inp_schemaName",
										"type": "Expression"
									},
									"tableName": {
										"value": "@pipeline().parameters.inp_tableName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Azure_Qral_Dev_Table",
								"type": "DatasetReference",
								"parameters": {
									"schemaName": {
										"value": "@pipeline().parameters.out_schemaName",
										"type": "Expression"
									},
									"tableName": {
										"value": "@pipeline().parameters.out_tableName",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"inp_schemaName": {
						"type": "string"
					},
					"inp_tableName": {
						"type": "string"
					},
					"out_schemaName": {
						"type": "string"
					},
					"out_tableName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "0_Redshift to Azure SQL - Initial Load"
				},
				"annotations": [],
				"lastPublishTime": "2021-06-20T21:55:13Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Qral_PUF_PROD_Redshift_to AzureSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Redshift_to_AzureSQL_Qral_PUF_Prod",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AmazonRedshiftSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "redshift_Qral_PUF_PROD",
								"type": "DatasetReference",
								"parameters": {
									"schemaName": {
										"value": "@pipeline().parameters.inp_schemaName",
										"type": "Expression"
									},
									"tableName": {
										"value": "@pipeline().parameters.inp_tableName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Azure_Qral_Dev_Table",
								"type": "DatasetReference",
								"parameters": {
									"schemaName": {
										"value": "@pipeline().parameters.out_schemaName",
										"type": "Expression"
									},
									"tableName": {
										"value": "@pipeline().parameters.out_tableName",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"inp_schemaName": {
						"type": "string"
					},
					"inp_tableName": {
						"type": "string"
					},
					"out_schemaName": {
						"type": "string"
					},
					"out_tableName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "0_Redshift to Azure SQL - Initial Load"
				},
				"annotations": [],
				"lastPublishTime": "2021-05-20T03:37:20Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/A0_Initial_Load_NUCC_Taxonomy')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "PUF_1_Load_NPPES"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "nucc_taxonomy",
								"type": "DatasetReference"
							},
							"name": "ReadinRawNUCCTaxonomy"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "0_ld_nucc_taxonomy_year",
								"type": "DatasetReference"
							},
							"name": "LoadToSQL"
						}
					],
					"transformations": [
						{
							"name": "AddYear"
						}
					],
					"script": "parameters{\n\tnucc_year_raw_file_suffix as string,\n\tdata_year as string\n}\nsource(output(\n\t\tCode as string,\n\t\tGrouping as string,\n\t\tClassification as string,\n\t\tSpecialization as string,\n\t\tDefinition as string,\n\t\t{Effective Date} as date 'MM/dd/yyyy',\n\t\t{Deactivation Date} as date 'MM/dd/yyyy',\n\t\t{Last Modified Date} as string,\n\t\tNotes as string,\n\t\t{Display Name} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\twildcardPaths:[(concat('nucc_taxonomy_',$nucc_year_raw_file_suffix,'.csv'))]) ~> ReadinRawNUCCTaxonomy\nReadinRawNUCCTaxonomy derive(year = $data_year) ~> AddYear\nAddYear sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> LoadToSQL"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/InitialLoadNUCCTaxonomy')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "PUF_1_Load_NPPES"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "nucc_taxonomy",
								"type": "DatasetReference"
							},
							"name": "ReadinRawNUCCTaxonomy"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "0_ld_nucc_taxonomy_year",
								"type": "DatasetReference"
							},
							"name": "LoadToSQL"
						}
					],
					"transformations": [
						{
							"name": "AddYear"
						}
					],
					"script": "parameters{\n\tnucc_year_raw_file_suffix as string,\n\tdata_year as string\n}\nsource(output(\n\t\tCode as string,\n\t\tGrouping as string,\n\t\tClassification as string,\n\t\tSpecialization as string,\n\t\tDefinition as string,\n\t\t{Effective Date} as date 'MM/dd/yyyy',\n\t\t{Deactivation Date} as date 'MM/dd/yyyy',\n\t\t{Last Modified Date} as string,\n\t\tNotes as string,\n\t\t{Display Name} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\twildcardPaths:[(concat('nucc_taxonomy_',$nucc_year_raw_file_suffix,'.csv'))]) ~> ReadinRawNUCCTaxonomy\nReadinRawNUCCTaxonomy derive(year = $data_year) ~> AddYear\nAddYear sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> LoadToSQL"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_DF_1_Load_NPPES_Month')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "PUF_1_Load_NPPES"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "PUF_DS_0_raw_cms_nppes",
								"type": "DatasetReference"
							},
							"name": "RawCMSNPPESMonth"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "PUF_DS_1_ld_cms_nppes",
								"type": "DatasetReference"
							},
							"name": "sinkNPPESMain"
						},
						{
							"dataset": {
								"referenceName": "PUF_DS_1_ld_cms_nppes_other_provider_identifiers",
								"type": "DatasetReference"
							},
							"name": "sinkNPPESOtherProvider"
						},
						{
							"dataset": {
								"referenceName": "PUF_DS_1_LD_cms_nppes_provider_taxonomy",
								"type": "DatasetReference"
							},
							"name": "sinkProviderTaxonomy"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn1"
						},
						{
							"name": "SelectNPPESMain"
						},
						{
							"name": "SelectNPPESOtherProviderIdentifiers"
						},
						{
							"name": "SelectNPPESProviderTaxonomy"
						},
						{
							"name": "LowerCaseProvTaxonomy"
						},
						{
							"name": "LowerCaseOtherProvId"
						},
						{
							"name": "LowerNPPESMain"
						}
					],
					"script": "source(output(\n\t\tNPI as string,\n\t\t{Entity Type Code} as string,\n\t\t{Replacement NPI} as string,\n\t\t{Employer Identification Number (EIN)} as string,\n\t\t{Provider Organization Name (Legal Business Name)} as string,\n\t\t{Provider Last Name (Legal Name)} as string,\n\t\t{Provider First Name} as string,\n\t\t{Provider Middle Name} as string,\n\t\t{Provider Name Prefix Text} as string,\n\t\t{Provider Name Suffix Text} as string,\n\t\t{Provider Credential Text} as string,\n\t\t{Provider Other Organization Name} as string,\n\t\t{Provider Other Organization Name Type Code} as string,\n\t\t{Provider Other Last Name} as string,\n\t\t{Provider Other First Name} as string,\n\t\t{Provider Other Middle Name} as string,\n\t\t{Provider Other Name Prefix Text} as string,\n\t\t{Provider Other Name Suffix Text} as string,\n\t\t{Provider Other Credential Text} as string,\n\t\t{Provider Other Last Name Type Code} as string,\n\t\t{Provider First Line Business Mailing Address} as string,\n\t\t{Provider Second Line Business Mailing Address} as string,\n\t\t{Provider Business Mailing Address City Name} as string,\n\t\t{Provider Business Mailing Address State Name} as string,\n\t\t{Provider Business Mailing Address Postal Code} as string,\n\t\t{Provider Business Mailing Address Country Code (If outside U.S.)} as string,\n\t\t{Provider Business Mailing Address Telephone Number} as string,\n\t\t{Provider Business Mailing Address Fax Number} as string,\n\t\t{Provider First Line Business Practice Location Address} as string,\n\t\t{Provider Second Line Business Practice Location Address} as string,\n\t\t{Provider Business Practice Location Address City Name} as string,\n\t\t{Provider Business Practice Location Address State Name} as string,\n\t\t{Provider Business Practice Location Address Postal Code} as string,\n\t\t{Provider Business Practice Location Address Country Code (If outside U.S.)} as string,\n\t\t{Provider Business Practice Location Address Telephone Number} as string,\n\t\t{Provider Business Practice Location Address Fax Number} as string,\n\t\t{Provider Enumeration Date} as string,\n\t\t{Last Update Date} as string,\n\t\t{NPI Deactivation Reason Code} as string,\n\t\t{NPI Deactivation Date} as string,\n\t\t{NPI Reactivation Date} as string,\n\t\t{Provider Gender Code} as string,\n\t\t{Authorized Official Last Name} as string,\n\t\t{Authorized Official First Name} as string,\n\t\t{Authorized Official Middle Name} as string,\n\t\t{Authorized Official Title or Position} as string,\n\t\t{Authorized Official Telephone Number} as string,\n\t\t{Healthcare Provider Taxonomy Code_1} as string,\n\t\t{Provider License Number_1} as string,\n\t\t{Provider License Number State Code_1} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_1} as string,\n\t\t{Healthcare Provider Taxonomy Code_2} as string,\n\t\t{Provider License Number_2} as string,\n\t\t{Provider License Number State Code_2} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_2} as string,\n\t\t{Healthcare Provider Taxonomy Code_3} as string,\n\t\t{Provider License Number_3} as string,\n\t\t{Provider License Number State Code_3} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_3} as string,\n\t\t{Healthcare Provider Taxonomy Code_4} as string,\n\t\t{Provider License Number_4} as string,\n\t\t{Provider License Number State Code_4} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_4} as string,\n\t\t{Healthcare Provider Taxonomy Code_5} as string,\n\t\t{Provider License Number_5} as string,\n\t\t{Provider License Number State Code_5} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_5} as string,\n\t\t{Healthcare Provider Taxonomy Code_6} as string,\n\t\t{Provider License Number_6} as string,\n\t\t{Provider License Number State Code_6} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_6} as string,\n\t\t{Healthcare Provider Taxonomy Code_7} as string,\n\t\t{Provider License Number_7} as string,\n\t\t{Provider License Number State Code_7} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_7} as string,\n\t\t{Healthcare Provider Taxonomy Code_8} as string,\n\t\t{Provider License Number_8} as string,\n\t\t{Provider License Number State Code_8} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_8} as string,\n\t\t{Healthcare Provider Taxonomy Code_9} as string,\n\t\t{Provider License Number_9} as string,\n\t\t{Provider License Number State Code_9} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_9} as string,\n\t\t{Healthcare Provider Taxonomy Code_10} as string,\n\t\t{Provider License Number_10} as string,\n\t\t{Provider License Number State Code_10} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_10} as string,\n\t\t{Healthcare Provider Taxonomy Code_11} as string,\n\t\t{Provider License Number_11} as string,\n\t\t{Provider License Number State Code_11} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_11} as string,\n\t\t{Healthcare Provider Taxonomy Code_12} as string,\n\t\t{Provider License Number_12} as string,\n\t\t{Provider License Number State Code_12} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_12} as string,\n\t\t{Healthcare Provider Taxonomy Code_13} as string,\n\t\t{Provider License Number_13} as string,\n\t\t{Provider License Number State Code_13} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_13} as string,\n\t\t{Healthcare Provider Taxonomy Code_14} as string,\n\t\t{Provider License Number_14} as string,\n\t\t{Provider License Number State Code_14} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_14} as string,\n\t\t{Healthcare Provider Taxonomy Code_15} as string,\n\t\t{Provider License Number_15} as string,\n\t\t{Provider License Number State Code_15} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_15} as string,\n\t\t{Other Provider Identifier_1} as string,\n\t\t{Other Provider Identifier Type Code_1} as string,\n\t\t{Other Provider Identifier State_1} as string,\n\t\t{Other Provider Identifier Issuer_1} as string,\n\t\t{Other Provider Identifier_2} as string,\n\t\t{Other Provider Identifier Type Code_2} as string,\n\t\t{Other Provider Identifier State_2} as string,\n\t\t{Other Provider Identifier Issuer_2} as string,\n\t\t{Other Provider Identifier_3} as string,\n\t\t{Other Provider Identifier Type Code_3} as string,\n\t\t{Other Provider Identifier State_3} as string,\n\t\t{Other Provider Identifier Issuer_3} as string,\n\t\t{Other Provider Identifier_4} as string,\n\t\t{Other Provider Identifier Type Code_4} as string,\n\t\t{Other Provider Identifier State_4} as string,\n\t\t{Other Provider Identifier Issuer_4} as string,\n\t\t{Other Provider Identifier_5} as string,\n\t\t{Other Provider Identifier Type Code_5} as string,\n\t\t{Other Provider Identifier State_5} as string,\n\t\t{Other Provider Identifier Issuer_5} as string,\n\t\t{Other Provider Identifier_6} as string,\n\t\t{Other Provider Identifier Type Code_6} as string,\n\t\t{Other Provider Identifier State_6} as string,\n\t\t{Other Provider Identifier Issuer_6} as string,\n\t\t{Other Provider Identifier_7} as string,\n\t\t{Other Provider Identifier Type Code_7} as string,\n\t\t{Other Provider Identifier State_7} as string,\n\t\t{Other Provider Identifier Issuer_7} as string,\n\t\t{Other Provider Identifier_8} as string,\n\t\t{Other Provider Identifier Type Code_8} as string,\n\t\t{Other Provider Identifier State_8} as string,\n\t\t{Other Provider Identifier Issuer_8} as string,\n\t\t{Other Provider Identifier_9} as string,\n\t\t{Other Provider Identifier Type Code_9} as string,\n\t\t{Other Provider Identifier State_9} as string,\n\t\t{Other Provider Identifier Issuer_9} as string,\n\t\t{Other Provider Identifier_10} as string,\n\t\t{Other Provider Identifier Type Code_10} as string,\n\t\t{Other Provider Identifier State_10} as string,\n\t\t{Other Provider Identifier Issuer_10} as string,\n\t\t{Other Provider Identifier_11} as string,\n\t\t{Other Provider Identifier Type Code_11} as string,\n\t\t{Other Provider Identifier State_11} as string,\n\t\t{Other Provider Identifier Issuer_11} as string,\n\t\t{Other Provider Identifier_12} as string,\n\t\t{Other Provider Identifier Type Code_12} as string,\n\t\t{Other Provider Identifier State_12} as string,\n\t\t{Other Provider Identifier Issuer_12} as string,\n\t\t{Other Provider Identifier_13} as string,\n\t\t{Other Provider Identifier Type Code_13} as string,\n\t\t{Other Provider Identifier State_13} as string,\n\t\t{Other Provider Identifier Issuer_13} as string,\n\t\t{Other Provider Identifier_14} as string,\n\t\t{Other Provider Identifier Type Code_14} as string,\n\t\t{Other Provider Identifier State_14} as string,\n\t\t{Other Provider Identifier Issuer_14} as string,\n\t\t{Other Provider Identifier_15} as string,\n\t\t{Other Provider Identifier Type Code_15} as string,\n\t\t{Other Provider Identifier State_15} as string,\n\t\t{Other Provider Identifier Issuer_15} as string,\n\t\t{Other Provider Identifier_16} as string,\n\t\t{Other Provider Identifier Type Code_16} as string,\n\t\t{Other Provider Identifier State_16} as string,\n\t\t{Other Provider Identifier Issuer_16} as string,\n\t\t{Other Provider Identifier_17} as string,\n\t\t{Other Provider Identifier Type Code_17} as string,\n\t\t{Other Provider Identifier State_17} as string,\n\t\t{Other Provider Identifier Issuer_17} as string,\n\t\t{Other Provider Identifier_18} as string,\n\t\t{Other Provider Identifier Type Code_18} as string,\n\t\t{Other Provider Identifier State_18} as string,\n\t\t{Other Provider Identifier Issuer_18} as string,\n\t\t{Other Provider Identifier_19} as string,\n\t\t{Other Provider Identifier Type Code_19} as string,\n\t\t{Other Provider Identifier State_19} as string,\n\t\t{Other Provider Identifier Issuer_19} as string,\n\t\t{Other Provider Identifier_20} as string,\n\t\t{Other Provider Identifier Type Code_20} as string,\n\t\t{Other Provider Identifier State_20} as string,\n\t\t{Other Provider Identifier Issuer_20} as string,\n\t\t{Other Provider Identifier_21} as string,\n\t\t{Other Provider Identifier Type Code_21} as string,\n\t\t{Other Provider Identifier State_21} as string,\n\t\t{Other Provider Identifier Issuer_21} as string,\n\t\t{Other Provider Identifier_22} as string,\n\t\t{Other Provider Identifier Type Code_22} as string,\n\t\t{Other Provider Identifier State_22} as string,\n\t\t{Other Provider Identifier Issuer_22} as string,\n\t\t{Other Provider Identifier_23} as string,\n\t\t{Other Provider Identifier Type Code_23} as string,\n\t\t{Other Provider Identifier State_23} as string,\n\t\t{Other Provider Identifier Issuer_23} as string,\n\t\t{Other Provider Identifier_24} as string,\n\t\t{Other Provider Identifier Type Code_24} as string,\n\t\t{Other Provider Identifier State_24} as string,\n\t\t{Other Provider Identifier Issuer_24} as string,\n\t\t{Other Provider Identifier_25} as string,\n\t\t{Other Provider Identifier Type Code_25} as string,\n\t\t{Other Provider Identifier State_25} as string,\n\t\t{Other Provider Identifier Issuer_25} as string,\n\t\t{Other Provider Identifier_26} as string,\n\t\t{Other Provider Identifier Type Code_26} as string,\n\t\t{Other Provider Identifier State_26} as string,\n\t\t{Other Provider Identifier Issuer_26} as string,\n\t\t{Other Provider Identifier_27} as string,\n\t\t{Other Provider Identifier Type Code_27} as string,\n\t\t{Other Provider Identifier State_27} as string,\n\t\t{Other Provider Identifier Issuer_27} as string,\n\t\t{Other Provider Identifier_28} as string,\n\t\t{Other Provider Identifier Type Code_28} as string,\n\t\t{Other Provider Identifier State_28} as string,\n\t\t{Other Provider Identifier Issuer_28} as string,\n\t\t{Other Provider Identifier_29} as string,\n\t\t{Other Provider Identifier Type Code_29} as string,\n\t\t{Other Provider Identifier State_29} as string,\n\t\t{Other Provider Identifier Issuer_29} as string,\n\t\t{Other Provider Identifier_30} as string,\n\t\t{Other Provider Identifier Type Code_30} as string,\n\t\t{Other Provider Identifier State_30} as string,\n\t\t{Other Provider Identifier Issuer_30} as string,\n\t\t{Other Provider Identifier_31} as string,\n\t\t{Other Provider Identifier Type Code_31} as string,\n\t\t{Other Provider Identifier State_31} as string,\n\t\t{Other Provider Identifier Issuer_31} as string,\n\t\t{Other Provider Identifier_32} as string,\n\t\t{Other Provider Identifier Type Code_32} as string,\n\t\t{Other Provider Identifier State_32} as string,\n\t\t{Other Provider Identifier Issuer_32} as string,\n\t\t{Other Provider Identifier_33} as string,\n\t\t{Other Provider Identifier Type Code_33} as string,\n\t\t{Other Provider Identifier State_33} as string,\n\t\t{Other Provider Identifier Issuer_33} as string,\n\t\t{Other Provider Identifier_34} as string,\n\t\t{Other Provider Identifier Type Code_34} as string,\n\t\t{Other Provider Identifier State_34} as string,\n\t\t{Other Provider Identifier Issuer_34} as string,\n\t\t{Other Provider Identifier_35} as string,\n\t\t{Other Provider Identifier Type Code_35} as string,\n\t\t{Other Provider Identifier State_35} as string,\n\t\t{Other Provider Identifier Issuer_35} as string,\n\t\t{Other Provider Identifier_36} as string,\n\t\t{Other Provider Identifier Type Code_36} as string,\n\t\t{Other Provider Identifier State_36} as string,\n\t\t{Other Provider Identifier Issuer_36} as string,\n\t\t{Other Provider Identifier_37} as string,\n\t\t{Other Provider Identifier Type Code_37} as string,\n\t\t{Other Provider Identifier State_37} as string,\n\t\t{Other Provider Identifier Issuer_37} as string,\n\t\t{Other Provider Identifier_38} as string,\n\t\t{Other Provider Identifier Type Code_38} as string,\n\t\t{Other Provider Identifier State_38} as string,\n\t\t{Other Provider Identifier Issuer_38} as string,\n\t\t{Other Provider Identifier_39} as string,\n\t\t{Other Provider Identifier Type Code_39} as string,\n\t\t{Other Provider Identifier State_39} as string,\n\t\t{Other Provider Identifier Issuer_39} as string,\n\t\t{Other Provider Identifier_40} as string,\n\t\t{Other Provider Identifier Type Code_40} as string,\n\t\t{Other Provider Identifier State_40} as string,\n\t\t{Other Provider Identifier Issuer_40} as string,\n\t\t{Other Provider Identifier_41} as string,\n\t\t{Other Provider Identifier Type Code_41} as string,\n\t\t{Other Provider Identifier State_41} as string,\n\t\t{Other Provider Identifier Issuer_41} as string,\n\t\t{Other Provider Identifier_42} as string,\n\t\t{Other Provider Identifier Type Code_42} as string,\n\t\t{Other Provider Identifier State_42} as string,\n\t\t{Other Provider Identifier Issuer_42} as string,\n\t\t{Other Provider Identifier_43} as string,\n\t\t{Other Provider Identifier Type Code_43} as string,\n\t\t{Other Provider Identifier State_43} as string,\n\t\t{Other Provider Identifier Issuer_43} as string,\n\t\t{Other Provider Identifier_44} as string,\n\t\t{Other Provider Identifier Type Code_44} as string,\n\t\t{Other Provider Identifier State_44} as string,\n\t\t{Other Provider Identifier Issuer_44} as string,\n\t\t{Other Provider Identifier_45} as string,\n\t\t{Other Provider Identifier Type Code_45} as string,\n\t\t{Other Provider Identifier State_45} as string,\n\t\t{Other Provider Identifier Issuer_45} as string,\n\t\t{Other Provider Identifier_46} as string,\n\t\t{Other Provider Identifier Type Code_46} as string,\n\t\t{Other Provider Identifier State_46} as string,\n\t\t{Other Provider Identifier Issuer_46} as string,\n\t\t{Other Provider Identifier_47} as string,\n\t\t{Other Provider Identifier Type Code_47} as string,\n\t\t{Other Provider Identifier State_47} as string,\n\t\t{Other Provider Identifier Issuer_47} as string,\n\t\t{Other Provider Identifier_48} as string,\n\t\t{Other Provider Identifier Type Code_48} as string,\n\t\t{Other Provider Identifier State_48} as string,\n\t\t{Other Provider Identifier Issuer_48} as string,\n\t\t{Other Provider Identifier_49} as string,\n\t\t{Other Provider Identifier Type Code_49} as string,\n\t\t{Other Provider Identifier State_49} as string,\n\t\t{Other Provider Identifier Issuer_49} as string,\n\t\t{Other Provider Identifier_50} as string,\n\t\t{Other Provider Identifier Type Code_50} as string,\n\t\t{Other Provider Identifier State_50} as string,\n\t\t{Other Provider Identifier Issuer_50} as string,\n\t\t{Is Sole Proprietor} as string,\n\t\t{Is Organization Subpart} as string,\n\t\t{Parent Organization LBN} as string,\n\t\t{Parent Organization TIN} as string,\n\t\t{Authorized Official Name Prefix Text} as string,\n\t\t{Authorized Official Name Suffix Text} as string,\n\t\t{Authorized Official Credential Text} as string,\n\t\t{Healthcare Provider Taxonomy Group_1} as string,\n\t\t{Healthcare Provider Taxonomy Group_2} as string,\n\t\t{Healthcare Provider Taxonomy Group_3} as string,\n\t\t{Healthcare Provider Taxonomy Group_4} as string,\n\t\t{Healthcare Provider Taxonomy Group_5} as string,\n\t\t{Healthcare Provider Taxonomy Group_6} as string,\n\t\t{Healthcare Provider Taxonomy Group_7} as string,\n\t\t{Healthcare Provider Taxonomy Group_8} as string,\n\t\t{Healthcare Provider Taxonomy Group_9} as string,\n\t\t{Healthcare Provider Taxonomy Group_10} as string,\n\t\t{Healthcare Provider Taxonomy Group_11} as string,\n\t\t{Healthcare Provider Taxonomy Group_12} as string,\n\t\t{Healthcare Provider Taxonomy Group_13} as string,\n\t\t{Healthcare Provider Taxonomy Group_14} as string,\n\t\t{Healthcare Provider Taxonomy Group_15} as string,\n\t\t{Certification Date} as string,\n\t\tdata_month as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table',\n\tpartitionBy('roundRobin', 1000)) ~> RawCMSNPPESMonth\nRawCMSNPPESMonth derive({Entity Type} = iif({Entity Type Code}=='1', 'Individual', \n    iif({Entity Type Code}=='2', 'Organization', {Entity Type Code})),\n\t\tdata_month = toInteger(data_month),\n\t\t{Active Flag} = iif({NPI Deactivation Date} != '' && {NPI Reactivation Date} == '', '0', '1'),\n\t\t{Provider Second Line Business Practice Location Address} = replace({Provider Second Line Business Practice Location Address}, '\\\\', ''),\n\t\t{Authorized Official Title or Position} = replace({Authorized Official Title or Position},'\\\\',''),\n\t\t{Provider Enumeration Date} = toDate({Provider Enumeration Date}, 'MM/dd/yyyy'),\n\t\t{Last Update Date} = toDate({Last Update Date}, 'MM/dd/yyyy'),\n\t\t{NPI Deactivation Date} = toDate({NPI Deactivation Date}, 'MM/dd/yyyy'),\n\t\t{NPI Reactivation Date} = toDate({NPI Reactivation Date}, 'MM/dd/yyyy'),\n\t\t{Certification Date} = toDate({Certification Date}, 'MM/dd/yyyy'),\n\tpartitionBy('roundRobin', 100)) ~> DerivedColumn1\nDerivedColumn1 select(mapColumn(\n\t\tNPI,\n\t\tdata_month,\n\t\t{Active Flag},\n\t\t{Entity Type Code},\n\t\t{Entity Type},\n\t\t{Replacement NPI},\n\t\t{Employer Identification Number (EIN)},\n\t\t{Provider Organization Name (Legal Business Name)},\n\t\t{Provider Last Name (Legal Name)},\n\t\t{Provider First Name},\n\t\t{Provider Middle Name},\n\t\t{Provider Name Prefix Text},\n\t\t{Provider Name Suffix Text},\n\t\t{Provider Credential Text},\n\t\t{Provider Other Organization Name},\n\t\t{Provider Other Organization Name Type Code},\n\t\t{Provider Other Last Name},\n\t\t{Provider Other First Name},\n\t\t{Provider Other Middle Name},\n\t\t{Provider Other Name Prefix Text},\n\t\t{Provider Other Name Suffix Text},\n\t\t{Provider Other Credential Text},\n\t\t{Provider Other Last Name Type Code},\n\t\t{Provider First Line Business Mailing Address},\n\t\t{Provider Second Line Business Mailing Address},\n\t\t{Provider Business Mailing Address City Name},\n\t\t{Provider Business Mailing Address State Name},\n\t\t{Provider Business Mailing Address Postal Code},\n\t\t{Provider Business Mailing Address Country Code (if outside U.S.) } = {Provider Business Mailing Address Country Code (If outside U.S.)},\n\t\t{Provider Business Mailing Address Telephone Number},\n\t\t{Provider Business Mailing Address Fax Number},\n\t\t{Provider First Line Business Practice Location Address},\n\t\t{Provider Second Line Business Practice Location Address},\n\t\t{Provider Business Practice Location Address City Name},\n\t\t{Provider Business Practice Location Address State Name},\n\t\t{Provider Business Practice Location Address Postal Code},\n\t\t{Provider Business Practice Location Address Country Code Out US} = {Provider Business Practice Location Address Country Code (If outside U.S.)},\n\t\t{Provider Business Practice Location Address Telephone Number},\n\t\t{Provider Business Practice Location Address Fax Number},\n\t\t{Provider Enumeration Date},\n\t\t{Last Update Date},\n\t\t{NPI Deactivation Reason Code},\n\t\t{NPI Deactivation Date},\n\t\t{NPI Reactivation Date},\n\t\t{Provider Gender Code},\n\t\t{Authorized Official Last Name},\n\t\t{Authorized Official First Name},\n\t\t{Authorized Official Middle Name},\n\t\t{Authorized Official Title or Position},\n\t\t{Authorized Official Telephone Number},\n\t\t{Healthcare Provider Taxonomy Code_1},\n\t\t{Provider License Number_1},\n\t\t{Provider License Number State Code_1},\n\t\t{Healthcare Provider Primary Taxonomy Switch_1},\n\t\t{Healthcare Provider Taxonomy Code_2},\n\t\t{Provider License Number_2},\n\t\t{Provider License Number State Code_2},\n\t\t{Healthcare Provider Primary Taxonomy Switch_2},\n\t\t{Healthcare Provider Taxonomy Code_3},\n\t\t{Provider License Number_3},\n\t\t{Provider License Number State Code_3},\n\t\t{Healthcare Provider Primary Taxonomy Switch_3},\n\t\t{Is Sole Proprietor},\n\t\t{Is Organization Subpart},\n\t\t{Is Sole Proprietor},\n\t\t{Is Organization Subpart},\n\t\t{Parent Organization LBN},\n\t\t{Parent Organization TIN},\n\t\t{Authorized Official Name Prefix Text},\n\t\t{Authorized Official Name Suffix Text},\n\t\t{Authorized Official Credential Text},\n\t\t{Healthcare Provider Taxonomy Group_1},\n\t\t{Healthcare Provider Taxonomy Group_2},\n\t\t{Healthcare Provider Taxonomy Group_3}\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectNPPESMain\nDerivedColumn1 select(mapColumn(\n\t\tNPI,\n\t\tdata_month,\n\t\t{Active Flag},\n\t\t{Entity Type},\n\t\t{Entity Type Code},\n\t\t{Other Provider Identifier_1},\n\t\t{Other Provider Identifier Type Code_1},\n\t\t{Other Provider Identifier State_1},\n\t\t{Other Provider Identifier Issuer_1},\n\t\t{Other Provider Identifier_2},\n\t\t{Other Provider Identifier Type Code_2},\n\t\t{Other Provider Identifier State_2},\n\t\t{Other Provider Identifier Issuer_2},\n\t\t{Other Provider Identifier_3},\n\t\t{Other Provider Identifier Type Code_3},\n\t\t{Other Provider Identifier State_3},\n\t\t{Other Provider Identifier Issuer_3},\n\t\t{Other Provider Identifier_4},\n\t\t{Other Provider Identifier Type Code_4},\n\t\t{Other Provider Identifier State_4},\n\t\t{Other Provider Identifier Issuer_4},\n\t\t{Other Provider Identifier_5},\n\t\t{Other Provider Identifier Type Code_5},\n\t\t{Other Provider Identifier State_5},\n\t\t{Other Provider Identifier Issuer_5},\n\t\t{Other Provider Identifier_6},\n\t\t{Other Provider Identifier Type Code_6},\n\t\t{Other Provider Identifier State_6},\n\t\t{Other Provider Identifier Issuer_6},\n\t\t{Other Provider Identifier_7},\n\t\t{Other Provider Identifier Type Code_7},\n\t\t{Other Provider Identifier State_7},\n\t\t{Other Provider Identifier Issuer_7},\n\t\t{Other Provider Identifier_8},\n\t\t{Other Provider Identifier Type Code_8},\n\t\t{Other Provider Identifier State_8},\n\t\t{Other Provider Identifier Issuer_8},\n\t\t{Other Provider Identifier_9},\n\t\t{Other Provider Identifier Type Code_9},\n\t\t{Other Provider Identifier State_9},\n\t\t{Other Provider Identifier Issuer_9},\n\t\t{Other Provider Identifier_10},\n\t\t{Other Provider Identifier Type Code_10},\n\t\t{Other Provider Identifier State_10},\n\t\t{Other Provider Identifier Issuer_10},\n\t\t{Other Provider Identifier_11},\n\t\t{Other Provider Identifier Type Code_11},\n\t\t{Other Provider Identifier State_11},\n\t\t{Other Provider Identifier Issuer_11},\n\t\t{Other Provider Identifier_12},\n\t\t{Other Provider Identifier Type Code_12},\n\t\t{Other Provider Identifier State_12},\n\t\t{Other Provider Identifier Issuer_12},\n\t\t{Other Provider Identifier_13},\n\t\t{Other Provider Identifier Type Code_13},\n\t\t{Other Provider Identifier State_13},\n\t\t{Other Provider Identifier Issuer_13},\n\t\t{Other Provider Identifier_14},\n\t\t{Other Provider Identifier Type Code_14},\n\t\t{Other Provider Identifier State_14},\n\t\t{Other Provider Identifier Issuer_14},\n\t\t{Other Provider Identifier_15},\n\t\t{Other Provider Identifier Type Code_15},\n\t\t{Other Provider Identifier State_15},\n\t\t{Other Provider Identifier Issuer_15},\n\t\t{Other Provider Identifier_16},\n\t\t{Other Provider Identifier Type Code_16},\n\t\t{Other Provider Identifier State_16},\n\t\t{Other Provider Identifier Issuer_16},\n\t\t{Other Provider Identifier_17},\n\t\t{Other Provider Identifier Type Code_17},\n\t\t{Other Provider Identifier State_17},\n\t\t{Other Provider Identifier Issuer_17},\n\t\t{Other Provider Identifier_18},\n\t\t{Other Provider Identifier Type Code_18},\n\t\t{Other Provider Identifier State_18},\n\t\t{Other Provider Identifier Issuer_18},\n\t\t{Other Provider Identifier_19},\n\t\t{Other Provider Identifier Type Code_19},\n\t\t{Other Provider Identifier State_19},\n\t\t{Other Provider Identifier Issuer_19},\n\t\t{Other Provider Identifier_20},\n\t\t{Other Provider Identifier Type Code_20},\n\t\t{Other Provider Identifier State_20},\n\t\t{Other Provider Identifier Issuer_20},\n\t\t{Other Provider Identifier_21},\n\t\t{Other Provider Identifier Type Code_21},\n\t\t{Other Provider Identifier State_21},\n\t\t{Other Provider Identifier Issuer_21},\n\t\t{Other Provider Identifier_22},\n\t\t{Other Provider Identifier Type Code_22},\n\t\t{Other Provider Identifier State_22},\n\t\t{Other Provider Identifier Issuer_22},\n\t\t{Other Provider Identifier_23},\n\t\t{Other Provider Identifier Type Code_23},\n\t\t{Other Provider Identifier State_23},\n\t\t{Other Provider Identifier Issuer_23},\n\t\t{Other Provider Identifier_24},\n\t\t{Other Provider Identifier Type Code_24},\n\t\t{Other Provider Identifier State_24},\n\t\t{Other Provider Identifier Issuer_24},\n\t\t{Other Provider Identifier_25},\n\t\t{Other Provider Identifier Type Code_25},\n\t\t{Other Provider Identifier State_25},\n\t\t{Other Provider Identifier Issuer_25},\n\t\t{Other Provider Identifier_26},\n\t\t{Other Provider Identifier Type Code_26},\n\t\t{Other Provider Identifier State_26},\n\t\t{Other Provider Identifier Issuer_26},\n\t\t{Other Provider Identifier_27},\n\t\t{Other Provider Identifier Type Code_27},\n\t\t{Other Provider Identifier State_27},\n\t\t{Other Provider Identifier Issuer_27},\n\t\t{Other Provider Identifier_28},\n\t\t{Other Provider Identifier Type Code_28},\n\t\t{Other Provider Identifier State_28},\n\t\t{Other Provider Identifier Issuer_28},\n\t\t{Other Provider Identifier_29},\n\t\t{Other Provider Identifier Type Code_29},\n\t\t{Other Provider Identifier State_29},\n\t\t{Other Provider Identifier Issuer_29},\n\t\t{Other Provider Identifier_30},\n\t\t{Other Provider Identifier Type Code_30},\n\t\t{Other Provider Identifier State_30},\n\t\t{Other Provider Identifier Issuer_30},\n\t\t{Other Provider Identifier_31},\n\t\t{Other Provider Identifier Type Code_31},\n\t\t{Other Provider Identifier State_31},\n\t\t{Other Provider Identifier Issuer_31},\n\t\t{Other Provider Identifier_32},\n\t\t{Other Provider Identifier Type Code_32},\n\t\t{Other Provider Identifier State_32},\n\t\t{Other Provider Identifier Issuer_32},\n\t\t{Other Provider Identifier_33},\n\t\t{Other Provider Identifier Type Code_33},\n\t\t{Other Provider Identifier State_33},\n\t\t{Other Provider Identifier Issuer_33},\n\t\t{Other Provider Identifier_34},\n\t\t{Other Provider Identifier Type Code_34},\n\t\t{Other Provider Identifier State_34},\n\t\t{Other Provider Identifier Issuer_34},\n\t\t{Other Provider Identifier_35},\n\t\t{Other Provider Identifier Type Code_35},\n\t\t{Other Provider Identifier State_35},\n\t\t{Other Provider Identifier Issuer_35},\n\t\t{Other Provider Identifier_36},\n\t\t{Other Provider Identifier Type Code_36},\n\t\t{Other Provider Identifier State_36},\n\t\t{Other Provider Identifier Issuer_36},\n\t\t{Other Provider Identifier_37},\n\t\t{Other Provider Identifier Type Code_37},\n\t\t{Other Provider Identifier State_37},\n\t\t{Other Provider Identifier Issuer_37},\n\t\t{Other Provider Identifier_38},\n\t\t{Other Provider Identifier Type Code_38},\n\t\t{Other Provider Identifier State_38},\n\t\t{Other Provider Identifier Issuer_38},\n\t\t{Other Provider Identifier_39},\n\t\t{Other Provider Identifier Type Code_39},\n\t\t{Other Provider Identifier State_39},\n\t\t{Other Provider Identifier Issuer_39},\n\t\t{Other Provider Identifier_40},\n\t\t{Other Provider Identifier Type Code_40},\n\t\t{Other Provider Identifier State_40},\n\t\t{Other Provider Identifier Issuer_40},\n\t\t{Other Provider Identifier_41},\n\t\t{Other Provider Identifier Type Code_41},\n\t\t{Other Provider Identifier State_41},\n\t\t{Other Provider Identifier Issuer_41},\n\t\t{Other Provider Identifier_42},\n\t\t{Other Provider Identifier Type Code_42},\n\t\t{Other Provider Identifier State_42},\n\t\t{Other Provider Identifier Issuer_42},\n\t\t{Other Provider Identifier_43},\n\t\t{Other Provider Identifier Type Code_43},\n\t\t{Other Provider Identifier State_43},\n\t\t{Other Provider Identifier Issuer_43},\n\t\t{Other Provider Identifier_44},\n\t\t{Other Provider Identifier Type Code_44},\n\t\t{Other Provider Identifier State_44},\n\t\t{Other Provider Identifier Issuer_44},\n\t\t{Other Provider Identifier_45},\n\t\t{Other Provider Identifier Type Code_45},\n\t\t{Other Provider Identifier State_45},\n\t\t{Other Provider Identifier Issuer_45},\n\t\t{Other Provider Identifier_46},\n\t\t{Other Provider Identifier Type Code_46},\n\t\t{Other Provider Identifier State_46},\n\t\t{Other Provider Identifier Issuer_46},\n\t\t{Other Provider Identifier_47},\n\t\t{Other Provider Identifier Type Code_47},\n\t\t{Other Provider Identifier State_47},\n\t\t{Other Provider Identifier Issuer_47},\n\t\t{Other Provider Identifier_48},\n\t\t{Other Provider Identifier Type Code_48},\n\t\t{Other Provider Identifier State_48},\n\t\t{Other Provider Identifier Issuer_48},\n\t\t{Other Provider Identifier_49},\n\t\t{Other Provider Identifier Type Code_49},\n\t\t{Other Provider Identifier State_49},\n\t\t{Other Provider Identifier Issuer_49},\n\t\t{Other Provider Identifier_50},\n\t\t{Other Provider Identifier Type Code_50},\n\t\t{Other Provider Identifier State_50},\n\t\t{Other Provider Identifier Issuer_50}\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectNPPESOtherProviderIdentifiers\nDerivedColumn1 select(mapColumn(\n\t\tNPI,\n\t\tdata_month,\n\t\t{Active Flag},\n\t\t{Entity Type Code},\n\t\t{Entity Type},\n\t\t{Healthcare Provider Taxonomy Code_1},\n\t\t{Provider License Number_1},\n\t\t{Provider License Number State Code_1},\n\t\t{Healthcare Provider Primary Taxonomy Switch_1},\n\t\t{Healthcare Provider Taxonomy Code_2},\n\t\t{Provider License Number_2},\n\t\t{Provider License Number State Code_2},\n\t\t{Healthcare Provider Primary Taxonomy Switch_2},\n\t\t{Healthcare Provider Taxonomy Code_3},\n\t\t{Provider License Number_3},\n\t\t{Provider License Number State Code_3},\n\t\t{Healthcare Provider Primary Taxonomy Switch_3},\n\t\t{Healthcare Provider Taxonomy Code_4},\n\t\t{Provider License Number_4},\n\t\t{Provider License Number State Code_4},\n\t\t{Healthcare Provider Primary Taxonomy Switch_4},\n\t\t{Healthcare Provider Taxonomy Code_5},\n\t\t{Provider License Number_5},\n\t\t{Provider License Number State Code_5},\n\t\t{Healthcare Provider Primary Taxonomy Switch_5},\n\t\t{Healthcare Provider Taxonomy Code_6},\n\t\t{Provider License Number_6},\n\t\t{Provider License Number State Code_6},\n\t\t{Healthcare Provider Primary Taxonomy Switch_6},\n\t\t{Healthcare Provider Taxonomy Code_7},\n\t\t{Provider License Number_7},\n\t\t{Provider License Number State Code_7},\n\t\t{Healthcare Provider Primary Taxonomy Switch_7},\n\t\t{Healthcare Provider Taxonomy Code_8},\n\t\t{Provider License Number_8},\n\t\t{Provider License Number State Code_8},\n\t\t{Healthcare Provider Primary Taxonomy Switch_8},\n\t\t{Healthcare Provider Taxonomy Code_9},\n\t\t{Provider License Number_9},\n\t\t{Provider License Number State Code_9},\n\t\t{Healthcare Provider Primary Taxonomy Switch_9},\n\t\t{Healthcare Provider Taxonomy Code_10},\n\t\t{Provider License Number_10},\n\t\t{Provider License Number State Code_10},\n\t\t{Healthcare Provider Primary Taxonomy Switch_10},\n\t\t{Healthcare Provider Taxonomy Code_11},\n\t\t{Provider License Number_11},\n\t\t{Provider License Number State Code_11},\n\t\t{Healthcare Provider Primary Taxonomy Switch_11},\n\t\t{Healthcare Provider Taxonomy Code_12},\n\t\t{Provider License Number_12},\n\t\t{Provider License Number State Code_12},\n\t\t{Healthcare Provider Primary Taxonomy Switch_12},\n\t\t{Healthcare Provider Taxonomy Code_13},\n\t\t{Provider License Number_13},\n\t\t{Provider License Number State Code_13},\n\t\t{Healthcare Provider Primary Taxonomy Switch_13},\n\t\t{Healthcare Provider Taxonomy Code_14},\n\t\t{Provider License Number_14},\n\t\t{Provider License Number State Code_14},\n\t\t{Healthcare Provider Primary Taxonomy Switch_14},\n\t\t{Healthcare Provider Taxonomy Code_15},\n\t\t{Provider License Number_15},\n\t\t{Provider License Number State Code_15},\n\t\t{Healthcare Provider Primary Taxonomy Switch_15},\n\t\t{Healthcare Provider Taxonomy Group_1},\n\t\t{Healthcare Provider Taxonomy Group_2},\n\t\t{Healthcare Provider Taxonomy Group_3},\n\t\t{Healthcare Provider Taxonomy Group_4},\n\t\t{Healthcare Provider Taxonomy Group_5},\n\t\t{Healthcare Provider Taxonomy Group_6},\n\t\t{Healthcare Provider Taxonomy Group_7},\n\t\t{Healthcare Provider Taxonomy Group_8},\n\t\t{Healthcare Provider Taxonomy Group_9},\n\t\t{Healthcare Provider Taxonomy Group_10},\n\t\t{Healthcare Provider Taxonomy Group_11},\n\t\t{Healthcare Provider Taxonomy Group_12},\n\t\t{Healthcare Provider Taxonomy Group_13},\n\t\t{Healthcare Provider Taxonomy Group_14},\n\t\t{Healthcare Provider Taxonomy Group_15}\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectNPPESProviderTaxonomy\nSelectNPPESProviderTaxonomy select(mapColumn(\n\t\teach(match(true()),\n\t\t\tlower($$) = $$)\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> LowerCaseProvTaxonomy\nSelectNPPESOtherProviderIdentifiers select(mapColumn(\n\t\teach(match(true()),\n\t\t\tlower($$) = $$)\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> LowerCaseOtherProvId\nSelectNPPESMain select(mapColumn(\n\t\teach(match(true()),\n\t\t\tlower($$) = $$)\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> LowerNPPESMain\nLowerNPPESMain sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tnpi as string,\n\t\tdata_month as integer,\n\t\t{active flag} as string,\n\t\t{entity type code} as string,\n\t\t{entity type} as string,\n\t\t{replacement npi} as string,\n\t\t{employer identification number (ein)} as string,\n\t\t{provider organization name (legal business name)} as string,\n\t\t{provider last name (legal name)} as string,\n\t\t{provider first name} as string,\n\t\t{provider middle name} as string,\n\t\t{provider name prefix text} as string,\n\t\t{provider name suffix text} as string,\n\t\t{provider credential text} as string,\n\t\t{provider other organization name} as string,\n\t\t{provider other organization name type code} as string,\n\t\t{provider other last name} as string,\n\t\t{provider other first name} as string,\n\t\t{provider other middle name} as string,\n\t\t{provider other name prefix text} as string,\n\t\t{provider other name suffix text} as string,\n\t\t{provider other credential text} as string,\n\t\t{provider other last name type code} as string,\n\t\t{provider first line business mailing address} as string,\n\t\t{provider second line business mailing address} as string,\n\t\t{provider business mailing address city name} as string,\n\t\t{provider business mailing address state name} as string,\n\t\t{provider business mailing address postal code} as string,\n\t\t{provider business mailing address country code (if outside u.s.) } as string,\n\t\t{provider business mailing address telephone number} as string,\n\t\t{provider business mailing address fax number} as string,\n\t\t{provider first line business practice location address} as string,\n\t\t{provider second line business practice location address} as string,\n\t\t{provider business practice location address city name} as string,\n\t\t{provider business practice location address state name} as string,\n\t\t{provider business practice location address postal code} as string,\n\t\t{provider business practice location address country code out us} as string,\n\t\t{provider business practice location address telephone number} as string,\n\t\t{provider business practice location address fax number} as string,\n\t\t{provider enumeration date} as date,\n\t\t{last update date} as date,\n\t\t{npi deactivation reason code} as string,\n\t\t{npi deactivation date} as date,\n\t\t{npi reactivation date} as date,\n\t\t{provider gender code} as string,\n\t\t{authorized official last name} as string,\n\t\t{authorized official first name} as string,\n\t\t{authorized official middle name} as string,\n\t\t{authorized official title or position} as string,\n\t\t{authorized official telephone number} as string,\n\t\t{healthcare provider taxonomy code_1} as string,\n\t\t{provider license number_1} as string,\n\t\t{provider license number state code_1} as string,\n\t\t{healthcare provider primary taxonomy switch_1} as string,\n\t\t{healthcare provider taxonomy code_2} as string,\n\t\t{provider license number_2} as string,\n\t\t{provider license number state code_2} as string,\n\t\t{healthcare provider primary taxonomy switch_2} as string,\n\t\t{healthcare provider taxonomy code_3} as string,\n\t\t{provider license number_3} as string,\n\t\t{provider license number state code_3} as string,\n\t\t{healthcare provider primary taxonomy switch_3} as string,\n\t\t{is sole proprietor} as string,\n\t\t{is organization subpart} as string,\n\t\t{parent organization lbn} as string,\n\t\t{parent organization tin} as string,\n\t\t{authorized official name prefix text} as string,\n\t\t{authorized official name suffix text} as string,\n\t\t{authorized official credential text} as string,\n\t\t{healthcare provider taxonomy group_1} as string,\n\t\t{healthcare provider taxonomy group_2} as string,\n\t\t{healthcare provider taxonomy group_3} as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sinkNPPESMain\nLowerCaseOtherProvId sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tnpi as string,\n\t\tdata_month as integer,\n\t\t{active flag} as string,\n\t\t{entity type} as string,\n\t\t{entity type code} as string,\n\t\t{other provider identifier_1} as string,\n\t\t{other provider identifier type code_1} as string,\n\t\t{other provider identifier state_1} as string,\n\t\t{other provider identifier issuer_1} as string,\n\t\t{other provider identifier_2} as string,\n\t\t{other provider identifier type code_2} as string,\n\t\t{other provider identifier state_2} as string,\n\t\t{other provider identifier issuer_2} as string,\n\t\t{other provider identifier_3} as string,\n\t\t{other provider identifier type code_3} as string,\n\t\t{other provider identifier state_3} as string,\n\t\t{other provider identifier issuer_3} as string,\n\t\t{other provider identifier_4} as string,\n\t\t{other provider identifier type code_4} as string,\n\t\t{other provider identifier state_4} as string,\n\t\t{other provider identifier issuer_4} as string,\n\t\t{other provider identifier_5} as string,\n\t\t{other provider identifier type code_5} as string,\n\t\t{other provider identifier state_5} as string,\n\t\t{other provider identifier issuer_5} as string,\n\t\t{other provider identifier_6} as string,\n\t\t{other provider identifier type code_6} as string,\n\t\t{other provider identifier state_6} as string,\n\t\t{other provider identifier issuer_6} as string,\n\t\t{other provider identifier_7} as string,\n\t\t{other provider identifier type code_7} as string,\n\t\t{other provider identifier state_7} as string,\n\t\t{other provider identifier issuer_7} as string,\n\t\t{other provider identifier_8} as string,\n\t\t{other provider identifier type code_8} as string,\n\t\t{other provider identifier state_8} as string,\n\t\t{other provider identifier issuer_8} as string,\n\t\t{other provider identifier_9} as string,\n\t\t{other provider identifier type code_9} as string,\n\t\t{other provider identifier state_9} as string,\n\t\t{other provider identifier issuer_9} as string,\n\t\t{other provider identifier_10} as string,\n\t\t{other provider identifier type code_10} as string,\n\t\t{other provider identifier state_10} as string,\n\t\t{other provider identifier issuer_10} as string,\n\t\t{other provider identifier_11} as string,\n\t\t{other provider identifier type code_11} as string,\n\t\t{other provider identifier state_11} as string,\n\t\t{other provider identifier issuer_11} as string,\n\t\t{other provider identifier_12} as string,\n\t\t{other provider identifier type code_12} as string,\n\t\t{other provider identifier state_12} as string,\n\t\t{other provider identifier issuer_12} as string,\n\t\t{other provider identifier_13} as string,\n\t\t{other provider identifier type code_13} as string,\n\t\t{other provider identifier state_13} as string,\n\t\t{other provider identifier issuer_13} as string,\n\t\t{other provider identifier_14} as string,\n\t\t{other provider identifier type code_14} as string,\n\t\t{other provider identifier state_14} as string,\n\t\t{other provider identifier issuer_14} as string,\n\t\t{other provider identifier_15} as string,\n\t\t{other provider identifier type code_15} as string,\n\t\t{other provider identifier state_15} as string,\n\t\t{other provider identifier issuer_15} as string,\n\t\t{other provider identifier_16} as string,\n\t\t{other provider identifier type code_16} as string,\n\t\t{other provider identifier state_16} as string,\n\t\t{other provider identifier issuer_16} as string,\n\t\t{other provider identifier_17} as string,\n\t\t{other provider identifier type code_17} as string,\n\t\t{other provider identifier state_17} as string,\n\t\t{other provider identifier issuer_17} as string,\n\t\t{other provider identifier_18} as string,\n\t\t{other provider identifier type code_18} as string,\n\t\t{other provider identifier state_18} as string,\n\t\t{other provider identifier issuer_18} as string,\n\t\t{other provider identifier_19} as string,\n\t\t{other provider identifier type code_19} as string,\n\t\t{other provider identifier state_19} as string,\n\t\t{other provider identifier issuer_19} as string,\n\t\t{other provider identifier_20} as string,\n\t\t{other provider identifier type code_20} as string,\n\t\t{other provider identifier state_20} as string,\n\t\t{other provider identifier issuer_20} as string,\n\t\t{other provider identifier_21} as string,\n\t\t{other provider identifier type code_21} as string,\n\t\t{other provider identifier state_21} as string,\n\t\t{other provider identifier issuer_21} as string,\n\t\t{other provider identifier_22} as string,\n\t\t{other provider identifier type code_22} as string,\n\t\t{other provider identifier state_22} as string,\n\t\t{other provider identifier issuer_22} as string,\n\t\t{other provider identifier_23} as string,\n\t\t{other provider identifier type code_23} as string,\n\t\t{other provider identifier state_23} as string,\n\t\t{other provider identifier issuer_23} as string,\n\t\t{other provider identifier_24} as string,\n\t\t{other provider identifier type code_24} as string,\n\t\t{other provider identifier state_24} as string,\n\t\t{other provider identifier issuer_24} as string,\n\t\t{other provider identifier_25} as string,\n\t\t{other provider identifier type code_25} as string,\n\t\t{other provider identifier state_25} as string,\n\t\t{other provider identifier issuer_25} as string,\n\t\t{other provider identifier_26} as string,\n\t\t{other provider identifier type code_26} as string,\n\t\t{other provider identifier state_26} as string,\n\t\t{other provider identifier issuer_26} as string,\n\t\t{other provider identifier_27} as string,\n\t\t{other provider identifier type code_27} as string,\n\t\t{other provider identifier state_27} as string,\n\t\t{other provider identifier issuer_27} as string,\n\t\t{other provider identifier_28} as string,\n\t\t{other provider identifier type code_28} as string,\n\t\t{other provider identifier state_28} as string,\n\t\t{other provider identifier issuer_28} as string,\n\t\t{other provider identifier_29} as string,\n\t\t{other provider identifier type code_29} as string,\n\t\t{other provider identifier state_29} as string,\n\t\t{other provider identifier issuer_29} as string,\n\t\t{other provider identifier_30} as string,\n\t\t{other provider identifier type code_30} as string,\n\t\t{other provider identifier state_30} as string,\n\t\t{other provider identifier issuer_30} as string,\n\t\t{other provider identifier_31} as string,\n\t\t{other provider identifier type code_31} as string,\n\t\t{other provider identifier state_31} as string,\n\t\t{other provider identifier issuer_31} as string,\n\t\t{other provider identifier_32} as string,\n\t\t{other provider identifier type code_32} as string,\n\t\t{other provider identifier state_32} as string,\n\t\t{other provider identifier issuer_32} as string,\n\t\t{other provider identifier_33} as string,\n\t\t{other provider identifier type code_33} as string,\n\t\t{other provider identifier state_33} as string,\n\t\t{other provider identifier issuer_33} as string,\n\t\t{other provider identifier_34} as string,\n\t\t{other provider identifier type code_34} as string,\n\t\t{other provider identifier state_34} as string,\n\t\t{other provider identifier issuer_34} as string,\n\t\t{other provider identifier_35} as string,\n\t\t{other provider identifier type code_35} as string,\n\t\t{other provider identifier state_35} as string,\n\t\t{other provider identifier issuer_35} as string,\n\t\t{other provider identifier_36} as string,\n\t\t{other provider identifier type code_36} as string,\n\t\t{other provider identifier state_36} as string,\n\t\t{other provider identifier issuer_36} as string,\n\t\t{other provider identifier_37} as string,\n\t\t{other provider identifier type code_37} as string,\n\t\t{other provider identifier state_37} as string,\n\t\t{other provider identifier issuer_37} as string,\n\t\t{other provider identifier_38} as string,\n\t\t{other provider identifier type code_38} as string,\n\t\t{other provider identifier state_38} as string,\n\t\t{other provider identifier issuer_38} as string,\n\t\t{other provider identifier_39} as string,\n\t\t{other provider identifier type code_39} as string,\n\t\t{other provider identifier state_39} as string,\n\t\t{other provider identifier issuer_39} as string,\n\t\t{other provider identifier_40} as string,\n\t\t{other provider identifier type code_40} as string,\n\t\t{other provider identifier state_40} as string,\n\t\t{other provider identifier issuer_40} as string,\n\t\t{other provider identifier_41} as string,\n\t\t{other provider identifier type code_41} as string,\n\t\t{other provider identifier state_41} as string,\n\t\t{other provider identifier issuer_41} as string,\n\t\t{other provider identifier_42} as string,\n\t\t{other provider identifier type code_42} as string,\n\t\t{other provider identifier state_42} as string,\n\t\t{other provider identifier issuer_42} as string,\n\t\t{other provider identifier_43} as string,\n\t\t{other provider identifier type code_43} as string,\n\t\t{other provider identifier state_43} as string,\n\t\t{other provider identifier issuer_43} as string,\n\t\t{other provider identifier_44} as string,\n\t\t{other provider identifier type code_44} as string,\n\t\t{other provider identifier state_44} as string,\n\t\t{other provider identifier issuer_44} as string,\n\t\t{other provider identifier_45} as string,\n\t\t{other provider identifier type code_45} as string,\n\t\t{other provider identifier state_45} as string,\n\t\t{other provider identifier issuer_45} as string,\n\t\t{other provider identifier_46} as string,\n\t\t{other provider identifier type code_46} as string,\n\t\t{other provider identifier state_46} as string,\n\t\t{other provider identifier issuer_46} as string,\n\t\t{other provider identifier_47} as string,\n\t\t{other provider identifier type code_47} as string,\n\t\t{other provider identifier state_47} as string,\n\t\t{other provider identifier issuer_47} as string,\n\t\t{other provider identifier_48} as string,\n\t\t{other provider identifier type code_48} as string,\n\t\t{other provider identifier state_48} as string,\n\t\t{other provider identifier issuer_48} as string,\n\t\t{other provider identifier_49} as string,\n\t\t{other provider identifier type code_49} as string,\n\t\t{other provider identifier state_49} as string,\n\t\t{other provider identifier issuer_49} as string,\n\t\t{other provider identifier_50} as string,\n\t\t{other provider identifier type code_50} as string,\n\t\t{other provider identifier state_50} as string,\n\t\t{other provider identifier issuer_50} as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sinkNPPESOtherProvider\nLowerCaseProvTaxonomy sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tnpi as string,\n\t\tdata_month as integer,\n\t\t{active flag} as string,\n\t\t{entity type code} as string,\n\t\t{entity type} as string,\n\t\t{healthcare provider taxonomy code_1} as string,\n\t\t{provider license number_1} as string,\n\t\t{provider license number state code_1} as string,\n\t\t{healthcare provider primary taxonomy switch_1} as string,\n\t\t{healthcare provider taxonomy code_2} as string,\n\t\t{provider license number_2} as string,\n\t\t{provider license number state code_2} as string,\n\t\t{healthcare provider primary taxonomy switch_2} as string,\n\t\t{healthcare provider taxonomy code_3} as string,\n\t\t{provider license number_3} as string,\n\t\t{provider license number state code_3} as string,\n\t\t{healthcare provider primary taxonomy switch_3} as string,\n\t\t{healthcare provider taxonomy code_4} as string,\n\t\t{provider license number_4} as string,\n\t\t{provider license number state code_4} as string,\n\t\t{healthcare provider primary taxonomy switch_4} as string,\n\t\t{healthcare provider taxonomy code_5} as string,\n\t\t{provider license number_5} as string,\n\t\t{provider license number state code_5} as string,\n\t\t{healthcare provider primary taxonomy switch_5} as string,\n\t\t{healthcare provider taxonomy code_6} as string,\n\t\t{provider license number_6} as string,\n\t\t{provider license number state code_6} as string,\n\t\t{healthcare provider primary taxonomy switch_6} as string,\n\t\t{healthcare provider taxonomy code_7} as string,\n\t\t{provider license number_7} as string,\n\t\t{provider license number state code_7} as string,\n\t\t{healthcare provider primary taxonomy switch_7} as string,\n\t\t{healthcare provider taxonomy code_8} as string,\n\t\t{provider license number_8} as string,\n\t\t{provider license number state code_8} as string,\n\t\t{healthcare provider primary taxonomy switch_8} as string,\n\t\t{healthcare provider taxonomy code_9} as string,\n\t\t{provider license number_9} as string,\n\t\t{provider license number state code_9} as string,\n\t\t{healthcare provider primary taxonomy switch_9} as string,\n\t\t{healthcare provider taxonomy code_10} as string,\n\t\t{provider license number_10} as string,\n\t\t{provider license number state code_10} as string,\n\t\t{healthcare provider primary taxonomy switch_10} as string,\n\t\t{healthcare provider taxonomy code_11} as string,\n\t\t{provider license number_11} as string,\n\t\t{provider license number state code_11} as string,\n\t\t{healthcare provider primary taxonomy switch_11} as string,\n\t\t{healthcare provider taxonomy code_12} as string,\n\t\t{provider license number_12} as string,\n\t\t{provider license number state code_12} as string,\n\t\t{healthcare provider primary taxonomy switch_12} as string,\n\t\t{healthcare provider taxonomy code_13} as string,\n\t\t{provider license number_13} as string,\n\t\t{provider license number state code_13} as string,\n\t\t{healthcare provider primary taxonomy switch_13} as string,\n\t\t{healthcare provider taxonomy code_14} as string,\n\t\t{provider license number_14} as string,\n\t\t{provider license number state code_14} as string,\n\t\t{healthcare provider primary taxonomy switch_14} as string,\n\t\t{healthcare provider taxonomy code_15} as string,\n\t\t{provider license number_15} as string,\n\t\t{provider license number state code_15} as string,\n\t\t{healthcare provider primary taxonomy switch_15} as string,\n\t\t{healthcare provider taxonomy group_1} as string,\n\t\t{healthcare provider taxonomy group_2} as string,\n\t\t{healthcare provider taxonomy group_3} as string,\n\t\t{healthcare provider taxonomy group_4} as string,\n\t\t{healthcare provider taxonomy group_5} as string,\n\t\t{healthcare provider taxonomy group_6} as string,\n\t\t{healthcare provider taxonomy group_7} as string,\n\t\t{healthcare provider taxonomy group_8} as string,\n\t\t{healthcare provider taxonomy group_9} as string,\n\t\t{healthcare provider taxonomy group_10} as string,\n\t\t{healthcare provider taxonomy group_11} as string,\n\t\t{healthcare provider taxonomy group_12} as string,\n\t\t{healthcare provider taxonomy group_13} as string,\n\t\t{healthcare provider taxonomy group_14} as string,\n\t\t{healthcare provider taxonomy group_15} as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sinkProviderTaxonomy"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_DF_2a_Stage_NPPES')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "PUF_2_Stage_NPPES"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "PUF_DS_1_LD_cms_nppes_provider_taxonomy",
								"type": "DatasetReference"
							},
							"name": "ProviderTaxonomyMonth"
						},
						{
							"dataset": {
								"referenceName": "PUF_DS_1_ld_cms_nppes_other_provider_identifiers",
								"type": "DatasetReference"
							},
							"name": "ProviderOtherIdentifiers"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "PUF_DS_2a_st_cms_nppes_provider_taxonomy",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"dataset": {
								"referenceName": "PUF_DS_2a_st_cms_nppes_other_provider_identifier",
								"type": "DatasetReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [
						{
							"name": "AddCurrentFlag"
						},
						{
							"name": "Normalized"
						},
						{
							"name": "RefineFieldNamePos"
						},
						{
							"name": "Pivot1"
						},
						{
							"name": "AddCurrentFlagProvOtherID"
						},
						{
							"name": "NormalizedProvOtherID"
						},
						{
							"name": "RefineFieldNamePosProvOtherID"
						},
						{
							"name": "Pivot2"
						},
						{
							"name": "Select1"
						},
						{
							"name": "Filter1"
						},
						{
							"name": "Filter2"
						}
					],
					"script": "source(output(\n\t\tnpi as string,\n\t\tdata_month as integer,\n\t\t{active flag} as string,\n\t\t{entity type code} as string,\n\t\t{entity type} as string,\n\t\t{healthcare provider taxonomy code_1} as string,\n\t\t{provider license number_1} as string,\n\t\t{provider license number state code_1} as string,\n\t\t{healthcare provider primary taxonomy switch_1} as string,\n\t\t{healthcare provider taxonomy code_2} as string,\n\t\t{provider license number_2} as string,\n\t\t{provider license number state code_2} as string,\n\t\t{healthcare provider primary taxonomy switch_2} as string,\n\t\t{healthcare provider taxonomy code_3} as string,\n\t\t{provider license number_3} as string,\n\t\t{provider license number state code_3} as string,\n\t\t{healthcare provider primary taxonomy switch_3} as string,\n\t\t{healthcare provider taxonomy code_4} as string,\n\t\t{provider license number_4} as string,\n\t\t{provider license number state code_4} as string,\n\t\t{healthcare provider primary taxonomy switch_4} as string,\n\t\t{healthcare provider taxonomy code_5} as string,\n\t\t{provider license number_5} as string,\n\t\t{provider license number state code_5} as string,\n\t\t{healthcare provider primary taxonomy switch_5} as string,\n\t\t{healthcare provider taxonomy code_6} as string,\n\t\t{provider license number_6} as string,\n\t\t{provider license number state code_6} as string,\n\t\t{healthcare provider primary taxonomy switch_6} as string,\n\t\t{healthcare provider taxonomy code_7} as string,\n\t\t{provider license number_7} as string,\n\t\t{provider license number state code_7} as string,\n\t\t{healthcare provider primary taxonomy switch_7} as string,\n\t\t{healthcare provider taxonomy code_8} as string,\n\t\t{provider license number_8} as string,\n\t\t{provider license number state code_8} as string,\n\t\t{healthcare provider primary taxonomy switch_8} as string,\n\t\t{healthcare provider taxonomy code_9} as string,\n\t\t{provider license number_9} as string,\n\t\t{provider license number state code_9} as string,\n\t\t{healthcare provider primary taxonomy switch_9} as string,\n\t\t{healthcare provider taxonomy code_10} as string,\n\t\t{provider license number_10} as string,\n\t\t{provider license number state code_10} as string,\n\t\t{healthcare provider primary taxonomy switch_10} as string,\n\t\t{healthcare provider taxonomy code_11} as string,\n\t\t{provider license number_11} as string,\n\t\t{provider license number state code_11} as string,\n\t\t{healthcare provider primary taxonomy switch_11} as string,\n\t\t{healthcare provider taxonomy code_12} as string,\n\t\t{provider license number_12} as string,\n\t\t{provider license number state code_12} as string,\n\t\t{healthcare provider primary taxonomy switch_12} as string,\n\t\t{healthcare provider taxonomy code_13} as string,\n\t\t{provider license number_13} as string,\n\t\t{provider license number state code_13} as string,\n\t\t{healthcare provider primary taxonomy switch_13} as string,\n\t\t{healthcare provider taxonomy code_14} as string,\n\t\t{provider license number_14} as string,\n\t\t{provider license number state code_14} as string,\n\t\t{healthcare provider primary taxonomy switch_14} as string,\n\t\t{healthcare provider taxonomy code_15} as string,\n\t\t{provider license number_15} as string,\n\t\t{provider license number state code_15} as string,\n\t\t{healthcare provider primary taxonomy switch_15} as string,\n\t\t{healthcare provider taxonomy group_1} as string,\n\t\t{healthcare provider taxonomy group_2} as string,\n\t\t{healthcare provider taxonomy group_3} as string,\n\t\t{healthcare provider taxonomy group_4} as string,\n\t\t{healthcare provider taxonomy group_5} as string,\n\t\t{healthcare provider taxonomy group_6} as string,\n\t\t{healthcare provider taxonomy group_7} as string,\n\t\t{healthcare provider taxonomy group_8} as string,\n\t\t{healthcare provider taxonomy group_9} as string,\n\t\t{healthcare provider taxonomy group_10} as string,\n\t\t{healthcare provider taxonomy group_11} as string,\n\t\t{healthcare provider taxonomy group_12} as string,\n\t\t{healthcare provider taxonomy group_13} as string,\n\t\t{healthcare provider taxonomy group_14} as string,\n\t\t{healthcare provider taxonomy group_15} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table',\n\tpartitionBy('roundRobin', 500)) ~> ProviderTaxonomyMonth\nsource(output(\n\t\tnpi as string,\n\t\tdata_month as integer,\n\t\t{active flag} as string,\n\t\t{entity type} as string,\n\t\t{entity type code} as string,\n\t\t{other provider identifier_1} as string,\n\t\t{other provider identifier type code_1} as string,\n\t\t{other provider identifier state_1} as string,\n\t\t{other provider identifier issuer_1} as string,\n\t\t{other provider identifier_2} as string,\n\t\t{other provider identifier type code_2} as string,\n\t\t{other provider identifier state_2} as string,\n\t\t{other provider identifier issuer_2} as string,\n\t\t{other provider identifier_3} as string,\n\t\t{other provider identifier type code_3} as string,\n\t\t{other provider identifier state_3} as string,\n\t\t{other provider identifier issuer_3} as string,\n\t\t{other provider identifier_4} as string,\n\t\t{other provider identifier type code_4} as string,\n\t\t{other provider identifier state_4} as string,\n\t\t{other provider identifier issuer_4} as string,\n\t\t{other provider identifier_5} as string,\n\t\t{other provider identifier type code_5} as string,\n\t\t{other provider identifier state_5} as string,\n\t\t{other provider identifier issuer_5} as string,\n\t\t{other provider identifier_6} as string,\n\t\t{other provider identifier type code_6} as string,\n\t\t{other provider identifier state_6} as string,\n\t\t{other provider identifier issuer_6} as string,\n\t\t{other provider identifier_7} as string,\n\t\t{other provider identifier type code_7} as string,\n\t\t{other provider identifier state_7} as string,\n\t\t{other provider identifier issuer_7} as string,\n\t\t{other provider identifier_8} as string,\n\t\t{other provider identifier type code_8} as string,\n\t\t{other provider identifier state_8} as string,\n\t\t{other provider identifier issuer_8} as string,\n\t\t{other provider identifier_9} as string,\n\t\t{other provider identifier type code_9} as string,\n\t\t{other provider identifier state_9} as string,\n\t\t{other provider identifier issuer_9} as string,\n\t\t{other provider identifier_10} as string,\n\t\t{other provider identifier type code_10} as string,\n\t\t{other provider identifier state_10} as string,\n\t\t{other provider identifier issuer_10} as string,\n\t\t{other provider identifier_11} as string,\n\t\t{other provider identifier type code_11} as string,\n\t\t{other provider identifier state_11} as string,\n\t\t{other provider identifier issuer_11} as string,\n\t\t{other provider identifier_12} as string,\n\t\t{other provider identifier type code_12} as string,\n\t\t{other provider identifier state_12} as string,\n\t\t{other provider identifier issuer_12} as string,\n\t\t{other provider identifier_13} as string,\n\t\t{other provider identifier type code_13} as string,\n\t\t{other provider identifier state_13} as string,\n\t\t{other provider identifier issuer_13} as string,\n\t\t{other provider identifier_14} as string,\n\t\t{other provider identifier type code_14} as string,\n\t\t{other provider identifier state_14} as string,\n\t\t{other provider identifier issuer_14} as string,\n\t\t{other provider identifier_15} as string,\n\t\t{other provider identifier type code_15} as string,\n\t\t{other provider identifier state_15} as string,\n\t\t{other provider identifier issuer_15} as string,\n\t\t{other provider identifier_16} as string,\n\t\t{other provider identifier type code_16} as string,\n\t\t{other provider identifier state_16} as string,\n\t\t{other provider identifier issuer_16} as string,\n\t\t{other provider identifier_17} as string,\n\t\t{other provider identifier type code_17} as string,\n\t\t{other provider identifier state_17} as string,\n\t\t{other provider identifier issuer_17} as string,\n\t\t{other provider identifier_18} as string,\n\t\t{other provider identifier type code_18} as string,\n\t\t{other provider identifier state_18} as string,\n\t\t{other provider identifier issuer_18} as string,\n\t\t{other provider identifier_19} as string,\n\t\t{other provider identifier type code_19} as string,\n\t\t{other provider identifier state_19} as string,\n\t\t{other provider identifier issuer_19} as string,\n\t\t{other provider identifier_20} as string,\n\t\t{other provider identifier type code_20} as string,\n\t\t{other provider identifier state_20} as string,\n\t\t{other provider identifier issuer_20} as string,\n\t\t{other provider identifier_21} as string,\n\t\t{other provider identifier type code_21} as string,\n\t\t{other provider identifier state_21} as string,\n\t\t{other provider identifier issuer_21} as string,\n\t\t{other provider identifier_22} as string,\n\t\t{other provider identifier type code_22} as string,\n\t\t{other provider identifier state_22} as string,\n\t\t{other provider identifier issuer_22} as string,\n\t\t{other provider identifier_23} as string,\n\t\t{other provider identifier type code_23} as string,\n\t\t{other provider identifier state_23} as string,\n\t\t{other provider identifier issuer_23} as string,\n\t\t{other provider identifier_24} as string,\n\t\t{other provider identifier type code_24} as string,\n\t\t{other provider identifier state_24} as string,\n\t\t{other provider identifier issuer_24} as string,\n\t\t{other provider identifier_25} as string,\n\t\t{other provider identifier type code_25} as string,\n\t\t{other provider identifier state_25} as string,\n\t\t{other provider identifier issuer_25} as string,\n\t\t{other provider identifier_26} as string,\n\t\t{other provider identifier type code_26} as string,\n\t\t{other provider identifier state_26} as string,\n\t\t{other provider identifier issuer_26} as string,\n\t\t{other provider identifier_27} as string,\n\t\t{other provider identifier type code_27} as string,\n\t\t{other provider identifier state_27} as string,\n\t\t{other provider identifier issuer_27} as string,\n\t\t{other provider identifier_28} as string,\n\t\t{other provider identifier type code_28} as string,\n\t\t{other provider identifier state_28} as string,\n\t\t{other provider identifier issuer_28} as string,\n\t\t{other provider identifier_29} as string,\n\t\t{other provider identifier type code_29} as string,\n\t\t{other provider identifier state_29} as string,\n\t\t{other provider identifier issuer_29} as string,\n\t\t{other provider identifier_30} as string,\n\t\t{other provider identifier type code_30} as string,\n\t\t{other provider identifier state_30} as string,\n\t\t{other provider identifier issuer_30} as string,\n\t\t{other provider identifier_31} as string,\n\t\t{other provider identifier type code_31} as string,\n\t\t{other provider identifier state_31} as string,\n\t\t{other provider identifier issuer_31} as string,\n\t\t{other provider identifier_32} as string,\n\t\t{other provider identifier type code_32} as string,\n\t\t{other provider identifier state_32} as string,\n\t\t{other provider identifier issuer_32} as string,\n\t\t{other provider identifier_33} as string,\n\t\t{other provider identifier type code_33} as string,\n\t\t{other provider identifier state_33} as string,\n\t\t{other provider identifier issuer_33} as string,\n\t\t{other provider identifier_34} as string,\n\t\t{other provider identifier type code_34} as string,\n\t\t{other provider identifier state_34} as string,\n\t\t{other provider identifier issuer_34} as string,\n\t\t{other provider identifier_35} as string,\n\t\t{other provider identifier type code_35} as string,\n\t\t{other provider identifier state_35} as string,\n\t\t{other provider identifier issuer_35} as string,\n\t\t{other provider identifier_36} as string,\n\t\t{other provider identifier type code_36} as string,\n\t\t{other provider identifier state_36} as string,\n\t\t{other provider identifier issuer_36} as string,\n\t\t{other provider identifier_37} as string,\n\t\t{other provider identifier type code_37} as string,\n\t\t{other provider identifier state_37} as string,\n\t\t{other provider identifier issuer_37} as string,\n\t\t{other provider identifier_38} as string,\n\t\t{other provider identifier type code_38} as string,\n\t\t{other provider identifier state_38} as string,\n\t\t{other provider identifier issuer_38} as string,\n\t\t{other provider identifier_39} as string,\n\t\t{other provider identifier type code_39} as string,\n\t\t{other provider identifier state_39} as string,\n\t\t{other provider identifier issuer_39} as string,\n\t\t{other provider identifier_40} as string,\n\t\t{other provider identifier type code_40} as string,\n\t\t{other provider identifier state_40} as string,\n\t\t{other provider identifier issuer_40} as string,\n\t\t{other provider identifier_41} as string,\n\t\t{other provider identifier type code_41} as string,\n\t\t{other provider identifier state_41} as string,\n\t\t{other provider identifier issuer_41} as string,\n\t\t{other provider identifier_42} as string,\n\t\t{other provider identifier type code_42} as string,\n\t\t{other provider identifier state_42} as string,\n\t\t{other provider identifier issuer_42} as string,\n\t\t{other provider identifier_43} as string,\n\t\t{other provider identifier type code_43} as string,\n\t\t{other provider identifier state_43} as string,\n\t\t{other provider identifier issuer_43} as string,\n\t\t{other provider identifier_44} as string,\n\t\t{other provider identifier type code_44} as string,\n\t\t{other provider identifier state_44} as string,\n\t\t{other provider identifier issuer_44} as string,\n\t\t{other provider identifier_45} as string,\n\t\t{other provider identifier type code_45} as string,\n\t\t{other provider identifier state_45} as string,\n\t\t{other provider identifier issuer_45} as string,\n\t\t{other provider identifier_46} as string,\n\t\t{other provider identifier type code_46} as string,\n\t\t{other provider identifier state_46} as string,\n\t\t{other provider identifier issuer_46} as string,\n\t\t{other provider identifier_47} as string,\n\t\t{other provider identifier type code_47} as string,\n\t\t{other provider identifier state_47} as string,\n\t\t{other provider identifier issuer_47} as string,\n\t\t{other provider identifier_48} as string,\n\t\t{other provider identifier type code_48} as string,\n\t\t{other provider identifier state_48} as string,\n\t\t{other provider identifier issuer_48} as string,\n\t\t{other provider identifier_49} as string,\n\t\t{other provider identifier type code_49} as string,\n\t\t{other provider identifier state_49} as string,\n\t\t{other provider identifier issuer_49} as string,\n\t\t{other provider identifier_50} as string,\n\t\t{other provider identifier type code_50} as string,\n\t\t{other provider identifier state_50} as string,\n\t\t{other provider identifier issuer_50} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> ProviderOtherIdentifiers\nProviderTaxonomyMonth derive(current_flag = '1') ~> AddCurrentFlag\nAddCurrentFlag unpivot(output(\n\t\tname as string,\n\t\tvalue as string\n\t),\n\tungroupBy(current_flag,\n\t\tdata_month,\n\t\tnpi,\n\t\t{entity type code},\n\t\t{entity type},\n\t\t{active flag}),\n\tlateral: false,\n\tignoreNullPivots: true) ~> Normalized\nFilter1 derive(name_standard = left(name,instr(name,'_')-1),\n\t\tposition = right(name,(length(name)-instr(name,'_')))) ~> RefineFieldNamePos\nRefineFieldNamePos pivot(groupBy(current_flag,\n\t\tdata_month,\n\t\tnpi,\n\t\t{entity type code},\n\t\t{entity type},\n\t\t{active flag},\n\t\tposition),\n\tpivotBy(name_standard),\n\t{} = first(value),\n\tcolumnNaming: '$N$V',\n\tlateral: true) ~> Pivot1\nProviderOtherIdentifiers derive(current_flag = '1') ~> AddCurrentFlagProvOtherID\nAddCurrentFlagProvOtherID unpivot(output(\n\t\tname as string,\n\t\tvalue as string\n\t),\n\tungroupBy(current_flag,\n\t\tdata_month,\n\t\tnpi,\n\t\t{entity type code},\n\t\t{entity type},\n\t\t{active flag}),\n\tlateral: false,\n\tignoreNullPivots: true) ~> NormalizedProvOtherID\nFilter2 derive(name_standard = left(name,instr(name,'_')-1),\n\t\tposition = right(name,(length(name)-instr(name,'_')))) ~> RefineFieldNamePosProvOtherID\nRefineFieldNamePosProvOtherID pivot(groupBy(current_flag,\n\t\tdata_month,\n\t\tnpi,\n\t\t{entity type code},\n\t\t{entity type},\n\t\t{active flag},\n\t\tposition),\n\tpivotBy(name_standard),\n\t{} = first(value),\n\tcolumnNaming: '$N$V',\n\tlateral: true) ~> Pivot2\nPivot2 select(mapColumn(\n\t\teach(match(name!='position'))\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select1\nNormalized filter(!(isNull(value) || value == '')) ~> Filter1\nNormalizedProvOtherID filter(!(isNull(value) || value == '')) ~> Filter2\nPivot1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tcurrent_flag as string,\n\t\tdata_month as integer,\n\t\tnpi as string,\n\t\t{entity type code} as string,\n\t\t{entity type} as string,\n\t\t{active flag} as string,\n\t\tposition as string,\n\t\t{healthcare provider primary taxonomy switch} as string,\n\t\t{healthcare provider taxonomy code} as string,\n\t\t{healthcare provider taxonomy group} as string,\n\t\t{provider license number} as string,\n\t\t{provider license number state code} as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tsaveOrder: 1,\n\terrorHandlingOption: 'stopOnFirstError') ~> sink1\nSelect1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tcurrent_flag as string,\n\t\tdata_month as integer,\n\t\tnpi as string,\n\t\t{entity type code} as string,\n\t\t{entity type} as string,\n\t\t{active flag} as string,\n\t\t{other provider identifier} as string,\n\t\t{other provider identifier issuer} as string,\n\t\t{other provider identifier state} as string,\n\t\t{other provider identifier type code} as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sink2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_DF_2b_Stage_NPPES')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "PUF_2_Stage_NPPES"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "PUF_DS_2a_st_cms_nppes_provider_taxonomy",
								"type": "DatasetReference"
							},
							"name": "StageProviderTaxonomy"
						},
						{
							"dataset": {
								"referenceName": "PUF_DS_PROD_NUCC_TAXONOMY",
								"type": "DatasetReference"
							},
							"name": "NUCCTaxonomy"
						},
						{
							"dataset": {
								"referenceName": "PUF_DS_1_ld_cms_nppes",
								"type": "DatasetReference"
							},
							"name": "NPPESProviderMain"
						},
						{
							"dataset": {
								"referenceName": "PUF_DS_0_raw_state_correction",
								"type": "DatasetReference"
							},
							"name": "InputStateCorrection"
						},
						{
							"dataset": {
								"referenceName": "PUF_DS_0_raw_country_correction",
								"type": "DatasetReference"
							},
							"name": "InputCountryCorrection"
						},
						{
							"dataset": {
								"referenceName": "PUF_DS_2a_st_cms_nppes_other_provider_identifier",
								"type": "DatasetReference"
							},
							"name": "StageOtherProvID"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "PUF_DS_2b_st_cms_nppes_provider_taxonomy",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"dataset": {
								"referenceName": "PUF_DS_2_st_cms_nppes_main",
								"type": "DatasetReference"
							},
							"name": "LoadNPPESMainStage2a"
						},
						{
							"dataset": {
								"referenceName": "PUF_DS_2b_st_cms_nppes_other_provider_identifier",
								"type": "DatasetReference"
							},
							"name": "sinkStNPPESProvOtherID"
						}
					],
					"transformations": [
						{
							"name": "JoinTaxonomyCW"
						},
						{
							"name": "Select1"
						},
						{
							"name": "KeepPrimaryTaxonomy"
						},
						{
							"name": "IdentifyPrimaryTaxonomy"
						},
						{
							"name": "SortbyNPITaxonomy"
						},
						{
							"name": "AppendPrimaryTaxonomy"
						},
						{
							"name": "AddtlColumns"
						},
						{
							"name": "Select3"
						},
						{
							"name": "Select4"
						},
						{
							"name": "Select5"
						},
						{
							"name": "LookupCorrectedStatePracAddr"
						},
						{
							"name": "DerivedColumn1"
						},
						{
							"name": "LookupCorrectedCountryPracAddr"
						},
						{
							"name": "Select6"
						},
						{
							"name": "Select7"
						},
						{
							"name": "LookupCorrrectedStateMailAddr"
						},
						{
							"name": "LookupCorrectedCountryMailAddr"
						},
						{
							"name": "DerivedColumn2"
						},
						{
							"name": "Select8"
						},
						{
							"name": "Select9"
						},
						{
							"name": "Aggregate1"
						},
						{
							"name": "Select10"
						},
						{
							"name": "Aggregate2"
						},
						{
							"name": "Select11"
						}
					],
					"script": "source(output(\n\t\tcurrent_flag as string,\n\t\tdata_month as integer,\n\t\tnpi as string,\n\t\t{entity type code} as string,\n\t\t{entity type} as string,\n\t\t{active flag} as string,\n\t\tposition as string,\n\t\t{healthcare provider primary taxonomy switch} as string,\n\t\t{healthcare provider taxonomy code} as string,\n\t\t{healthcare provider taxonomy group} as string,\n\t\t{provider license number} as string,\n\t\t{provider license number state code} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> StageProviderTaxonomy\nsource(output(\n\t\tcode as string,\n\t\tgrouping as string,\n\t\tclassification as string,\n\t\tspecialization as string,\n\t\tdefinition as string,\n\t\tnotes as string,\n\t\tyear as integer,\n\t\tcurrent_flag as integer,\n\t\t{effective date} as string,\n\t\t{deactivation date} as string,\n\t\t{last modified date} as string,\n\t\t{display name} as string,\n\t\t{right_effective date} as string,\n\t\t{right_deactivation date} as string,\n\t\t{right_last modified date} as string,\n\t\t{right_display name} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> NUCCTaxonomy\nsource(output(\n\t\tnpi as string,\n\t\tdata_month as integer,\n\t\t{active flag} as string,\n\t\t{entity type code} as string,\n\t\t{entity type} as string,\n\t\t{replacement npi} as string,\n\t\t{employer identification number (ein)} as string,\n\t\t{provider organization name (legal business name)} as string,\n\t\t{provider last name (legal name)} as string,\n\t\t{provider first name} as string,\n\t\t{provider middle name} as string,\n\t\t{provider name prefix text} as string,\n\t\t{provider name suffix text} as string,\n\t\t{provider credential text} as string,\n\t\t{provider other organization name} as string,\n\t\t{provider other organization name type code} as string,\n\t\t{provider other last name} as string,\n\t\t{provider other first name} as string,\n\t\t{provider other middle name} as string,\n\t\t{provider other name prefix text} as string,\n\t\t{provider other name suffix text} as string,\n\t\t{provider other credential text} as string,\n\t\t{provider other last name type code} as string,\n\t\t{provider first line business mailing address} as string,\n\t\t{provider second line business mailing address} as string,\n\t\t{provider business mailing address city name} as string,\n\t\t{provider business mailing address state name} as string,\n\t\t{provider business mailing address postal code} as string,\n\t\t{provider business mailing address country code (if outside u.s.) } as string,\n\t\t{provider business mailing address telephone number} as string,\n\t\t{provider business mailing address fax number} as string,\n\t\t{provider first line business practice location address} as string,\n\t\t{provider second line business practice location address} as string,\n\t\t{provider business practice location address city name} as string,\n\t\t{provider business practice location address state name} as string,\n\t\t{provider business practice location address postal code} as string,\n\t\t{provider business practice location address country code out us} as string,\n\t\t{provider business practice location address telephone number} as string,\n\t\t{provider business practice location address fax number} as string,\n\t\t{provider enumeration date} as date,\n\t\t{last update date} as date,\n\t\t{npi deactivation reason code} as string,\n\t\t{npi deactivation date} as date,\n\t\t{npi reactivation date} as date,\n\t\t{provider gender code} as string,\n\t\t{authorized official last name} as string,\n\t\t{authorized official first name} as string,\n\t\t{authorized official middle name} as string,\n\t\t{authorized official title or position} as string,\n\t\t{authorized official telephone number} as string,\n\t\t{healthcare provider taxonomy code_1} as string,\n\t\t{provider license number_1} as string,\n\t\t{provider license number state code_1} as string,\n\t\t{healthcare provider primary taxonomy switch_1} as string,\n\t\t{healthcare provider taxonomy code_2} as string,\n\t\t{provider license number_2} as string,\n\t\t{provider license number state code_2} as string,\n\t\t{healthcare provider primary taxonomy switch_2} as string,\n\t\t{healthcare provider taxonomy code_3} as string,\n\t\t{provider license number_3} as string,\n\t\t{provider license number state code_3} as string,\n\t\t{healthcare provider primary taxonomy switch_3} as string,\n\t\t{is sole proprietor} as string,\n\t\t{is organization subpart} as string,\n\t\t{parent organization lbn} as string,\n\t\t{parent organization tin} as string,\n\t\t{authorized official name prefix text} as string,\n\t\t{authorized official name suffix text} as string,\n\t\t{authorized official credential text} as string,\n\t\t{healthcare provider taxonomy group_1} as string,\n\t\t{healthcare provider taxonomy group_2} as string,\n\t\t{healthcare provider taxonomy group_3} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> NPPESProviderMain\nsource(output(\n\t\tdata_month as string,\n\t\tnpi as string,\n\t\taddress_line_1 as string,\n\t\taddress_line_2 as string,\n\t\tcity as string,\n\t\tstate as string,\n\t\tpostal_code as string,\n\t\tcorrected_state as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> InputStateCorrection\nsource(output(\n\t\tdata_month as string,\n\t\tnpi as string,\n\t\taddress_line_1 as string,\n\t\taddress_line_2 as string,\n\t\tcity as string,\n\t\tstate as string,\n\t\tpostal_code as string,\n\t\tcountry_code as string,\n\t\tcorrected_country as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> InputCountryCorrection\nsource(output(\n\t\tcurrent_flag as string,\n\t\tdata_month as integer,\n\t\tnpi as string,\n\t\t{entity type code} as string,\n\t\t{entity type} as string,\n\t\t{active flag} as string,\n\t\t{other provider identifier} as string,\n\t\t{other provider identifier issuer} as string,\n\t\t{other provider identifier state} as string,\n\t\t{other provider identifier type code} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> StageOtherProvID\nAggregate1, NUCCTaxonomy join({healthcare provider taxonomy code} == code,\n\tjoinType:'left',\n\tbroadcast: 'auto')~> JoinTaxonomyCW\nJoinTaxonomyCW select(mapColumn(\n\t\tcurrent_flag = Aggregate1@current_flag,\n\t\tdata_month,\n\t\tnpi,\n\t\t{entity type code},\n\t\t{entity type},\n\t\t{active flag},\n\t\thealthcare_provider_primary_taxonomy_switch = {healthcare provider primary taxonomy switch},\n\t\thealthcare_provider_taxonomy_code = {healthcare provider taxonomy code},\n\t\thealthcare_provider_group_taxonomy = {healthcare provider taxonomy group},\n\t\tprovider_license_number = {provider license number},\n\t\tprovider_license_number_state_code = {provider license number state code},\n\t\ttaxonomy_grouping = grouping,\n\t\ttaxonomy_classification = classification,\n\t\ttaxonomy_specialization = specialization,\n\t\tposition\n\t),\n\tskipDuplicateMapInputs: false,\n\tskipDuplicateMapOutputs: false) ~> Select1\nSelect1 filter(healthcare_provider_primary_taxonomy_switch=='Y') ~> KeepPrimaryTaxonomy\nSortbyNPITaxonomy aggregate(groupBy(npi),\n\teach(match(name!='npi'), $$ = first($$))) ~> IdentifyPrimaryTaxonomy\nKeepPrimaryTaxonomy sort(asc(npi, true),\n\tasc(position, true)) ~> SortbyNPITaxonomy\nSelect9, Select3 join(npi == temp_npi,\n\tjoinType:'left',\n\tbroadcast: 'auto')~> AppendPrimaryTaxonomy\nSelect4 derive(current_flag = '1',\n\t\t{provider business practice location address state name} = iif({provider business practice location address state name}=='ALASKA','AK',\niif({provider business practice location address state name}=='ALABAMA','AL',\niif({provider business practice location address state name}=='ARKANSAS','AR',\niif({provider business practice location address state name}=='AMERICANSAMOA','AS',\niif({provider business practice location address state name}=='ARIZONA','AZ',\niif({provider business practice location address state name}=='CA-CALIFORNIA','CA',\niif({provider business practice location address state name}=='CALIFORNIA','CA',\niif({provider business practice location address state name}=='LOSANGELES','CA',\niif({provider business practice location address state name}=='COLORADO','CO',\niif({provider business practice location address state name}=='CONNECTICUT','CT',\niif({provider business practice location address state name}=='DISTRICTOFCOLUMBIA','DC',\niif({provider business practice location address state name}=='DELAWARE','DE',\niif({provider business practice location address state name}=='FL-FLORIDA','FL',\niif({provider business practice location address state name}=='FLA','FL',\niif({provider business practice location address state name}=='FLORIDA','FL',\niif({provider business practice location address state name}=='MICRONESIA,FEDERATEDSTATESOF','FM',\niif({provider business practice location address state name}=='GEORGIA','GA',\niif({provider business practice location address state name}=='GUAM','GU',\niif({provider business practice location address state name}=='HAWAII','HI',\niif({provider business practice location address state name}=='IOWA','IA',\niif({provider business practice location address state name}=='IDAHO','ID',\niif({provider business practice location address state name}=='IL-ILLINOIS','IL',\niif({provider business practice location address state name}=='ILLINOIS','IL',\niif({provider business practice location address state name}=='INDIANA','IN',\niif({provider business practice location address state name}=='KANSAS','KS',\niif({provider business practice location address state name}=='KENTUCKY','KY',\niif({provider business practice location address state name}=='LOUISIANA','LA',\niif({provider business practice location address state name}=='NEWORLEANS','LA',\niif({provider business practice location address state name}=='MA-MASSACHUSETTS','MA',\niif({provider business practice location address state name}=='MASSACHUSETTS','MA',\niif({provider business practice location address state name}=='MARYLAND','MD',\niif({provider business practice location address state name}=='MAINE','ME',\niif({provider business practice location address state name}=='MARSHALLISLANDS','MH',\niif({provider business practice location address state name}=='MICHIGAN','MI',\niif({provider business practice location address state name}=='MINNESOTA','MN',\niif({provider business practice location address state name}=='MISSOURI','MO',\niif({provider business practice location address state name}=='MARIANAISLANDS,NORTHERN','MP',\niif({provider business practice location address state name}=='MISSISSIPPI','MS',\niif({provider business practice location address state name}=='MS-MISSISSIPPI','MS',\niif({provider business practice location address state name}=='MONTANA','MT',\niif({provider business practice location address state name}=='N.C.','NC',\niif({provider business practice location address state name}=='NC-NORTHCAROLINA','NC',\niif({provider business practice location address state name}=='NORTHCAROLINA','NC',\niif({provider business practice location address state name}=='NORTHCAROLINA(NC)','NC',\niif({provider business practice location address state name}=='NORTHDAKOTA','ND',\niif({provider business practice location address state name}=='NEBRASKA','NE',\niif({provider business practice location address state name}=='NEWHAMPSHIRE','NH',\niif({provider business practice location address state name}=='NEWJERSEY','NJ',\niif({provider business practice location address state name}=='NJ-NEWJERSEY','NJ',\niif({provider business practice location address state name}=='NEWMEXICO','NM',\niif({provider business practice location address state name}=='NEVADA','NV',\niif({provider business practice location address state name}=='N.Y.','NY',\niif({provider business practice location address state name}=='NY-NEWYORK','NY',\niif({provider business practice location address state name}=='NY-NEWYORK','NY',\niif({provider business practice location address state name}=='NEWYORK','NY',\niif({provider business practice location address state name}=='OHIO','OH',\niif({provider business practice location address state name}=='OHIO(OH)','OH',\niif({provider business practice location address state name}=='OKLAHOMA','OK',\niif({provider business practice location address state name}=='OROREGON','OR',\niif({provider business practice location address state name}=='OREGON','OR',\niif({provider business practice location address state name}=='PENNSYLVANIA','PA',\niif({provider business practice location address state name}=='P.R.','PR',\niif({provider business practice location address state name}=='P.R','PR',\niif({provider business practice location address state name}=='P.R.','PR',\niif({provider business practice location address state name}=='P.R.PUERTORICO','PR',\niif({provider business practice location address state name}=='PR-PUERTORICO','PR',\niif({provider business practice location address state name}=='PUERTORICO','PR',\niif({provider business practice location address state name}=='PUERTORICO','PR',\niif({provider business practice location address state name}=='PALAU','PW',\niif({provider business practice location address state name}=='RHODEISLAND','RI',\niif({provider business practice location address state name}=='SOUTHCAROLINA','SC',\niif({provider business practice location address state name}=='SOUTHDAKOTA','SD',\niif({provider business practice location address state name}=='TENNESSEE','TN',\niif({provider business practice location address state name}=='TEXAS','TX',\niif({provider business practice location address state name}=='TX-TEXAS','TX',\niif({provider business practice location address state name}=='U.T','UT',\niif({provider business practice location address state name}=='UTAH','UT',\niif({provider business practice location address state name}=='VIRGINIA','VA',\niif({provider business practice location address state name}=='VIRGINISLANDS','VI',\niif({provider business practice location address state name}=='VERMONT','VT',\niif({provider business practice location address state name}=='WASHINGTON','WA',\niif({provider business practice location address state name}=='WISCONSIN','WI',\niif({provider business practice location address state name}=='WESTVIRGINIA','WV',\niif({provider business practice location address state name}=='WYOMING','WY',\n{provider business practice location address state name}\n)))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))),\n\t\t{provider business mailing address state name} = iif({provider business mailing address state name}=='ALASKA','AK',\niif({provider business mailing address state name}=='ALABAMA','AL',\niif({provider business mailing address state name}=='ARKANSAS','AR',\niif({provider business mailing address state name}=='AMERICANSAMOA','AS',\niif({provider business mailing address state name}=='ARIZONA','AZ',\niif({provider business mailing address state name}=='CA-CALIFORNIA','CA',\niif({provider business mailing address state name}=='CALIFORNIA','CA',\niif({provider business mailing address state name}=='LOSANGELES','CA',\niif({provider business mailing address state name}=='COLORADO','CO',\niif({provider business mailing address state name}=='CONNECTICUT','CT',\niif({provider business mailing address state name}=='DISTRICTOFCOLUMBIA','DC',\niif({provider business mailing address state name}=='DELAWARE','DE',\niif({provider business mailing address state name}=='FL-FLORIDA','FL',\niif({provider business mailing address state name}=='FLA','FL',\niif({provider business mailing address state name}=='FLORIDA','FL',\niif({provider business mailing address state name}=='MICRONESIA,FEDERATEDSTATESOF','FM',\niif({provider business mailing address state name}=='GEORGIA','GA',\niif({provider business mailing address state name}=='GUAM','GU',\niif({provider business mailing address state name}=='HAWAII','HI',\niif({provider business mailing address state name}=='IOWA','IA',\niif({provider business mailing address state name}=='IDAHO','ID',\niif({provider business mailing address state name}=='IL-ILLINOIS','IL',\niif({provider business mailing address state name}=='ILLINOIS','IL',\niif({provider business mailing address state name}=='INDIANA','IN',\niif({provider business mailing address state name}=='KANSAS','KS',\niif({provider business mailing address state name}=='KENTUCKY','KY',\niif({provider business mailing address state name}=='LOUISIANA','LA',\niif({provider business mailing address state name}=='NEWORLEANS','LA',\niif({provider business mailing address state name}=='MA-MASSACHUSETTS','MA',\niif({provider business mailing address state name}=='MASSACHUSETTS','MA',\niif({provider business mailing address state name}=='MARYLAND','MD',\niif({provider business mailing address state name}=='MAINE','ME',\niif({provider business mailing address state name}=='MARSHALLISLANDS','MH',\niif({provider business mailing address state name}=='MICHIGAN','MI',\niif({provider business mailing address state name}=='MINNESOTA','MN',\niif({provider business mailing address state name}=='MISSOURI','MO',\niif({provider business mailing address state name}=='MARIANAISLANDS,NORTHERN','MP',\niif({provider business mailing address state name}=='MISSISSIPPI','MS',\niif({provider business mailing address state name}=='MS-MISSISSIPPI','MS',\niif({provider business mailing address state name}=='MONTANA','MT',\niif({provider business mailing address state name}=='N.C.','NC',\niif({provider business mailing address state name}=='NC-NORTHCAROLINA','NC',\niif({provider business mailing address state name}=='NORTHCAROLINA','NC',\niif({provider business mailing address state name}=='NORTHCAROLINA(NC)','NC',\niif({provider business mailing address state name}=='NORTHDAKOTA','ND',\niif({provider business mailing address state name}=='NEBRASKA','NE',\niif({provider business mailing address state name}=='NEWHAMPSHIRE','NH',\niif({provider business mailing address state name}=='NEWJERSEY','NJ',\niif({provider business mailing address state name}=='NJ-NEWJERSEY','NJ',\niif({provider business mailing address state name}=='NEWMEXICO','NM',\niif({provider business mailing address state name}=='NEVADA','NV',\niif({provider business mailing address state name}=='N.Y.','NY',\niif({provider business mailing address state name}=='NY-NEWYORK','NY',\niif({provider business mailing address state name}=='NY-NEWYORK','NY',\niif({provider business mailing address state name}=='NEWYORK','NY',\niif({provider business mailing address state name}=='OHIO','OH',\niif({provider business mailing address state name}=='OHIO(OH)','OH',\niif({provider business mailing address state name}=='OKLAHOMA','OK',\niif({provider business mailing address state name}=='OROREGON','OR',\niif({provider business mailing address state name}=='OREGON','OR',\niif({provider business mailing address state name}=='PENNSYLVANIA','PA',\niif({provider business mailing address state name}=='P.R.','PR',\niif({provider business mailing address state name}=='P.R','PR',\niif({provider business mailing address state name}=='P.R.','PR',\niif({provider business mailing address state name}=='P.R.PUERTORICO','PR',\niif({provider business mailing address state name}=='PR-PUERTORICO','PR',\niif({provider business mailing address state name}=='PUERTORICO','PR',\niif({provider business mailing address state name}=='PUERTORICO','PR',\niif({provider business mailing address state name}=='PALAU','PW',\niif({provider business mailing address state name}=='RHODEISLAND','RI',\niif({provider business mailing address state name}=='SOUTHCAROLINA','SC',\niif({provider business mailing address state name}=='SOUTHDAKOTA','SD',\niif({provider business mailing address state name}=='TENNESSEE','TN',\niif({provider business mailing address state name}=='TEXAS','TX',\niif({provider business mailing address state name}=='TX-TEXAS','TX',\niif({provider business mailing address state name}=='U.T','UT',\niif({provider business mailing address state name}=='UTAH','UT',\niif({provider business mailing address state name}=='VIRGINIA','VA',\niif({provider business mailing address state name}=='VIRGINISLANDS','VI',\niif({provider business mailing address state name}=='VERMONT','VT',\niif({provider business mailing address state name}=='WASHINGTON','WA',\niif({provider business mailing address state name}=='WISCONSIN','WI',\niif({provider business mailing address state name}=='WESTVIRGINIA','WV',\niif({provider business mailing address state name}=='WYOMING','WY',\n{provider business mailing address state name}\n))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))) ~> AddtlColumns\nIdentifyPrimaryTaxonomy select(mapColumn(\n\t\ttemp_npi = npi,\n\t\t{healthcare provider primary taxonomy code} = healthcare_provider_taxonomy_code,\n\t\t{healthcare provider primary group taxonomy} = healthcare_provider_group_taxonomy,\n\t\t{provider primary license number} = provider_license_number,\n\t\t{provider primary license number state code} = provider_license_number_state_code,\n\t\tprimary_taxonomy_grouping = taxonomy_grouping,\n\t\tprimary_taxonomy_classification = taxonomy_classification,\n\t\tprimary_taxonomy_specialization = taxonomy_specialization\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select3\nAppendPrimaryTaxonomy select(mapColumn(\n\t\teach(match(upper(name)!='TEMP_NPI'))\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select4\nInputStateCorrection select(mapColumn(\n\t\tselect5_npi = npi,\n\t\taddress_line_1,\n\t\taddress_line_2,\n\t\tcity,\n\t\tpostal_code,\n\t\tcorrected_state\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select5\nAddtlColumns, Select5 lookup(npi == select5_npi\n\t&& {provider first line business practice location address} == address_line_1\n\t&& {provider second line business practice location address} == address_line_2\n\t&& {provider business practice location address city name} == city\n\t&& {provider business practice location address postal code} == postal_code,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupCorrectedStatePracAddr\nLookupCorrectedCountryPracAddr derive({provider business practice location address state name} = iif(isNull(corrected_state), {provider business practice location address state name}, corrected_state),\n\t\t{provider business practice location address country code out us} = iif(isNull(corrected_country), {provider business practice location address country code out us}, corrected_country)) ~> DerivedColumn1\nLookupCorrectedStatePracAddr, Select6 lookup(npi == select6_npi\n\t&& {provider first line business practice location address} == Select6@address_line_1\n\t&& {provider second line business practice location address} == Select6@address_line_2\n\t&& {provider business practice location address city name} == Select6@city\n\t&& {provider business practice location address postal code} == Select6@postal_code\n\t&& {provider business practice location address state name} == state,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupCorrectedCountryPracAddr\nInputCountryCorrection select(mapColumn(\n\t\tselect6_npi = npi,\n\t\taddress_line_1,\n\t\taddress_line_2,\n\t\tcity,\n\t\tstate,\n\t\tpostal_code,\n\t\tcorrected_country\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select6\nDerivedColumn1 select(mapColumn(\n\t\teach(match(!in(['select5_npi','select6_npi','address_line_1','address_line_2','city','postal_code','state','corrected_state','corrected_country'],name)))\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select7\nSelect7, Select5 lookup(npi == select5_npi\n\t&& {provider first line business mailing address} == address_line_1\n\t&& {provider second line business mailing address} == address_line_2\n\t&& {provider business mailing address city name} == city\n\t&& {provider business mailing address postal code} == postal_code,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupCorrrectedStateMailAddr\nLookupCorrrectedStateMailAddr, Select6 lookup(npi == select6_npi\n\t&& {provider first line business mailing address} == Select6@address_line_1\n\t&& {provider second line business mailing address} == Select6@address_line_2\n\t&& {provider business mailing address city name} == Select6@city\n\t&& {provider business mailing address postal code} == Select6@postal_code\n\t&& {provider business mailing address state name} == state,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupCorrectedCountryMailAddr\nLookupCorrectedCountryMailAddr derive({provider business mailing address state name} = iif(isNull(corrected_state), {provider business mailing address state name}, corrected_state),\n\t\t{provider business mailing address country code (if outside u.s.) } = iif(isNull(corrected_country), {provider business mailing address country code (if outside u.s.) }, corrected_country)) ~> DerivedColumn2\nDerivedColumn2 select(mapColumn(\n\t\teach(match(!in(['select5_npi','select6_npi','address_line_1','address_line_2','city','postal_code','state','corrected_state','corrected_country'],name)))\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select8\nNPPESProviderMain select(mapColumn(\n\t\teach(match(!startsWith(upper(name),'HEALTHCARE PROVIDER TAXONOMY CODE_')&&!startsWith(upper(name),'PROVIDER LICENSE NUMBER_')&&!startsWith(upper(name),'PROVIDER LICENSE NUMBER STATE CODE_')&&!startsWith(upper(name),'HEALTHCARE PROVIDER PRIMARY TAXONOMY SWITCH_')&&!startsWith(upper(name),'HEALTHCARE PROVIDER TAXONOMY GROUP_')))\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select9\nStageProviderTaxonomy aggregate(groupBy(current_flag,\n\t\tdata_month,\n\t\tnpi,\n\t\t{entity type code},\n\t\t{entity type},\n\t\t{active flag},\n\t\t{healthcare provider primary taxonomy switch},\n\t\t{healthcare provider taxonomy code},\n\t\t{healthcare provider taxonomy group},\n\t\t{provider license number},\n\t\t{provider license number state code}),\n\tposition = min(position)) ~> Aggregate1\nSelect1 select(mapColumn(\n\t\tdata_month,\n\t\tnpi,\n\t\t{entity type code},\n\t\t{entity type},\n\t\t{active flag},\n\t\thealthcare_provider_primary_taxonomy_switch,\n\t\thealthcare_provider_taxonomy_code,\n\t\thealthcare_provider_group_taxonomy,\n\t\tprovider_license_number,\n\t\tprovider_license_number_state_code,\n\t\ttaxonomy_grouping,\n\t\ttaxonomy_classification,\n\t\ttaxonomy_specialization\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select10\nStageOtherProvID aggregate(groupBy(current_flag,\n\t\tdata_month,\n\t\tnpi,\n\t\t{entity type code},\n\t\t{entity type},\n\t\t{active flag},\n\t\t{other provider identifier},\n\t\t{other provider identifier type code},\n\t\t{other provider identifier state},\n\t\t{other provider identifier issuer}),\n\ttemp = count(npi)) ~> Aggregate2\nAggregate2 select(mapColumn(\n\t\tcurrent_flag,\n\t\tdata_month,\n\t\tnpi,\n\t\t{entity type code},\n\t\t{entity type},\n\t\t{active flag},\n\t\t{other provider identifier},\n\t\t{other provider identifier state},\n\t\t{other provider identifier issuer},\n\t\t{other provider identifier type code}\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select11\nSelect10 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tcurrent_flag as string,\n\t\tdata_month as integer,\n\t\tnpi as string,\n\t\t{entity type code} as string,\n\t\t{entity type} as string,\n\t\t{active flag} as string,\n\t\thealthcare_provider_primary_taxonomy_switch as string,\n\t\thealthcare_provider_taxonomy_code as string,\n\t\thealthcare_provider_group_taxonomy as string,\n\t\tprovider_license_number as string,\n\t\tprovider_license_number_state_code as string,\n\t\ttaxonomy_grouping as string,\n\t\ttaxonomy_classification as string,\n\t\ttaxonomy_specialization as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sink1\nSelect8 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tcurrent_flag as string,\n\t\tnpi as string,\n\t\tdata_month as integer,\n\t\t{active flag} as string,\n\t\t{entity type code} as string,\n\t\t{entity type} as string,\n\t\t{replacement npi} as string,\n\t\t{employer identification number (ein)} as string,\n\t\t{provider organization name (legal business name)} as string,\n\t\t{provider last name (legal name)} as string,\n\t\t{provider first name} as string,\n\t\t{provider middle name} as string,\n\t\t{provider name prefix text} as string,\n\t\t{provider name suffix text} as string,\n\t\t{provider credential text} as string,\n\t\t{provider other organization name} as string,\n\t\t{provider other organization name type code} as string,\n\t\t{provider other last name} as string,\n\t\t{provider other first name} as string,\n\t\t{provider other middle name} as string,\n\t\t{provider other name prefix text} as string,\n\t\t{provider other name suffix text} as string,\n\t\t{provider other credential text} as string,\n\t\t{provider other last name type code} as string,\n\t\t{provider first line business mailing address} as string,\n\t\t{provider second line business mailing address} as string,\n\t\t{provider business mailing address city name} as string,\n\t\t{provider business mailing address state name} as string,\n\t\t{provider business mailing address postal code} as string,\n\t\t{provider business mailing address country code (if outside u.s.) } as string,\n\t\t{provider business mailing address telephone number} as string,\n\t\t{provider business mailing address fax number} as string,\n\t\t{provider first line business practice location address} as string,\n\t\t{provider second line business practice location address} as string,\n\t\t{provider business practice location address city name} as string,\n\t\t{provider business practice location address state name} as string,\n\t\t{provider business practice location address postal code} as string,\n\t\t{provider business practice location address country code out us} as string,\n\t\t{provider business practice location address telephone number} as string,\n\t\t{provider business practice location address fax number} as string,\n\t\t{provider enumeration date} as date,\n\t\t{last update date} as date,\n\t\t{npi deactivation reason code} as string,\n\t\t{npi deactivation date} as date,\n\t\t{npi reactivation date} as date,\n\t\t{provider gender code} as string,\n\t\t{authorized official last name} as string,\n\t\t{authorized official first name} as string,\n\t\t{authorized official middle name} as string,\n\t\t{authorized official title or position} as string,\n\t\t{authorized official telephone number} as string,\n\t\t{is sole proprietor} as string,\n\t\t{is organization subpart} as string,\n\t\t{parent organization lbn} as string,\n\t\t{parent organization tin} as string,\n\t\t{authorized official name prefix text} as string,\n\t\t{authorized official name suffix text} as string,\n\t\t{authorized official credential text} as string,\n\t\t{healthcare provider primary taxonomy code} as string,\n\t\t{healthcare provider primary group taxonomy} as string,\n\t\t{provider primary license number} as string,\n\t\t{provider primary license number state code} as string,\n\t\tprimary_taxonomy_grouping as string,\n\t\tprimary_taxonomy_classification as string,\n\t\tprimary_taxonomy_specialization as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> LoadNPPESMainStage2a\nSelect11 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tcurrent_flag as string,\n\t\tdata_month as integer,\n\t\tnpi as string,\n\t\t{entity type code} as string,\n\t\t{entity type} as string,\n\t\t{active flag} as string,\n\t\t{other provider identifier} as string,\n\t\t{other provider identifier state} as string,\n\t\t{other provider identifier issuer} as string,\n\t\t{other provider identifier type code} as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sinkStNPPESProvOtherID"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PUF_DS_PROD_NUCC_TAXONOMY')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_DF_3_Stage_NPPES_Main')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "PUF_2_Stage_NPPES"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "PUF_DS_2_st_cms_nppes_main",
								"type": "DatasetReference"
							},
							"name": "StCmsNppesMain"
						},
						{
							"dataset": {
								"referenceName": "PUF_DS_PROD_NPPES_MAIN",
								"type": "DatasetReference"
							},
							"name": "ProdCmsNppesMain"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "PUF_DS_3_st_cms_nppes_main",
								"type": "DatasetReference"
							},
							"name": "SinkNPPESMain"
						}
					],
					"transformations": [
						{
							"name": "ProdNPPESMainCurrent"
						},
						{
							"name": "SelectProdNPPESMainCurrent"
						},
						{
							"name": "DropBadFieldName"
						},
						{
							"name": "RemoveSpaceMailingCountryFieldName"
						},
						{
							"name": "NewNPPESMainRecord"
						},
						{
							"name": "Union1"
						},
						{
							"name": "NewNPPESRecordsNPI"
						},
						{
							"name": "CompareWithProdNPPESMain"
						},
						{
							"name": "AdjustCurrentFlag"
						},
						{
							"name": "DropNPITemp"
						},
						{
							"name": "ProdCreateKey"
						},
						{
							"name": "StCreateKey"
						},
						{
							"name": "Select1"
						}
					],
					"script": "source(output(\n\t\tcurrent_flag as string,\n\t\tnpi as string,\n\t\tdata_month as integer,\n\t\t{active flag} as string,\n\t\t{entity type code} as string,\n\t\t{entity type} as string,\n\t\t{replacement npi} as string,\n\t\t{employer identification number (ein)} as string,\n\t\t{provider organization name (legal business name)} as string,\n\t\t{provider last name (legal name)} as string,\n\t\t{provider first name} as string,\n\t\t{provider middle name} as string,\n\t\t{provider name prefix text} as string,\n\t\t{provider name suffix text} as string,\n\t\t{provider credential text} as string,\n\t\t{provider other organization name} as string,\n\t\t{provider other organization name type code} as string,\n\t\t{provider other last name} as string,\n\t\t{provider other first name} as string,\n\t\t{provider other middle name} as string,\n\t\t{provider other name prefix text} as string,\n\t\t{provider other name suffix text} as string,\n\t\t{provider other credential text} as string,\n\t\t{provider other last name type code} as string,\n\t\t{provider first line business mailing address} as string,\n\t\t{provider second line business mailing address} as string,\n\t\t{provider business mailing address city name} as string,\n\t\t{provider business mailing address state name} as string,\n\t\t{provider business mailing address postal code} as string,\n\t\t{provider business mailing address country code (if outside u.s.) } as string,\n\t\t{provider business mailing address telephone number} as string,\n\t\t{provider business mailing address fax number} as string,\n\t\t{provider first line business practice location address} as string,\n\t\t{provider second line business practice location address} as string,\n\t\t{provider business practice location address city name} as string,\n\t\t{provider business practice location address state name} as string,\n\t\t{provider business practice location address postal code} as string,\n\t\t{provider business practice location address country code out us} as string,\n\t\t{provider business practice location address telephone number} as string,\n\t\t{provider business practice location address fax number} as string,\n\t\t{provider enumeration date} as date,\n\t\t{last update date} as date,\n\t\t{npi deactivation reason code} as string,\n\t\t{npi deactivation date} as date,\n\t\t{npi reactivation date} as date,\n\t\t{provider gender code} as string,\n\t\t{authorized official last name} as string,\n\t\t{authorized official first name} as string,\n\t\t{authorized official middle name} as string,\n\t\t{authorized official title or position} as string,\n\t\t{authorized official telephone number} as string,\n\t\t{is sole proprietor} as string,\n\t\t{is organization subpart} as string,\n\t\t{parent organization lbn} as string,\n\t\t{parent organization tin} as string,\n\t\t{authorized official name prefix text} as string,\n\t\t{authorized official name suffix text} as string,\n\t\t{authorized official credential text} as string,\n\t\t{healthcare provider primary taxonomy code} as string,\n\t\t{healthcare provider primary group taxonomy} as string,\n\t\t{provider primary license number} as string,\n\t\t{provider primary license number state code} as string,\n\t\tprimary_taxonomy_grouping as string,\n\t\tprimary_taxonomy_classification as string,\n\t\tprimary_taxonomy_specialization as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> StCmsNppesMain\nsource(output(\n\t\tcurrent_flag as string,\n\t\tdata_month as integer,\n\t\tnpi as string,\n\t\t{entity type code} as string,\n\t\t{entity type} as string,\n\t\t{replacement npi} as string,\n\t\t{employer identification number (ein)} as string,\n\t\t{provider organization name (legal business name)} as string,\n\t\t{provider last name (legal name)} as string,\n\t\t{provider first name} as string,\n\t\t{provider middle name} as string,\n\t\t{provider name prefix text} as string,\n\t\t{provider name suffix text} as string,\n\t\t{provider credential text} as string,\n\t\t{provider other organization name} as string,\n\t\t{provider other organization name type code} as string,\n\t\t{provider other last name} as string,\n\t\t{provider other first name} as string,\n\t\t{provider other middle name} as string,\n\t\t{provider other name prefix text} as string,\n\t\t{provider other name suffix text} as string,\n\t\t{provider other credential text} as string,\n\t\t{provider other last name type code} as string,\n\t\t{provider first line business mailing address} as string,\n\t\t{provider second line business mailing address} as string,\n\t\t{provider business mailing address city name} as string,\n\t\t{provider business mailing address state name} as string,\n\t\t{provider business mailing address postal code} as string,\n\t\t{provider business mailing address country code (if outside u.s.)} as string,\n\t\t{provider business mailing address telephone number} as string,\n\t\t{provider business mailing address fax number} as string,\n\t\t{provider first line business practice location address} as string,\n\t\t{provider second line business practice location address} as string,\n\t\t{provider business practice location address city name} as string,\n\t\t{provider business practice location address state name} as string,\n\t\t{provider business practice location address postal code} as string,\n\t\t{provider business practice location address country code out us} as string,\n\t\t{provider business practice location address telephone number} as string,\n\t\t{provider business practice location address fax number} as string,\n\t\t{provider enumeration date} as date,\n\t\t{last update date} as date,\n\t\t{npi deactivation reason code} as string,\n\t\t{npi deactivation date} as date,\n\t\t{npi reactivation date} as date,\n\t\t{active flag} as string,\n\t\t{provider gender code} as string,\n\t\t{authorized official last name} as string,\n\t\t{authorized official first name} as string,\n\t\t{authorized official middle name} as string,\n\t\t{authorized official title or position} as string,\n\t\t{authorized official telephone number} as string,\n\t\t{healthcare provider primary taxonomy code} as string,\n\t\tprimary_taxonomy_grouping as string,\n\t\tprimary_taxonomy_classification as string,\n\t\tprimary_taxonomy_specialization as string,\n\t\t{provider primary license number} as string,\n\t\t{provider primary license number state code} as string,\n\t\t{healthcare provider primary group taxonomy} as string,\n\t\t{is sole proprietor} as string,\n\t\t{is organization subpart} as string,\n\t\t{parent organization lbn} as string,\n\t\t{parent organization tin} as string,\n\t\t{authorized official name prefix text} as string,\n\t\t{authorized official name suffix text} as string,\n\t\t{authorized official credential text} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> ProdCmsNppesMain\nProdCmsNppesMain filter(current_flag=='1') ~> ProdNPPESMainCurrent\nProdNPPESMainCurrent select(mapColumn(\n\t\teach(match(!in([('current_flag'),('data_month')],name)))\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectProdNPPESMainCurrent\nRemoveSpaceMailingCountryFieldName select(mapColumn(\n\t\teach(match(!in([('provider business mailing address country code (if outside u.s.) ')],name)))\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> DropBadFieldName\nStCmsNppesMain derive({provider business mailing address country code (if outside u.s.)} = {provider business mailing address country code (if outside u.s.) }) ~> RemoveSpaceMailingCountryFieldName\nStCreateKey, ProdCreateKey exists(st_compare_key == prod_compare_key,\n\tnegate:true,\n\tbroadcast: 'auto')~> NewNPPESMainRecord\nSelect1, DropNPITemp union(byName: true)~> Union1\nNewNPPESMainRecord aggregate(groupBy(npi_temp = npi),\n\ttemp = count(npi)) ~> NewNPPESRecordsNPI\nNewNPPESRecordsNPI, ProdCmsNppesMain join(npi_temp == npi,\n\tjoinType:'right',\n\tbroadcast: 'auto')~> CompareWithProdNPPESMain\nCompareWithProdNPPESMain derive(current_flag = iif(isNull(npi),current_flag,'0')) ~> AdjustCurrentFlag\nAdjustCurrentFlag select(mapColumn(\n\t\teach(match(!in([('npi_temp'),('temp'),('st_compare_key')],name)))\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> DropNPITemp\nSelectProdNPPESMainCurrent derive(prod_compare_key = upper(concat(npi,iifNull({entity type code},\"\"),iifNull({replacement npi},''),iifNull({employer identification number (ein)},''),iifNull({provider organization name (legal business name)},''),\r\niifNull({provider last name (legal name)},''),iifNull({provider first name},''),iifNull({provider middle name},''),iifNull({provider name prefix text},''),\r\niifNull({provider name suffix text},''),iifNull({provider credential text},''),iifNull({provider other organization name},''),\r\niifNull({provider other organization name type code},''),iifNull({provider other last name},''),iifNull({provider other first name},''),\r\niifNull({provider other middle name},''),iifNull({provider other name prefix text},''),iifNull({provider other name suffix text},''),\r\niifNull({provider other credential text},''),iifNull({provider other last name type code},''),iifNull({provider first line business mailing address},''),\r\niifNull({provider second line business mailing address},''),iifNull({provider business mailing address city name},''),iifNull({provider business mailing address state name},''),\r\niifNull({provider business mailing address postal code},''),iifNull({provider business mailing address country code (if outside u.s.)},''),\r\niifNull({provider business mailing address telephone number},''),iifNull({provider business mailing address fax number},''),\r\niifNull({provider first line business practice location address},''),iifNull({provider second line business practice location address},''),\r\niifNull({provider business practice location address city name},''),iifNull({provider business practice location address state name},''),\r\niifNull({provider business practice location address postal code},''),iifNull({provider business practice location address country code out us},''),\r\niifNull({provider business practice location address telephone number},''),iifNull({provider business practice location address fax number},''),\r\niifNull(toString({provider enumeration date}),''),iifNull(toString({last update date}),''),iifNull({npi deactivation reason code},''),\r\niifNull(toString({npi deactivation date}),''),iifNull(toString({npi reactivation date}),''),iifNull({active flag},''),iifNull({provider gender code},''),\r\niifNull({authorized official last name},''),iifNull({authorized official first name},''),iifNull({authorized official middle name},''),\r\niifNull({authorized official title or position},''),iifNull({authorized official telephone number},''),iifNull({healthcare provider primary taxonomy code},''),\r\niifNull(primary_taxonomy_grouping,''),iifNull(primary_taxonomy_classification,''),iifNull(primary_taxonomy_specialization,''),iifNull({provider primary license number},''),\r\niifNull({provider primary license number state code},''),iifNull({healthcare provider primary group taxonomy},''),iifNull({is sole proprietor},''),\r\niifNull({is organization subpart},''),iifNull({parent organization lbn},''),iifNull({parent organization tin},''),iifNull({authorized official name prefix text},''),\r\niifNull({authorized official name suffix text},''),iifNull({authorized official credential text},'')))) ~> ProdCreateKey\nDropBadFieldName derive(st_compare_key = upper(concat(npi,iifNull({entity type code},\"\"),iifNull({replacement npi},''),iifNull({employer identification number (ein)},''),iifNull({provider organization name (legal business name)},''),\r\niifNull({provider last name (legal name)},''),iifNull({provider first name},''),iifNull({provider middle name},''),iifNull({provider name prefix text},''),\r\niifNull({provider name suffix text},''),iifNull({provider credential text},''),iifNull({provider other organization name},''),\r\niifNull({provider other organization name type code},''),iifNull({provider other last name},''),iifNull({provider other first name},''),\r\niifNull({provider other middle name},''),iifNull({provider other name prefix text},''),iifNull({provider other name suffix text},''),\r\niifNull({provider other credential text},''),iifNull({provider other last name type code},''),iifNull({provider first line business mailing address},''),\r\niifNull({provider second line business mailing address},''),iifNull({provider business mailing address city name},''),iifNull({provider business mailing address state name},''),\r\niifNull({provider business mailing address postal code},''),iifNull({provider business mailing address country code (if outside u.s.)},''),\r\niifNull({provider business mailing address telephone number},''),iifNull({provider business mailing address fax number},''),\r\niifNull({provider first line business practice location address},''),iifNull({provider second line business practice location address},''),\r\niifNull({provider business practice location address city name},''),iifNull({provider business practice location address state name},''),\r\niifNull({provider business practice location address postal code},''),iifNull({provider business practice location address country code out us},''),\r\niifNull({provider business practice location address telephone number},''),iifNull({provider business practice location address fax number},''),\r\niifNull(toString({provider enumeration date}),''),iifNull(toString({last update date}),''),iifNull({npi deactivation reason code},''),\r\niifNull(toString({npi deactivation date}),''),iifNull(toString({npi reactivation date}),''),iifNull({active flag},''),iifNull({provider gender code},''),\r\niifNull({authorized official last name},''),iifNull({authorized official first name},''),iifNull({authorized official middle name},''),\r\niifNull({authorized official title or position},''),iifNull({authorized official telephone number},''),iifNull({healthcare provider primary taxonomy code},''),\r\niifNull(primary_taxonomy_grouping,''),iifNull(primary_taxonomy_classification,''),iifNull(primary_taxonomy_specialization,''),iifNull({provider primary license number},''),\r\niifNull({provider primary license number state code},''),iifNull({healthcare provider primary group taxonomy},''),iifNull({is sole proprietor},''),\r\niifNull({is organization subpart},''),iifNull({parent organization lbn},''),iifNull({parent organization tin},''),iifNull({authorized official name prefix text},''),\r\niifNull({authorized official name suffix text},''),iifNull({authorized official credential text},'')))) ~> StCreateKey\nNewNPPESMainRecord select(mapColumn(\n\t\teach(match(!in([('st_compare_key')],name)))\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select1\nUnion1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tcurrent_flag as string,\n\t\tnpi as string,\n\t\tdata_month as integer,\n\t\t{active flag} as string,\n\t\t{entity type code} as string,\n\t\t{entity type} as string,\n\t\t{replacement npi} as string,\n\t\t{employer identification number (ein)} as string,\n\t\t{provider organization name (legal business name)} as string,\n\t\t{provider last name (legal name)} as string,\n\t\t{provider first name} as string,\n\t\t{provider middle name} as string,\n\t\t{provider name prefix text} as string,\n\t\t{provider name suffix text} as string,\n\t\t{provider credential text} as string,\n\t\t{provider other organization name} as string,\n\t\t{provider other organization name type code} as string,\n\t\t{provider other last name} as string,\n\t\t{provider other first name} as string,\n\t\t{provider other middle name} as string,\n\t\t{provider other name prefix text} as string,\n\t\t{provider other name suffix text} as string,\n\t\t{provider other credential text} as string,\n\t\t{provider other last name type code} as string,\n\t\t{provider first line business mailing address} as string,\n\t\t{provider second line business mailing address} as string,\n\t\t{provider business mailing address city name} as string,\n\t\t{provider business mailing address state name} as string,\n\t\t{provider business mailing address postal code} as string,\n\t\t{provider business mailing address telephone number} as string,\n\t\t{provider business mailing address fax number} as string,\n\t\t{provider first line business practice location address} as string,\n\t\t{provider second line business practice location address} as string,\n\t\t{provider business practice location address city name} as string,\n\t\t{provider business practice location address state name} as string,\n\t\t{provider business practice location address postal code} as string,\n\t\t{provider business practice location address country code out us} as string,\n\t\t{provider business practice location address telephone number} as string,\n\t\t{provider business practice location address fax number} as string,\n\t\t{provider enumeration date} as date,\n\t\t{last update date} as date,\n\t\t{npi deactivation reason code} as string,\n\t\t{npi deactivation date} as date,\n\t\t{npi reactivation date} as date,\n\t\t{provider gender code} as string,\n\t\t{authorized official last name} as string,\n\t\t{authorized official first name} as string,\n\t\t{authorized official middle name} as string,\n\t\t{authorized official title or position} as string,\n\t\t{authorized official telephone number} as string,\n\t\t{is sole proprietor} as string,\n\t\t{is organization subpart} as string,\n\t\t{parent organization lbn} as string,\n\t\t{parent organization tin} as string,\n\t\t{authorized official name prefix text} as string,\n\t\t{authorized official name suffix text} as string,\n\t\t{authorized official credential text} as string,\n\t\t{healthcare provider primary taxonomy code} as string,\n\t\t{healthcare provider primary group taxonomy} as string,\n\t\t{provider primary license number} as string,\n\t\t{provider primary license number state code} as string,\n\t\tprimary_taxonomy_grouping as string,\n\t\tprimary_taxonomy_classification as string,\n\t\tprimary_taxonomy_specialization as string,\n\t\t{provider business mailing address country code (if outside u.s.)} as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> SinkNPPESMain"
				}
			},
			"dependsOn": []
		}
	]
}