qral-df-dev/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "qral-df-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PUF_DS_PROD_NPPES_OTHER_PROVIDER_ID')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Qral_Dev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QRAL_AZURE_PUF/PUF_PROD"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "current_flag",
						"type": "nvarchar"
					},
					{
						"name": "data_month",
						"type": "int",
						"precision": 10
					},
					{
						"name": "npi",
						"type": "nvarchar"
					},
					{
						"name": "entity type code",
						"type": "nvarchar"
					},
					{
						"name": "entity type",
						"type": "nvarchar"
					},
					{
						"name": "active flag",
						"type": "nvarchar"
					},
					{
						"name": "other_provider_identifier",
						"type": "nvarchar"
					},
					{
						"name": "other_provider_identifier_type_code",
						"type": "nvarchar"
					},
					{
						"name": "other_provider_identifier_state",
						"type": "nvarchar"
					},
					{
						"name": "other_provider_identifier_issuer",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "cms",
					"table": "nppes_other_provider_identifiers"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_DS_PROD_NPPES_PROVIDER_TAXONOMY')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Qral_Dev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QRAL_AZURE_PUF/PUF_PROD"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "current_flag",
						"type": "nvarchar"
					},
					{
						"name": "data_month",
						"type": "int",
						"precision": 10
					},
					{
						"name": "npi",
						"type": "nvarchar"
					},
					{
						"name": "entity type code",
						"type": "nvarchar"
					},
					{
						"name": "entity type",
						"type": "nvarchar"
					},
					{
						"name": "active flag",
						"type": "nvarchar"
					},
					{
						"name": "healthcare_provider_taxonomy_code",
						"type": "nvarchar"
					},
					{
						"name": "taxonomy_grouping",
						"type": "nvarchar"
					},
					{
						"name": "taxonomy_classification",
						"type": "nvarchar"
					},
					{
						"name": "taxonomy_specialization",
						"type": "nvarchar"
					},
					{
						"name": "provider_license_number",
						"type": "nvarchar"
					},
					{
						"name": "provider_license_number_state_code",
						"type": "nvarchar"
					},
					{
						"name": "healthcare_provider_primary_taxonomy_switch",
						"type": "nvarchar"
					},
					{
						"name": "healthcare_provider_group_taxonomy",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "cms",
					"table": "nppes_provider_taxonomy"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_DS_PROD_NUCC_TAXONOMY')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Qral_Dev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QRAL_AZURE_PUF/PUF_PROD"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "code",
						"type": "varchar"
					},
					{
						"name": "grouping",
						"type": "varchar"
					},
					{
						"name": "classification",
						"type": "varchar"
					},
					{
						"name": "specialization",
						"type": "varchar"
					},
					{
						"name": "definition",
						"type": "varchar"
					},
					{
						"name": "notes",
						"type": "varchar"
					},
					{
						"name": "year",
						"type": "int",
						"precision": 10
					},
					{
						"name": "current_flag",
						"type": "int",
						"precision": 10
					},
					{
						"name": "effective date",
						"type": "varchar"
					},
					{
						"name": "deactivation date",
						"type": "varchar"
					},
					{
						"name": "last modified date",
						"type": "varchar"
					},
					{
						"name": "display name",
						"type": "varchar"
					},
					{
						"name": "right_effective date",
						"type": "varchar"
					},
					{
						"name": "right_deactivation date",
						"type": "varchar"
					},
					{
						"name": "right_last modified date",
						"type": "varchar"
					},
					{
						"name": "right_display name",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "nucc",
					"table": "nucc_taxonomy"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_temp')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Qral_Dev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DA_Test"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "current_flag",
						"type": "nvarchar"
					},
					{
						"name": "data_month",
						"type": "int",
						"precision": 10
					},
					{
						"name": "npi",
						"type": "nvarchar"
					},
					{
						"name": "entity type code",
						"type": "nvarchar"
					},
					{
						"name": "entity type",
						"type": "nvarchar"
					},
					{
						"name": "active flag",
						"type": "nvarchar"
					},
					{
						"name": "healthcare_provider_taxonomy_code",
						"type": "nvarchar"
					},
					{
						"name": "taxonomy_grouping",
						"type": "nvarchar"
					},
					{
						"name": "taxonomy_classification",
						"type": "nvarchar"
					},
					{
						"name": "taxonomy_specialization",
						"type": "nvarchar"
					},
					{
						"name": "provider_license_number",
						"type": "nvarchar"
					},
					{
						"name": "provider_license_number_state_code",
						"type": "nvarchar"
					},
					{
						"name": "healthcare_provider_primary_taxonomy_switch",
						"type": "nvarchar"
					},
					{
						"name": "healthcare_provider_group_taxonomy",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "temp",
					"table": "st_cms_nppes_provider_taxonomy_202104"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_temp_a')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Qral_Dev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DA_Test"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "temp_int",
						"type": "int",
						"precision": 10
					},
					{
						"name": "temp_var",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "temp",
					"table": "a"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_temp_b')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Qral_Dev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DA_Test"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "temp_int_b",
						"type": "int",
						"precision": 10
					},
					{
						"name": "temp_var_b",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "temp",
					"table": "b"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_QC_Exception_Detail')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Qral_Dev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QRAL_AZURE_PUF/DQM"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "qc_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "pipeline_name",
						"type": "nvarchar"
					},
					{
						"name": "pipeline_run_id",
						"type": "nvarchar"
					},
					{
						"name": "pipeline_trigger_time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "pkey_column_values",
						"type": "nvarchar"
					},
					{
						"name": "column_metric_error_values",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dqm",
					"table": "qc_exception_detail"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/QRAL_AZURE_SQL_DEV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Qral_Dev",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schema_name": {
						"type": "string"
					},
					"table_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "QRAL_AZURE_PUF/AzureSQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema_name",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().table_name",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_azure_sql_dev')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Qral_Dev",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"tableName": {
						"type": "string"
					},
					"schemaName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().tableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_V_QC_List')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Qral_Dev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QRAL_AZURE_PUF/DQM"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "qc_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "pipeline_name",
						"type": "nvarchar"
					},
					{
						"name": "table_schema",
						"type": "nvarchar"
					},
					{
						"name": "table_name",
						"type": "nvarchar"
					},
					{
						"name": "column_metric_name",
						"type": "nvarchar"
					},
					{
						"name": "sql_query",
						"type": "nvarchar"
					},
					{
						"name": "qc_type_code",
						"type": "nvarchar"
					},
					{
						"name": "alert_code",
						"type": "nvarchar"
					},
					{
						"name": "active_flag",
						"type": "nvarchar"
					},
					{
						"name": "notes",
						"type": "nvarchar"
					},
					{
						"name": "pkey_column_names",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dqm",
					"table": "v_qc_list"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_QC_Tables')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Qral_Dev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QRAL_AZURE_PUF/DQM"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "table_schema",
						"type": "nvarchar"
					},
					{
						"name": "table_name",
						"type": "nvarchar"
					},
					{
						"name": "pkey_column_names",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dqm",
					"table": "qc_tables"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_QC_List')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Qral_Dev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QRAL_AZURE_PUF/DQM"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "qc_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "pipeline_name",
						"type": "nvarchar"
					},
					{
						"name": "table_schema",
						"type": "nvarchar"
					},
					{
						"name": "table_name",
						"type": "nvarchar"
					},
					{
						"name": "column_metric_name",
						"type": "nvarchar"
					},
					{
						"name": "sql_query",
						"type": "nvarchar"
					},
					{
						"name": "qc_type_code",
						"type": "nvarchar"
					},
					{
						"name": "alert_code",
						"type": "nvarchar"
					},
					{
						"name": "active_flag",
						"type": "nvarchar"
					},
					{
						"name": "notes",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dqm",
					"table": "qc_list"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_0_Readin_Country_Correction')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Readin_Country_Correction",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "@{concat('DROP TABLE [',pipeline().parameters.out_schema,'].[',pipeline().parameters.out_table_country,']')}",
									"type": "Expression"
								},
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PUF_FS_XLSX_Country_Correction",
								"type": "DatasetReference",
								"parameters": {
									"Data_Month": {
										"value": "@pipeline().parameters.data_month",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "QRAL_AZURE_SQL_DEV",
								"type": "DatasetReference",
								"parameters": {
									"schema_name": {
										"value": "@pipeline().parameters.out_schema",
										"type": "Expression"
									},
									"table_name": {
										"value": "@pipeline().parameters.out_table_country",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"out_schema": {
						"type": "string",
						"defaultValue": "nppes"
					},
					"out_table_country": {
						"type": "string",
						"defaultValue": "0_raw_country_correction"
					},
					"out_table_state": {
						"type": "string",
						"defaultValue": "0_raw_state_correction"
					},
					"data_month": {
						"type": "string",
						"defaultValue": "202104"
					}
				},
				"folder": {
					"name": "PUF_NPPES"
				},
				"annotations": [],
				"lastPublishTime": "2021-06-23T05:51:15Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/QRAL_AZURE_SQL_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_0_Readin_Raw')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Readin_Raw_to_SQL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "data_month",
										"value": {
											"value": "@pipeline().parameters.data_month_year",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@pipeline().parameters.inp_file_path",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "@pipeline().parameters.inp_file_name",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "@{concat('DROP TABLE [',pipeline().parameters.out_schema,'].[',pipeline().parameters.out_table,']')}",
									"type": "Expression"
								},
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PUF_FS_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "QRAL_AZURE_SQL_DEV",
								"type": "DatasetReference",
								"parameters": {
									"schema_name": {
										"value": "@pipeline().parameters.out_schema",
										"type": "Expression"
									},
									"table_name": {
										"value": "@pipeline().parameters.out_table",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"inp_file_path": {
						"type": "string",
						"defaultValue": "Data Sources/CMS/NPPES/2021/"
					},
					"inp_file_name": {
						"type": "string",
						"defaultValue": "npidata_pfile_20050523-20210411.csv"
					},
					"out_schema": {
						"type": "string",
						"defaultValue": "nppes"
					},
					"out_table": {
						"type": "string",
						"defaultValue": "0_raw_cms_nppes"
					},
					"data_month_year": {
						"type": "string",
						"defaultValue": "202104"
					}
				},
				"folder": {
					"name": "PUF_General"
				},
				"annotations": [],
				"lastPublishTime": "2021-10-08T23:55:48Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/QRAL_AZURE_SQL_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_0_Readin_Raw_NPPES')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Readin_Raw_NPPES",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "data_month",
										"value": {
											"value": "@pipeline().parameters.data_month_year",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@pipeline().parameters.inp_file_path",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "@pipeline().parameters.inp_file_name",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "@{concat('DROP TABLE [',pipeline().parameters.out_schema,'].[',pipeline().parameters.out_table,']')}",
									"type": "Expression"
								},
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PUF_FS_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "QRAL_AZURE_SQL_DEV",
								"type": "DatasetReference",
								"parameters": {
									"schema_name": {
										"value": "@pipeline().parameters.out_schema",
										"type": "Expression"
									},
									"table_name": {
										"value": "@pipeline().parameters.out_table",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"inp_file_path": {
						"type": "string",
						"defaultValue": "Data Sources/CMS/NPPES/2021/"
					},
					"inp_file_name": {
						"type": "string",
						"defaultValue": "npidata_pfile_20050523-20210411.csv"
					},
					"out_schema": {
						"type": "string",
						"defaultValue": "nppes"
					},
					"out_table": {
						"type": "string",
						"defaultValue": "0_raw_cms_nppes"
					},
					"data_month_year": {
						"type": "string",
						"defaultValue": "202104"
					}
				},
				"folder": {
					"name": "PUF_NPPES"
				},
				"annotations": [],
				"lastPublishTime": "2021-05-19T06:44:50Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/QRAL_AZURE_SQL_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_0_Readin_State_Correction')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Readin_State_Correction",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "@{concat('DROP TABLE [',pipeline().parameters.out_schema,'].[',pipeline().parameters.out_table_state,']')}",
									"type": "Expression"
								},
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PUF_FS_XLSX_State_Correction",
								"type": "DatasetReference",
								"parameters": {
									"Data_Month": {
										"value": "@pipeline().parameters.data_month",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "QRAL_AZURE_SQL_DEV",
								"type": "DatasetReference",
								"parameters": {
									"schema_name": {
										"value": "@pipeline().parameters.out_schema",
										"type": "Expression"
									},
									"table_name": {
										"value": "@pipeline().parameters.out_table_state",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"out_schema": {
						"type": "string",
						"defaultValue": "nppes"
					},
					"out_table_country": {
						"type": "string",
						"defaultValue": "0_raw_country_correction"
					},
					"out_table_state": {
						"type": "string",
						"defaultValue": "0_raw_state_correction"
					},
					"data_month": {
						"type": "string",
						"defaultValue": "202104"
					}
				},
				"folder": {
					"name": "PUF_NPPES"
				},
				"annotations": [],
				"lastPublishTime": "2021-06-23T05:51:15Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/QRAL_AZURE_SQL_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Qral_PUF_DEV_Redshift_to AzureSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Redshift_to_AzureSQL_Qral_PUF_Dev",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AmazonRedshiftSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "redshift_Qral_PUF_DEV",
								"type": "DatasetReference",
								"parameters": {
									"schemaName": {
										"value": "@pipeline().parameters.inp_schemaName",
										"type": "Expression"
									},
									"tableName": {
										"value": "@pipeline().parameters.inp_tableName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Azure_Qral_Dev_Table",
								"type": "DatasetReference",
								"parameters": {
									"schemaName": {
										"value": "@pipeline().parameters.out_schemaName",
										"type": "Expression"
									},
									"tableName": {
										"value": "@pipeline().parameters.out_tableName",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"inp_schemaName": {
						"type": "string"
					},
					"inp_tableName": {
						"type": "string"
					},
					"out_schemaName": {
						"type": "string"
					},
					"out_tableName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "0_Redshift to Azure SQL - Initial Load"
				},
				"annotations": [],
				"lastPublishTime": "2021-06-20T21:55:13Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Qral_PUF_PROD_Redshift_to AzureSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Redshift_to_AzureSQL_Qral_PUF_Prod",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AmazonRedshiftSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "redshift_Qral_PUF_PROD",
								"type": "DatasetReference",
								"parameters": {
									"schemaName": {
										"value": "@pipeline().parameters.inp_schemaName",
										"type": "Expression"
									},
									"tableName": {
										"value": "@pipeline().parameters.inp_tableName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Azure_Qral_Dev_Table",
								"type": "DatasetReference",
								"parameters": {
									"schemaName": {
										"value": "@pipeline().parameters.out_schemaName",
										"type": "Expression"
									},
									"tableName": {
										"value": "@pipeline().parameters.out_tableName",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"inp_schemaName": {
						"type": "string"
					},
					"inp_tableName": {
						"type": "string"
					},
					"out_schemaName": {
						"type": "string"
					},
					"out_tableName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "0_Redshift to Azure SQL - Initial Load"
				},
				"annotations": [],
				"lastPublishTime": "2021-05-20T03:37:20Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/am_test2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_read_raw_file",
								"type": "DatasetReference",
								"parameters": {
									"containerName": {
										"value": "@pipeline().parameters.sourceFileContainerName",
										"type": "Expression"
									},
									"fileName": {
										"value": "@pipeline().parameters.sourceFileName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Azure_Qral_Dev_Table",
								"type": "DatasetReference",
								"parameters": {
									"schemaName": {
										"value": "@pipeline().parameters.landingSchemaName",
										"type": "Expression"
									},
									"tableName": {
										"value": "@pipeline().parameters.landingTableName",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"sourceFileContainerName": {
						"type": "string"
					},
					"sourceFileName": {
						"type": "string"
					},
					"landingTableName": {
						"type": "string"
					},
					"landingSchemaName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "AM_Test"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/am_test_3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Validation1",
						"type": "Validation",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_read_raw_file",
								"type": "DatasetReference",
								"parameters": {
									"containerName": {
										"value": "@pipeline().parameters.inputfilecontainername",
										"type": "Expression"
									},
									"fileName": {
										"value": "@pipeline().parameters.inputfilename",
										"type": "Expression"
									}
								}
							},
							"timeout": "0.00:00:30",
							"sleep": 10
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Validation1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_read_raw_file",
								"type": "DatasetReference",
								"parameters": {
									"containerName": {
										"value": "@pipeline().parameters.inputfilecontainername",
										"type": "Expression"
									},
									"fileName": {
										"value": "@pipeline().parameters.inputfilename",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Azure_Qral_Dev_Table",
								"type": "DatasetReference",
								"parameters": {
									"schemaName": {
										"value": "@pipeline().parameters.targetschemaname",
										"type": "Expression"
									},
									"tableName": {
										"value": "@pipeline().parameters.targetname",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"inputfilecontainername": {
						"type": "string"
					},
					"inputfilename": {
						"type": "string"
					},
					"targetschemaname": {
						"type": "string"
					},
					"targetname": {
						"type": "string"
					}
				},
				"folder": {
					"name": "AM_Test"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}