qral-df-dev/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "qral-df-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PUF_temp')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Qral_Dev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DA_Test"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "current_flag",
						"type": "nvarchar"
					},
					{
						"name": "data_month",
						"type": "int",
						"precision": 10
					},
					{
						"name": "npi",
						"type": "nvarchar"
					},
					{
						"name": "entity type code",
						"type": "nvarchar"
					},
					{
						"name": "entity type",
						"type": "nvarchar"
					},
					{
						"name": "active flag",
						"type": "nvarchar"
					},
					{
						"name": "healthcare_provider_taxonomy_code",
						"type": "nvarchar"
					},
					{
						"name": "taxonomy_grouping",
						"type": "nvarchar"
					},
					{
						"name": "taxonomy_classification",
						"type": "nvarchar"
					},
					{
						"name": "taxonomy_specialization",
						"type": "nvarchar"
					},
					{
						"name": "provider_license_number",
						"type": "nvarchar"
					},
					{
						"name": "provider_license_number_state_code",
						"type": "nvarchar"
					},
					{
						"name": "healthcare_provider_primary_taxonomy_switch",
						"type": "nvarchar"
					},
					{
						"name": "healthcare_provider_group_taxonomy",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "temp",
					"table": "st_cms_nppes_provider_taxonomy_202104"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_temp_a')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Qral_Dev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DA_Test"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "temp_int",
						"type": "int",
						"precision": 10
					},
					{
						"name": "temp_var",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "temp",
					"table": "a"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_temp_b')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Qral_Dev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DA_Test"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "temp_int_b",
						"type": "int",
						"precision": 10
					},
					{
						"name": "temp_var_b",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "temp",
					"table": "b"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/QRAL_AZURE_SQL_DEV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Qral_Dev",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schema_name": {
						"type": "string"
					},
					"table_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "QRAL_AZURE_PUF/AzureSQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema_name",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().table_name",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_azure_sql_dev')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_Qral_Dev",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"tableName": {
						"type": "string"
					},
					"schemaName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().tableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_0_Readin_Country_Correction')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Readin_Country_Correction",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "@{concat('DROP TABLE [',pipeline().parameters.out_schema,'].[',pipeline().parameters.out_table_country,']')}",
									"type": "Expression"
								},
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PUF_FS_XLSX_Country_Correction",
								"type": "DatasetReference",
								"parameters": {
									"Data_Month": {
										"value": "@pipeline().parameters.data_month",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "QRAL_AZURE_SQL_DEV",
								"type": "DatasetReference",
								"parameters": {
									"schema_name": {
										"value": "@pipeline().parameters.out_schema",
										"type": "Expression"
									},
									"table_name": {
										"value": "@pipeline().parameters.out_table_country",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"out_schema": {
						"type": "string",
						"defaultValue": "nppes"
					},
					"out_table_country": {
						"type": "string",
						"defaultValue": "0_raw_country_correction"
					},
					"out_table_state": {
						"type": "string",
						"defaultValue": "0_raw_state_correction"
					},
					"data_month": {
						"type": "string",
						"defaultValue": "202104"
					}
				},
				"folder": {
					"name": "PUF_NPPES"
				},
				"annotations": [],
				"lastPublishTime": "2021-06-23T05:51:15Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/QRAL_AZURE_SQL_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_0_Readin_Raw')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Readin_Raw_to_SQL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "data_month",
										"value": {
											"value": "@pipeline().parameters.data_month_year",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@pipeline().parameters.inp_file_path",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "@pipeline().parameters.inp_file_name",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "@{concat('DROP TABLE [',pipeline().parameters.out_schema,'].[',pipeline().parameters.out_table,']')}",
									"type": "Expression"
								},
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PUF_FS_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "QRAL_AZURE_SQL_DEV",
								"type": "DatasetReference",
								"parameters": {
									"schema_name": {
										"value": "@pipeline().parameters.out_schema",
										"type": "Expression"
									},
									"table_name": {
										"value": "@pipeline().parameters.out_table",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"inp_file_path": {
						"type": "string",
						"defaultValue": "Data Sources/CMS/NPPES/2021/"
					},
					"inp_file_name": {
						"type": "string",
						"defaultValue": "npidata_pfile_20050523-20210411.csv"
					},
					"out_schema": {
						"type": "string",
						"defaultValue": "nppes"
					},
					"out_table": {
						"type": "string",
						"defaultValue": "0_raw_cms_nppes"
					},
					"data_month_year": {
						"type": "string",
						"defaultValue": "202104"
					}
				},
				"folder": {
					"name": "PUF_General"
				},
				"annotations": [],
				"lastPublishTime": "2021-10-08T23:55:48Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/QRAL_AZURE_SQL_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_0_Readin_Raw_NPPES')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Readin_Raw_NPPES",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "data_month",
										"value": {
											"value": "@pipeline().parameters.data_month_year",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@pipeline().parameters.inp_file_path",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "@pipeline().parameters.inp_file_name",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "@{concat('DROP TABLE [',pipeline().parameters.out_schema,'].[',pipeline().parameters.out_table,']')}",
									"type": "Expression"
								},
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PUF_FS_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "QRAL_AZURE_SQL_DEV",
								"type": "DatasetReference",
								"parameters": {
									"schema_name": {
										"value": "@pipeline().parameters.out_schema",
										"type": "Expression"
									},
									"table_name": {
										"value": "@pipeline().parameters.out_table",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"inp_file_path": {
						"type": "string",
						"defaultValue": "Data Sources/CMS/NPPES/2021/"
					},
					"inp_file_name": {
						"type": "string",
						"defaultValue": "npidata_pfile_20050523-20210411.csv"
					},
					"out_schema": {
						"type": "string",
						"defaultValue": "nppes"
					},
					"out_table": {
						"type": "string",
						"defaultValue": "0_raw_cms_nppes"
					},
					"data_month_year": {
						"type": "string",
						"defaultValue": "202104"
					}
				},
				"folder": {
					"name": "PUF_NPPES"
				},
				"annotations": [],
				"lastPublishTime": "2021-05-19T06:44:50Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/QRAL_AZURE_SQL_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_0_Readin_State_Correction')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Readin_State_Correction",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "@{concat('DROP TABLE [',pipeline().parameters.out_schema,'].[',pipeline().parameters.out_table_state,']')}",
									"type": "Expression"
								},
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PUF_FS_XLSX_State_Correction",
								"type": "DatasetReference",
								"parameters": {
									"Data_Month": {
										"value": "@pipeline().parameters.data_month",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "QRAL_AZURE_SQL_DEV",
								"type": "DatasetReference",
								"parameters": {
									"schema_name": {
										"value": "@pipeline().parameters.out_schema",
										"type": "Expression"
									},
									"table_name": {
										"value": "@pipeline().parameters.out_table_state",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"out_schema": {
						"type": "string",
						"defaultValue": "nppes"
					},
					"out_table_country": {
						"type": "string",
						"defaultValue": "0_raw_country_correction"
					},
					"out_table_state": {
						"type": "string",
						"defaultValue": "0_raw_state_correction"
					},
					"data_month": {
						"type": "string",
						"defaultValue": "202104"
					}
				},
				"folder": {
					"name": "PUF_NPPES"
				},
				"annotations": [],
				"lastPublishTime": "2021-06-23T05:51:15Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/QRAL_AZURE_SQL_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Qral_PUF_DEV_Redshift_to AzureSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Redshift_to_AzureSQL_Qral_PUF_Dev",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AmazonRedshiftSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "redshift_Qral_PUF_DEV",
								"type": "DatasetReference",
								"parameters": {
									"schemaName": {
										"value": "@pipeline().parameters.inp_schemaName",
										"type": "Expression"
									},
									"tableName": {
										"value": "@pipeline().parameters.inp_tableName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Azure_Qral_Dev_Table",
								"type": "DatasetReference",
								"parameters": {
									"schemaName": {
										"value": "@pipeline().parameters.out_schemaName",
										"type": "Expression"
									},
									"tableName": {
										"value": "@pipeline().parameters.out_tableName",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"inp_schemaName": {
						"type": "string"
					},
					"inp_tableName": {
						"type": "string"
					},
					"out_schemaName": {
						"type": "string"
					},
					"out_tableName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "0_Redshift to Azure SQL - Initial Load"
				},
				"annotations": [],
				"lastPublishTime": "2021-06-20T21:55:13Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Qral_PUF_PROD_Redshift_to AzureSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Redshift_to_AzureSQL_Qral_PUF_Prod",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AmazonRedshiftSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "redshift_Qral_PUF_PROD",
								"type": "DatasetReference",
								"parameters": {
									"schemaName": {
										"value": "@pipeline().parameters.inp_schemaName",
										"type": "Expression"
									},
									"tableName": {
										"value": "@pipeline().parameters.inp_tableName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Azure_Qral_Dev_Table",
								"type": "DatasetReference",
								"parameters": {
									"schemaName": {
										"value": "@pipeline().parameters.out_schemaName",
										"type": "Expression"
									},
									"tableName": {
										"value": "@pipeline().parameters.out_tableName",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"inp_schemaName": {
						"type": "string"
					},
					"inp_tableName": {
						"type": "string"
					},
					"out_schemaName": {
						"type": "string"
					},
					"out_tableName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "0_Redshift to Azure SQL - Initial Load"
				},
				"annotations": [],
				"lastPublishTime": "2021-05-20T03:37:20Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/am_test2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_read_raw_file",
								"type": "DatasetReference",
								"parameters": {
									"containerName": {
										"value": "@pipeline().parameters.sourceFileContainerName",
										"type": "Expression"
									},
									"fileName": {
										"value": "@pipeline().parameters.sourceFileName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Azure_Qral_Dev_Table",
								"type": "DatasetReference",
								"parameters": {
									"schemaName": {
										"value": "@pipeline().parameters.landingSchemaName",
										"type": "Expression"
									},
									"tableName": {
										"value": "@pipeline().parameters.landingTableName",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"sourceFileContainerName": {
						"type": "string"
					},
					"sourceFileName": {
						"type": "string"
					},
					"landingTableName": {
						"type": "string"
					},
					"landingSchemaName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "AM_Test"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/am_test_3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Validation1",
						"type": "Validation",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_read_raw_file",
								"type": "DatasetReference",
								"parameters": {
									"containerName": {
										"value": "@pipeline().parameters.inputfilecontainername",
										"type": "Expression"
									},
									"fileName": {
										"value": "@pipeline().parameters.inputfilename",
										"type": "Expression"
									}
								}
							},
							"timeout": "0.00:00:30",
							"sleep": 10
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Validation1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_read_raw_file",
								"type": "DatasetReference",
								"parameters": {
									"containerName": {
										"value": "@pipeline().parameters.inputfilecontainername",
										"type": "Expression"
									},
									"fileName": {
										"value": "@pipeline().parameters.inputfilename",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Azure_Qral_Dev_Table",
								"type": "DatasetReference",
								"parameters": {
									"schemaName": {
										"value": "@pipeline().parameters.targetschemaname",
										"type": "Expression"
									},
									"tableName": {
										"value": "@pipeline().parameters.targetname",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"inputfilecontainername": {
						"type": "string"
					},
					"inputfilename": {
						"type": "string"
					},
					"targetschemaname": {
						"type": "string"
					},
					"targetname": {
						"type": "string"
					}
				},
				"folder": {
					"name": "AM_Test"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/am_test_metadata_activity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Validation1",
						"type": "Validation",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_read_raw_file",
								"type": "DatasetReference",
								"parameters": {
									"containerName": {
										"value": "@pipeline().parameters.inputfilecontainername",
										"type": "Expression"
									},
									"fileName": {
										"value": "@pipeline().parameters.inputfilename",
										"type": "Expression"
									}
								}
							},
							"timeout": "0.00:00:30",
							"sleep": 10
						}
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Validation1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_read_raw_file",
								"type": "DatasetReference",
								"parameters": {
									"containerName": {
										"value": "@pipeline().parameters.inputfilecontainername",
										"type": "Expression"
									},
									"fileName": {
										"value": "@pipeline().parameters.inputfilename",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"columnCount",
								"structure",
								"size"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Check column Count",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Get Metadata1').output.columnCount,7)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_read_raw_file",
											"type": "DatasetReference",
											"parameters": {
												"containerName": {
													"value": "@pipeline().parameters.inputfilecontainername",
													"type": "Expression"
												},
												"fileName": {
													"value": "@pipeline().parameters.inputfilename",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Azure_Qral_Dev_Table",
											"type": "DatasetReference",
											"parameters": {
												"schemaName": {
													"value": "@pipeline().parameters.targetschemaname",
													"type": "Expression"
												},
												"tableName": {
													"value": "@pipeline().parameters.targetname",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"inputfilecontainername": {
						"type": "string"
					},
					"inputfilename": {
						"type": "string"
					},
					"targetschemaname": {
						"type": "string"
					},
					"targetname": {
						"type": "string"
					}
				},
				"folder": {
					"name": "AM_Test"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/A0_Initial_Load_NUCC_Taxonomy')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "PUF_1_Load_NPPES"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "nucc_taxonomy",
								"type": "DatasetReference"
							},
							"name": "ReadinRawNUCCTaxonomy"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "0_ld_nucc_taxonomy_year",
								"type": "DatasetReference"
							},
							"name": "LoadToSQL"
						}
					],
					"transformations": [
						{
							"name": "AddYear"
						}
					],
					"script": "parameters{\n\tnucc_year_raw_file_suffix as string,\n\tdata_year as string\n}\nsource(output(\n\t\tCode as string,\n\t\tGrouping as string,\n\t\tClassification as string,\n\t\tSpecialization as string,\n\t\tDefinition as string,\n\t\t{Effective Date} as date 'MM/dd/yyyy',\n\t\t{Deactivation Date} as date 'MM/dd/yyyy',\n\t\t{Last Modified Date} as string,\n\t\tNotes as string,\n\t\t{Display Name} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\twildcardPaths:[(concat('nucc_taxonomy_',$nucc_year_raw_file_suffix,'.csv'))]) ~> ReadinRawNUCCTaxonomy\nReadinRawNUCCTaxonomy derive(year = $data_year) ~> AddYear\nAddYear sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> LoadToSQL"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AM_TEST_Execute_SQL_Query')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "AM_test"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Azure_Qral_Dev_Table",
								"type": "DatasetReference"
							},
							"name": "QCTable"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "TEST_SQL_LOOP_OUT",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"dataset": {
								"referenceName": "Azure_Qral_Dev_Table",
								"type": "DatasetReference"
							},
							"name": "sink2"
						},
						{
							"dataset": {
								"referenceName": "Azure_Qral_Dev_Table",
								"type": "DatasetReference"
							},
							"name": "sink3"
						}
					],
					"transformations": [
						{
							"name": "TestQuery"
						},
						{
							"name": "Aggregate1"
						},
						{
							"name": "AddLoadDate"
						}
					],
					"script": "parameters{\n\tsql_query as string,\n\tqc_id as integer,\n\tpipeline_name as string,\n\tpkey_column as string,\n\ttable_name as string\n}\nsource(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tprocedureName: '',\n\tresultSet: true,\n\tformat: 'procedure') ~> QCTable\nQCTable derive(sql_query = $sql_query,\n\t\tqc_id = $qc_id,\n\t\tpipeline_name = $pipeline_name,\n\t\tpkey_column_values = toString(byName($pkey_column)),\n\t\tload_date = currentDate(),\n\t\ttable_name = $table_name) ~> TestQuery\nTestQuery aggregate(groupBy(qc_id,\n\t\tpipeline_name,\n\t\ttable_name),\n\tcount_of_rows = count(qc_id)) ~> Aggregate1\nAggregate1 derive(load_date = currentDate()) ~> AddLoadDate\nTestQuery sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tCode as string,\n\t\tGrouping as string,\n\t\tClassification as string,\n\t\tSpecialization as string,\n\t\tDefinition as string,\n\t\t{Effective Date} as string,\n\t\t{Deactivation Date} as string,\n\t\t{Last Modified Date} as string,\n\t\tNotes as string,\n\t\t{Display Name} as string\n\t),\n\tpartitionFileNames:['test_loop_sql_out.csv'],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tpartitionBy('hash', 1)) ~> sink1\nAddLoadDate sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sink2\nTestQuery sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sink3"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DA_TEST_Execute_SQL_Query')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "DA_Test"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Azure_Qral_Dev_Table",
								"type": "DatasetReference"
							},
							"name": "QCTable"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "TEST_SQL_LOOP_OUT",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "TestQuery"
						}
					],
					"script": "parameters{\n\tsql_query as string,\n\tqc_id as integer,\n\tpipeline_name as string,\n\tpkey_column as string,\n\tfinal_sql_query as string\n}\nsource(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tquery: ($final_sql_query),\n\tformat: 'query') ~> QCTable\nQCTable derive(sql_query = $final_sql_query,\n\t\tqc_id = $qc_id,\n\t\tpipeline_name = $pipeline_name) ~> TestQuery\nTestQuery sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tCode as string,\n\t\tGrouping as string,\n\t\tClassification as string,\n\t\tSpecialization as string,\n\t\tDefinition as string,\n\t\t{Effective Date} as string,\n\t\t{Deactivation Date} as string,\n\t\t{Last Modified Date} as string,\n\t\tNotes as string,\n\t\t{Display Name} as string\n\t),\n\tpartitionFileNames:['test_loop_sql_out.csv'],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tpartitionBy('hash', 1)) ~> sink1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/InitialLoadNUCCTaxonomy')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "PUF_1_Load_NPPES"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "nucc_taxonomy",
								"type": "DatasetReference"
							},
							"name": "ReadinRawNUCCTaxonomy"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "0_ld_nucc_taxonomy_year",
								"type": "DatasetReference"
							},
							"name": "LoadToSQL"
						}
					],
					"transformations": [
						{
							"name": "AddYear"
						}
					],
					"script": "parameters{\n\tnucc_year_raw_file_suffix as string,\n\tdata_year as string\n}\nsource(output(\n\t\tCode as string,\n\t\tGrouping as string,\n\t\tClassification as string,\n\t\tSpecialization as string,\n\t\tDefinition as string,\n\t\t{Effective Date} as date 'MM/dd/yyyy',\n\t\t{Deactivation Date} as date 'MM/dd/yyyy',\n\t\t{Last Modified Date} as string,\n\t\tNotes as string,\n\t\t{Display Name} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\twildcardPaths:[(concat('nucc_taxonomy_',$nucc_year_raw_file_suffix,'.csv'))]) ~> ReadinRawNUCCTaxonomy\nReadinRawNUCCTaxonomy derive(year = $data_year) ~> AddYear\nAddYear sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> LoadToSQL"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_DF_1_Load_NPPES_Month')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "PUF_1_Load_NPPES"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "PUF_DS_0_raw_cms_nppes",
								"type": "DatasetReference"
							},
							"name": "RawCMSNPPESMonth"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "PUF_DS_1_ld_cms_nppes",
								"type": "DatasetReference"
							},
							"name": "sinkNPPESMain"
						},
						{
							"dataset": {
								"referenceName": "PUF_DS_1_ld_cms_nppes_other_provider_identifiers",
								"type": "DatasetReference"
							},
							"name": "sinkNPPESOtherProvider"
						},
						{
							"dataset": {
								"referenceName": "PUF_DS_1_LD_cms_nppes_provider_taxonomy",
								"type": "DatasetReference"
							},
							"name": "sinkProviderTaxonomy"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn1"
						},
						{
							"name": "SelectNPPESMain"
						},
						{
							"name": "SelectNPPESOtherProviderIdentifiers"
						},
						{
							"name": "SelectNPPESProviderTaxonomy"
						},
						{
							"name": "LowerCaseProvTaxonomy"
						},
						{
							"name": "LowerCaseOtherProvId"
						},
						{
							"name": "LowerNPPESMain"
						}
					],
					"script": "source(output(\n\t\tNPI as string,\n\t\t{Entity Type Code} as string,\n\t\t{Replacement NPI} as string,\n\t\t{Employer Identification Number (EIN)} as string,\n\t\t{Provider Organization Name (Legal Business Name)} as string,\n\t\t{Provider Last Name (Legal Name)} as string,\n\t\t{Provider First Name} as string,\n\t\t{Provider Middle Name} as string,\n\t\t{Provider Name Prefix Text} as string,\n\t\t{Provider Name Suffix Text} as string,\n\t\t{Provider Credential Text} as string,\n\t\t{Provider Other Organization Name} as string,\n\t\t{Provider Other Organization Name Type Code} as string,\n\t\t{Provider Other Last Name} as string,\n\t\t{Provider Other First Name} as string,\n\t\t{Provider Other Middle Name} as string,\n\t\t{Provider Other Name Prefix Text} as string,\n\t\t{Provider Other Name Suffix Text} as string,\n\t\t{Provider Other Credential Text} as string,\n\t\t{Provider Other Last Name Type Code} as string,\n\t\t{Provider First Line Business Mailing Address} as string,\n\t\t{Provider Second Line Business Mailing Address} as string,\n\t\t{Provider Business Mailing Address City Name} as string,\n\t\t{Provider Business Mailing Address State Name} as string,\n\t\t{Provider Business Mailing Address Postal Code} as string,\n\t\t{Provider Business Mailing Address Country Code (If outside U.S.)} as string,\n\t\t{Provider Business Mailing Address Telephone Number} as string,\n\t\t{Provider Business Mailing Address Fax Number} as string,\n\t\t{Provider First Line Business Practice Location Address} as string,\n\t\t{Provider Second Line Business Practice Location Address} as string,\n\t\t{Provider Business Practice Location Address City Name} as string,\n\t\t{Provider Business Practice Location Address State Name} as string,\n\t\t{Provider Business Practice Location Address Postal Code} as string,\n\t\t{Provider Business Practice Location Address Country Code (If outside U.S.)} as string,\n\t\t{Provider Business Practice Location Address Telephone Number} as string,\n\t\t{Provider Business Practice Location Address Fax Number} as string,\n\t\t{Provider Enumeration Date} as string,\n\t\t{Last Update Date} as string,\n\t\t{NPI Deactivation Reason Code} as string,\n\t\t{NPI Deactivation Date} as string,\n\t\t{NPI Reactivation Date} as string,\n\t\t{Provider Gender Code} as string,\n\t\t{Authorized Official Last Name} as string,\n\t\t{Authorized Official First Name} as string,\n\t\t{Authorized Official Middle Name} as string,\n\t\t{Authorized Official Title or Position} as string,\n\t\t{Authorized Official Telephone Number} as string,\n\t\t{Healthcare Provider Taxonomy Code_1} as string,\n\t\t{Provider License Number_1} as string,\n\t\t{Provider License Number State Code_1} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_1} as string,\n\t\t{Healthcare Provider Taxonomy Code_2} as string,\n\t\t{Provider License Number_2} as string,\n\t\t{Provider License Number State Code_2} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_2} as string,\n\t\t{Healthcare Provider Taxonomy Code_3} as string,\n\t\t{Provider License Number_3} as string,\n\t\t{Provider License Number State Code_3} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_3} as string,\n\t\t{Healthcare Provider Taxonomy Code_4} as string,\n\t\t{Provider License Number_4} as string,\n\t\t{Provider License Number State Code_4} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_4} as string,\n\t\t{Healthcare Provider Taxonomy Code_5} as string,\n\t\t{Provider License Number_5} as string,\n\t\t{Provider License Number State Code_5} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_5} as string,\n\t\t{Healthcare Provider Taxonomy Code_6} as string,\n\t\t{Provider License Number_6} as string,\n\t\t{Provider License Number State Code_6} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_6} as string,\n\t\t{Healthcare Provider Taxonomy Code_7} as string,\n\t\t{Provider License Number_7} as string,\n\t\t{Provider License Number State Code_7} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_7} as string,\n\t\t{Healthcare Provider Taxonomy Code_8} as string,\n\t\t{Provider License Number_8} as string,\n\t\t{Provider License Number State Code_8} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_8} as string,\n\t\t{Healthcare Provider Taxonomy Code_9} as string,\n\t\t{Provider License Number_9} as string,\n\t\t{Provider License Number State Code_9} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_9} as string,\n\t\t{Healthcare Provider Taxonomy Code_10} as string,\n\t\t{Provider License Number_10} as string,\n\t\t{Provider License Number State Code_10} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_10} as string,\n\t\t{Healthcare Provider Taxonomy Code_11} as string,\n\t\t{Provider License Number_11} as string,\n\t\t{Provider License Number State Code_11} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_11} as string,\n\t\t{Healthcare Provider Taxonomy Code_12} as string,\n\t\t{Provider License Number_12} as string,\n\t\t{Provider License Number State Code_12} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_12} as string,\n\t\t{Healthcare Provider Taxonomy Code_13} as string,\n\t\t{Provider License Number_13} as string,\n\t\t{Provider License Number State Code_13} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_13} as string,\n\t\t{Healthcare Provider Taxonomy Code_14} as string,\n\t\t{Provider License Number_14} as string,\n\t\t{Provider License Number State Code_14} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_14} as string,\n\t\t{Healthcare Provider Taxonomy Code_15} as string,\n\t\t{Provider License Number_15} as string,\n\t\t{Provider License Number State Code_15} as string,\n\t\t{Healthcare Provider Primary Taxonomy Switch_15} as string,\n\t\t{Other Provider Identifier_1} as string,\n\t\t{Other Provider Identifier Type Code_1} as string,\n\t\t{Other Provider Identifier State_1} as string,\n\t\t{Other Provider Identifier Issuer_1} as string,\n\t\t{Other Provider Identifier_2} as string,\n\t\t{Other Provider Identifier Type Code_2} as string,\n\t\t{Other Provider Identifier State_2} as string,\n\t\t{Other Provider Identifier Issuer_2} as string,\n\t\t{Other Provider Identifier_3} as string,\n\t\t{Other Provider Identifier Type Code_3} as string,\n\t\t{Other Provider Identifier State_3} as string,\n\t\t{Other Provider Identifier Issuer_3} as string,\n\t\t{Other Provider Identifier_4} as string,\n\t\t{Other Provider Identifier Type Code_4} as string,\n\t\t{Other Provider Identifier State_4} as string,\n\t\t{Other Provider Identifier Issuer_4} as string,\n\t\t{Other Provider Identifier_5} as string,\n\t\t{Other Provider Identifier Type Code_5} as string,\n\t\t{Other Provider Identifier State_5} as string,\n\t\t{Other Provider Identifier Issuer_5} as string,\n\t\t{Other Provider Identifier_6} as string,\n\t\t{Other Provider Identifier Type Code_6} as string,\n\t\t{Other Provider Identifier State_6} as string,\n\t\t{Other Provider Identifier Issuer_6} as string,\n\t\t{Other Provider Identifier_7} as string,\n\t\t{Other Provider Identifier Type Code_7} as string,\n\t\t{Other Provider Identifier State_7} as string,\n\t\t{Other Provider Identifier Issuer_7} as string,\n\t\t{Other Provider Identifier_8} as string,\n\t\t{Other Provider Identifier Type Code_8} as string,\n\t\t{Other Provider Identifier State_8} as string,\n\t\t{Other Provider Identifier Issuer_8} as string,\n\t\t{Other Provider Identifier_9} as string,\n\t\t{Other Provider Identifier Type Code_9} as string,\n\t\t{Other Provider Identifier State_9} as string,\n\t\t{Other Provider Identifier Issuer_9} as string,\n\t\t{Other Provider Identifier_10} as string,\n\t\t{Other Provider Identifier Type Code_10} as string,\n\t\t{Other Provider Identifier State_10} as string,\n\t\t{Other Provider Identifier Issuer_10} as string,\n\t\t{Other Provider Identifier_11} as string,\n\t\t{Other Provider Identifier Type Code_11} as string,\n\t\t{Other Provider Identifier State_11} as string,\n\t\t{Other Provider Identifier Issuer_11} as string,\n\t\t{Other Provider Identifier_12} as string,\n\t\t{Other Provider Identifier Type Code_12} as string,\n\t\t{Other Provider Identifier State_12} as string,\n\t\t{Other Provider Identifier Issuer_12} as string,\n\t\t{Other Provider Identifier_13} as string,\n\t\t{Other Provider Identifier Type Code_13} as string,\n\t\t{Other Provider Identifier State_13} as string,\n\t\t{Other Provider Identifier Issuer_13} as string,\n\t\t{Other Provider Identifier_14} as string,\n\t\t{Other Provider Identifier Type Code_14} as string,\n\t\t{Other Provider Identifier State_14} as string,\n\t\t{Other Provider Identifier Issuer_14} as string,\n\t\t{Other Provider Identifier_15} as string,\n\t\t{Other Provider Identifier Type Code_15} as string,\n\t\t{Other Provider Identifier State_15} as string,\n\t\t{Other Provider Identifier Issuer_15} as string,\n\t\t{Other Provider Identifier_16} as string,\n\t\t{Other Provider Identifier Type Code_16} as string,\n\t\t{Other Provider Identifier State_16} as string,\n\t\t{Other Provider Identifier Issuer_16} as string,\n\t\t{Other Provider Identifier_17} as string,\n\t\t{Other Provider Identifier Type Code_17} as string,\n\t\t{Other Provider Identifier State_17} as string,\n\t\t{Other Provider Identifier Issuer_17} as string,\n\t\t{Other Provider Identifier_18} as string,\n\t\t{Other Provider Identifier Type Code_18} as string,\n\t\t{Other Provider Identifier State_18} as string,\n\t\t{Other Provider Identifier Issuer_18} as string,\n\t\t{Other Provider Identifier_19} as string,\n\t\t{Other Provider Identifier Type Code_19} as string,\n\t\t{Other Provider Identifier State_19} as string,\n\t\t{Other Provider Identifier Issuer_19} as string,\n\t\t{Other Provider Identifier_20} as string,\n\t\t{Other Provider Identifier Type Code_20} as string,\n\t\t{Other Provider Identifier State_20} as string,\n\t\t{Other Provider Identifier Issuer_20} as string,\n\t\t{Other Provider Identifier_21} as string,\n\t\t{Other Provider Identifier Type Code_21} as string,\n\t\t{Other Provider Identifier State_21} as string,\n\t\t{Other Provider Identifier Issuer_21} as string,\n\t\t{Other Provider Identifier_22} as string,\n\t\t{Other Provider Identifier Type Code_22} as string,\n\t\t{Other Provider Identifier State_22} as string,\n\t\t{Other Provider Identifier Issuer_22} as string,\n\t\t{Other Provider Identifier_23} as string,\n\t\t{Other Provider Identifier Type Code_23} as string,\n\t\t{Other Provider Identifier State_23} as string,\n\t\t{Other Provider Identifier Issuer_23} as string,\n\t\t{Other Provider Identifier_24} as string,\n\t\t{Other Provider Identifier Type Code_24} as string,\n\t\t{Other Provider Identifier State_24} as string,\n\t\t{Other Provider Identifier Issuer_24} as string,\n\t\t{Other Provider Identifier_25} as string,\n\t\t{Other Provider Identifier Type Code_25} as string,\n\t\t{Other Provider Identifier State_25} as string,\n\t\t{Other Provider Identifier Issuer_25} as string,\n\t\t{Other Provider Identifier_26} as string,\n\t\t{Other Provider Identifier Type Code_26} as string,\n\t\t{Other Provider Identifier State_26} as string,\n\t\t{Other Provider Identifier Issuer_26} as string,\n\t\t{Other Provider Identifier_27} as string,\n\t\t{Other Provider Identifier Type Code_27} as string,\n\t\t{Other Provider Identifier State_27} as string,\n\t\t{Other Provider Identifier Issuer_27} as string,\n\t\t{Other Provider Identifier_28} as string,\n\t\t{Other Provider Identifier Type Code_28} as string,\n\t\t{Other Provider Identifier State_28} as string,\n\t\t{Other Provider Identifier Issuer_28} as string,\n\t\t{Other Provider Identifier_29} as string,\n\t\t{Other Provider Identifier Type Code_29} as string,\n\t\t{Other Provider Identifier State_29} as string,\n\t\t{Other Provider Identifier Issuer_29} as string,\n\t\t{Other Provider Identifier_30} as string,\n\t\t{Other Provider Identifier Type Code_30} as string,\n\t\t{Other Provider Identifier State_30} as string,\n\t\t{Other Provider Identifier Issuer_30} as string,\n\t\t{Other Provider Identifier_31} as string,\n\t\t{Other Provider Identifier Type Code_31} as string,\n\t\t{Other Provider Identifier State_31} as string,\n\t\t{Other Provider Identifier Issuer_31} as string,\n\t\t{Other Provider Identifier_32} as string,\n\t\t{Other Provider Identifier Type Code_32} as string,\n\t\t{Other Provider Identifier State_32} as string,\n\t\t{Other Provider Identifier Issuer_32} as string,\n\t\t{Other Provider Identifier_33} as string,\n\t\t{Other Provider Identifier Type Code_33} as string,\n\t\t{Other Provider Identifier State_33} as string,\n\t\t{Other Provider Identifier Issuer_33} as string,\n\t\t{Other Provider Identifier_34} as string,\n\t\t{Other Provider Identifier Type Code_34} as string,\n\t\t{Other Provider Identifier State_34} as string,\n\t\t{Other Provider Identifier Issuer_34} as string,\n\t\t{Other Provider Identifier_35} as string,\n\t\t{Other Provider Identifier Type Code_35} as string,\n\t\t{Other Provider Identifier State_35} as string,\n\t\t{Other Provider Identifier Issuer_35} as string,\n\t\t{Other Provider Identifier_36} as string,\n\t\t{Other Provider Identifier Type Code_36} as string,\n\t\t{Other Provider Identifier State_36} as string,\n\t\t{Other Provider Identifier Issuer_36} as string,\n\t\t{Other Provider Identifier_37} as string,\n\t\t{Other Provider Identifier Type Code_37} as string,\n\t\t{Other Provider Identifier State_37} as string,\n\t\t{Other Provider Identifier Issuer_37} as string,\n\t\t{Other Provider Identifier_38} as string,\n\t\t{Other Provider Identifier Type Code_38} as string,\n\t\t{Other Provider Identifier State_38} as string,\n\t\t{Other Provider Identifier Issuer_38} as string,\n\t\t{Other Provider Identifier_39} as string,\n\t\t{Other Provider Identifier Type Code_39} as string,\n\t\t{Other Provider Identifier State_39} as string,\n\t\t{Other Provider Identifier Issuer_39} as string,\n\t\t{Other Provider Identifier_40} as string,\n\t\t{Other Provider Identifier Type Code_40} as string,\n\t\t{Other Provider Identifier State_40} as string,\n\t\t{Other Provider Identifier Issuer_40} as string,\n\t\t{Other Provider Identifier_41} as string,\n\t\t{Other Provider Identifier Type Code_41} as string,\n\t\t{Other Provider Identifier State_41} as string,\n\t\t{Other Provider Identifier Issuer_41} as string,\n\t\t{Other Provider Identifier_42} as string,\n\t\t{Other Provider Identifier Type Code_42} as string,\n\t\t{Other Provider Identifier State_42} as string,\n\t\t{Other Provider Identifier Issuer_42} as string,\n\t\t{Other Provider Identifier_43} as string,\n\t\t{Other Provider Identifier Type Code_43} as string,\n\t\t{Other Provider Identifier State_43} as string,\n\t\t{Other Provider Identifier Issuer_43} as string,\n\t\t{Other Provider Identifier_44} as string,\n\t\t{Other Provider Identifier Type Code_44} as string,\n\t\t{Other Provider Identifier State_44} as string,\n\t\t{Other Provider Identifier Issuer_44} as string,\n\t\t{Other Provider Identifier_45} as string,\n\t\t{Other Provider Identifier Type Code_45} as string,\n\t\t{Other Provider Identifier State_45} as string,\n\t\t{Other Provider Identifier Issuer_45} as string,\n\t\t{Other Provider Identifier_46} as string,\n\t\t{Other Provider Identifier Type Code_46} as string,\n\t\t{Other Provider Identifier State_46} as string,\n\t\t{Other Provider Identifier Issuer_46} as string,\n\t\t{Other Provider Identifier_47} as string,\n\t\t{Other Provider Identifier Type Code_47} as string,\n\t\t{Other Provider Identifier State_47} as string,\n\t\t{Other Provider Identifier Issuer_47} as string,\n\t\t{Other Provider Identifier_48} as string,\n\t\t{Other Provider Identifier Type Code_48} as string,\n\t\t{Other Provider Identifier State_48} as string,\n\t\t{Other Provider Identifier Issuer_48} as string,\n\t\t{Other Provider Identifier_49} as string,\n\t\t{Other Provider Identifier Type Code_49} as string,\n\t\t{Other Provider Identifier State_49} as string,\n\t\t{Other Provider Identifier Issuer_49} as string,\n\t\t{Other Provider Identifier_50} as string,\n\t\t{Other Provider Identifier Type Code_50} as string,\n\t\t{Other Provider Identifier State_50} as string,\n\t\t{Other Provider Identifier Issuer_50} as string,\n\t\t{Is Sole Proprietor} as string,\n\t\t{Is Organization Subpart} as string,\n\t\t{Parent Organization LBN} as string,\n\t\t{Parent Organization TIN} as string,\n\t\t{Authorized Official Name Prefix Text} as string,\n\t\t{Authorized Official Name Suffix Text} as string,\n\t\t{Authorized Official Credential Text} as string,\n\t\t{Healthcare Provider Taxonomy Group_1} as string,\n\t\t{Healthcare Provider Taxonomy Group_2} as string,\n\t\t{Healthcare Provider Taxonomy Group_3} as string,\n\t\t{Healthcare Provider Taxonomy Group_4} as string,\n\t\t{Healthcare Provider Taxonomy Group_5} as string,\n\t\t{Healthcare Provider Taxonomy Group_6} as string,\n\t\t{Healthcare Provider Taxonomy Group_7} as string,\n\t\t{Healthcare Provider Taxonomy Group_8} as string,\n\t\t{Healthcare Provider Taxonomy Group_9} as string,\n\t\t{Healthcare Provider Taxonomy Group_10} as string,\n\t\t{Healthcare Provider Taxonomy Group_11} as string,\n\t\t{Healthcare Provider Taxonomy Group_12} as string,\n\t\t{Healthcare Provider Taxonomy Group_13} as string,\n\t\t{Healthcare Provider Taxonomy Group_14} as string,\n\t\t{Healthcare Provider Taxonomy Group_15} as string,\n\t\t{Certification Date} as string,\n\t\tdata_month as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table',\n\tpartitionBy('roundRobin', 1000)) ~> RawCMSNPPESMonth\nRawCMSNPPESMonth derive({Entity Type} = iif({Entity Type Code}=='1', 'Individual', \n    iif({Entity Type Code}=='2', 'Organization', {Entity Type Code})),\n\t\tdata_month = toInteger(data_month),\n\t\t{Active Flag} = iif({NPI Deactivation Date} != '' && {NPI Reactivation Date} == '', '0', '1'),\n\t\t{Provider Second Line Business Practice Location Address} = replace({Provider Second Line Business Practice Location Address}, '\\\\', ''),\n\t\t{Authorized Official Title or Position} = replace({Authorized Official Title or Position},'\\\\',''),\n\t\t{Provider Enumeration Date} = toDate({Provider Enumeration Date}, 'MM/dd/yyyy'),\n\t\t{Last Update Date} = toDate({Last Update Date}, 'MM/dd/yyyy'),\n\t\t{NPI Deactivation Date} = toDate({NPI Deactivation Date}, 'MM/dd/yyyy'),\n\t\t{NPI Reactivation Date} = toDate({NPI Reactivation Date}, 'MM/dd/yyyy'),\n\t\t{Certification Date} = toDate({Certification Date}, 'MM/dd/yyyy'),\n\tpartitionBy('roundRobin', 100)) ~> DerivedColumn1\nDerivedColumn1 select(mapColumn(\n\t\tNPI,\n\t\tdata_month,\n\t\t{Active Flag},\n\t\t{Entity Type Code},\n\t\t{Entity Type},\n\t\t{Replacement NPI},\n\t\t{Employer Identification Number (EIN)},\n\t\t{Provider Organization Name (Legal Business Name)},\n\t\t{Provider Last Name (Legal Name)},\n\t\t{Provider First Name},\n\t\t{Provider Middle Name},\n\t\t{Provider Name Prefix Text},\n\t\t{Provider Name Suffix Text},\n\t\t{Provider Credential Text},\n\t\t{Provider Other Organization Name},\n\t\t{Provider Other Organization Name Type Code},\n\t\t{Provider Other Last Name},\n\t\t{Provider Other First Name},\n\t\t{Provider Other Middle Name},\n\t\t{Provider Other Name Prefix Text},\n\t\t{Provider Other Name Suffix Text},\n\t\t{Provider Other Credential Text},\n\t\t{Provider Other Last Name Type Code},\n\t\t{Provider First Line Business Mailing Address},\n\t\t{Provider Second Line Business Mailing Address},\n\t\t{Provider Business Mailing Address City Name},\n\t\t{Provider Business Mailing Address State Name},\n\t\t{Provider Business Mailing Address Postal Code},\n\t\t{Provider Business Mailing Address Country Code (if outside U.S.) } = {Provider Business Mailing Address Country Code (If outside U.S.)},\n\t\t{Provider Business Mailing Address Telephone Number},\n\t\t{Provider Business Mailing Address Fax Number},\n\t\t{Provider First Line Business Practice Location Address},\n\t\t{Provider Second Line Business Practice Location Address},\n\t\t{Provider Business Practice Location Address City Name},\n\t\t{Provider Business Practice Location Address State Name},\n\t\t{Provider Business Practice Location Address Postal Code},\n\t\t{Provider Business Practice Location Address Country Code Out US} = {Provider Business Practice Location Address Country Code (If outside U.S.)},\n\t\t{Provider Business Practice Location Address Telephone Number},\n\t\t{Provider Business Practice Location Address Fax Number},\n\t\t{Provider Enumeration Date},\n\t\t{Last Update Date},\n\t\t{NPI Deactivation Reason Code},\n\t\t{NPI Deactivation Date},\n\t\t{NPI Reactivation Date},\n\t\t{Provider Gender Code},\n\t\t{Authorized Official Last Name},\n\t\t{Authorized Official First Name},\n\t\t{Authorized Official Middle Name},\n\t\t{Authorized Official Title or Position},\n\t\t{Authorized Official Telephone Number},\n\t\t{Healthcare Provider Taxonomy Code_1},\n\t\t{Provider License Number_1},\n\t\t{Provider License Number State Code_1},\n\t\t{Healthcare Provider Primary Taxonomy Switch_1},\n\t\t{Healthcare Provider Taxonomy Code_2},\n\t\t{Provider License Number_2},\n\t\t{Provider License Number State Code_2},\n\t\t{Healthcare Provider Primary Taxonomy Switch_2},\n\t\t{Healthcare Provider Taxonomy Code_3},\n\t\t{Provider License Number_3},\n\t\t{Provider License Number State Code_3},\n\t\t{Healthcare Provider Primary Taxonomy Switch_3},\n\t\t{Is Sole Proprietor},\n\t\t{Is Organization Subpart},\n\t\t{Is Sole Proprietor},\n\t\t{Is Organization Subpart},\n\t\t{Parent Organization LBN},\n\t\t{Parent Organization TIN},\n\t\t{Authorized Official Name Prefix Text},\n\t\t{Authorized Official Name Suffix Text},\n\t\t{Authorized Official Credential Text},\n\t\t{Healthcare Provider Taxonomy Group_1},\n\t\t{Healthcare Provider Taxonomy Group_2},\n\t\t{Healthcare Provider Taxonomy Group_3}\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectNPPESMain\nDerivedColumn1 select(mapColumn(\n\t\tNPI,\n\t\tdata_month,\n\t\t{Active Flag},\n\t\t{Entity Type},\n\t\t{Entity Type Code},\n\t\t{Other Provider Identifier_1},\n\t\t{Other Provider Identifier Type Code_1},\n\t\t{Other Provider Identifier State_1},\n\t\t{Other Provider Identifier Issuer_1},\n\t\t{Other Provider Identifier_2},\n\t\t{Other Provider Identifier Type Code_2},\n\t\t{Other Provider Identifier State_2},\n\t\t{Other Provider Identifier Issuer_2},\n\t\t{Other Provider Identifier_3},\n\t\t{Other Provider Identifier Type Code_3},\n\t\t{Other Provider Identifier State_3},\n\t\t{Other Provider Identifier Issuer_3},\n\t\t{Other Provider Identifier_4},\n\t\t{Other Provider Identifier Type Code_4},\n\t\t{Other Provider Identifier State_4},\n\t\t{Other Provider Identifier Issuer_4},\n\t\t{Other Provider Identifier_5},\n\t\t{Other Provider Identifier Type Code_5},\n\t\t{Other Provider Identifier State_5},\n\t\t{Other Provider Identifier Issuer_5},\n\t\t{Other Provider Identifier_6},\n\t\t{Other Provider Identifier Type Code_6},\n\t\t{Other Provider Identifier State_6},\n\t\t{Other Provider Identifier Issuer_6},\n\t\t{Other Provider Identifier_7},\n\t\t{Other Provider Identifier Type Code_7},\n\t\t{Other Provider Identifier State_7},\n\t\t{Other Provider Identifier Issuer_7},\n\t\t{Other Provider Identifier_8},\n\t\t{Other Provider Identifier Type Code_8},\n\t\t{Other Provider Identifier State_8},\n\t\t{Other Provider Identifier Issuer_8},\n\t\t{Other Provider Identifier_9},\n\t\t{Other Provider Identifier Type Code_9},\n\t\t{Other Provider Identifier State_9},\n\t\t{Other Provider Identifier Issuer_9},\n\t\t{Other Provider Identifier_10},\n\t\t{Other Provider Identifier Type Code_10},\n\t\t{Other Provider Identifier State_10},\n\t\t{Other Provider Identifier Issuer_10},\n\t\t{Other Provider Identifier_11},\n\t\t{Other Provider Identifier Type Code_11},\n\t\t{Other Provider Identifier State_11},\n\t\t{Other Provider Identifier Issuer_11},\n\t\t{Other Provider Identifier_12},\n\t\t{Other Provider Identifier Type Code_12},\n\t\t{Other Provider Identifier State_12},\n\t\t{Other Provider Identifier Issuer_12},\n\t\t{Other Provider Identifier_13},\n\t\t{Other Provider Identifier Type Code_13},\n\t\t{Other Provider Identifier State_13},\n\t\t{Other Provider Identifier Issuer_13},\n\t\t{Other Provider Identifier_14},\n\t\t{Other Provider Identifier Type Code_14},\n\t\t{Other Provider Identifier State_14},\n\t\t{Other Provider Identifier Issuer_14},\n\t\t{Other Provider Identifier_15},\n\t\t{Other Provider Identifier Type Code_15},\n\t\t{Other Provider Identifier State_15},\n\t\t{Other Provider Identifier Issuer_15},\n\t\t{Other Provider Identifier_16},\n\t\t{Other Provider Identifier Type Code_16},\n\t\t{Other Provider Identifier State_16},\n\t\t{Other Provider Identifier Issuer_16},\n\t\t{Other Provider Identifier_17},\n\t\t{Other Provider Identifier Type Code_17},\n\t\t{Other Provider Identifier State_17},\n\t\t{Other Provider Identifier Issuer_17},\n\t\t{Other Provider Identifier_18},\n\t\t{Other Provider Identifier Type Code_18},\n\t\t{Other Provider Identifier State_18},\n\t\t{Other Provider Identifier Issuer_18},\n\t\t{Other Provider Identifier_19},\n\t\t{Other Provider Identifier Type Code_19},\n\t\t{Other Provider Identifier State_19},\n\t\t{Other Provider Identifier Issuer_19},\n\t\t{Other Provider Identifier_20},\n\t\t{Other Provider Identifier Type Code_20},\n\t\t{Other Provider Identifier State_20},\n\t\t{Other Provider Identifier Issuer_20},\n\t\t{Other Provider Identifier_21},\n\t\t{Other Provider Identifier Type Code_21},\n\t\t{Other Provider Identifier State_21},\n\t\t{Other Provider Identifier Issuer_21},\n\t\t{Other Provider Identifier_22},\n\t\t{Other Provider Identifier Type Code_22},\n\t\t{Other Provider Identifier State_22},\n\t\t{Other Provider Identifier Issuer_22},\n\t\t{Other Provider Identifier_23},\n\t\t{Other Provider Identifier Type Code_23},\n\t\t{Other Provider Identifier State_23},\n\t\t{Other Provider Identifier Issuer_23},\n\t\t{Other Provider Identifier_24},\n\t\t{Other Provider Identifier Type Code_24},\n\t\t{Other Provider Identifier State_24},\n\t\t{Other Provider Identifier Issuer_24},\n\t\t{Other Provider Identifier_25},\n\t\t{Other Provider Identifier Type Code_25},\n\t\t{Other Provider Identifier State_25},\n\t\t{Other Provider Identifier Issuer_25},\n\t\t{Other Provider Identifier_26},\n\t\t{Other Provider Identifier Type Code_26},\n\t\t{Other Provider Identifier State_26},\n\t\t{Other Provider Identifier Issuer_26},\n\t\t{Other Provider Identifier_27},\n\t\t{Other Provider Identifier Type Code_27},\n\t\t{Other Provider Identifier State_27},\n\t\t{Other Provider Identifier Issuer_27},\n\t\t{Other Provider Identifier_28},\n\t\t{Other Provider Identifier Type Code_28},\n\t\t{Other Provider Identifier State_28},\n\t\t{Other Provider Identifier Issuer_28},\n\t\t{Other Provider Identifier_29},\n\t\t{Other Provider Identifier Type Code_29},\n\t\t{Other Provider Identifier State_29},\n\t\t{Other Provider Identifier Issuer_29},\n\t\t{Other Provider Identifier_30},\n\t\t{Other Provider Identifier Type Code_30},\n\t\t{Other Provider Identifier State_30},\n\t\t{Other Provider Identifier Issuer_30},\n\t\t{Other Provider Identifier_31},\n\t\t{Other Provider Identifier Type Code_31},\n\t\t{Other Provider Identifier State_31},\n\t\t{Other Provider Identifier Issuer_31},\n\t\t{Other Provider Identifier_32},\n\t\t{Other Provider Identifier Type Code_32},\n\t\t{Other Provider Identifier State_32},\n\t\t{Other Provider Identifier Issuer_32},\n\t\t{Other Provider Identifier_33},\n\t\t{Other Provider Identifier Type Code_33},\n\t\t{Other Provider Identifier State_33},\n\t\t{Other Provider Identifier Issuer_33},\n\t\t{Other Provider Identifier_34},\n\t\t{Other Provider Identifier Type Code_34},\n\t\t{Other Provider Identifier State_34},\n\t\t{Other Provider Identifier Issuer_34},\n\t\t{Other Provider Identifier_35},\n\t\t{Other Provider Identifier Type Code_35},\n\t\t{Other Provider Identifier State_35},\n\t\t{Other Provider Identifier Issuer_35},\n\t\t{Other Provider Identifier_36},\n\t\t{Other Provider Identifier Type Code_36},\n\t\t{Other Provider Identifier State_36},\n\t\t{Other Provider Identifier Issuer_36},\n\t\t{Other Provider Identifier_37},\n\t\t{Other Provider Identifier Type Code_37},\n\t\t{Other Provider Identifier State_37},\n\t\t{Other Provider Identifier Issuer_37},\n\t\t{Other Provider Identifier_38},\n\t\t{Other Provider Identifier Type Code_38},\n\t\t{Other Provider Identifier State_38},\n\t\t{Other Provider Identifier Issuer_38},\n\t\t{Other Provider Identifier_39},\n\t\t{Other Provider Identifier Type Code_39},\n\t\t{Other Provider Identifier State_39},\n\t\t{Other Provider Identifier Issuer_39},\n\t\t{Other Provider Identifier_40},\n\t\t{Other Provider Identifier Type Code_40},\n\t\t{Other Provider Identifier State_40},\n\t\t{Other Provider Identifier Issuer_40},\n\t\t{Other Provider Identifier_41},\n\t\t{Other Provider Identifier Type Code_41},\n\t\t{Other Provider Identifier State_41},\n\t\t{Other Provider Identifier Issuer_41},\n\t\t{Other Provider Identifier_42},\n\t\t{Other Provider Identifier Type Code_42},\n\t\t{Other Provider Identifier State_42},\n\t\t{Other Provider Identifier Issuer_42},\n\t\t{Other Provider Identifier_43},\n\t\t{Other Provider Identifier Type Code_43},\n\t\t{Other Provider Identifier State_43},\n\t\t{Other Provider Identifier Issuer_43},\n\t\t{Other Provider Identifier_44},\n\t\t{Other Provider Identifier Type Code_44},\n\t\t{Other Provider Identifier State_44},\n\t\t{Other Provider Identifier Issuer_44},\n\t\t{Other Provider Identifier_45},\n\t\t{Other Provider Identifier Type Code_45},\n\t\t{Other Provider Identifier State_45},\n\t\t{Other Provider Identifier Issuer_45},\n\t\t{Other Provider Identifier_46},\n\t\t{Other Provider Identifier Type Code_46},\n\t\t{Other Provider Identifier State_46},\n\t\t{Other Provider Identifier Issuer_46},\n\t\t{Other Provider Identifier_47},\n\t\t{Other Provider Identifier Type Code_47},\n\t\t{Other Provider Identifier State_47},\n\t\t{Other Provider Identifier Issuer_47},\n\t\t{Other Provider Identifier_48},\n\t\t{Other Provider Identifier Type Code_48},\n\t\t{Other Provider Identifier State_48},\n\t\t{Other Provider Identifier Issuer_48},\n\t\t{Other Provider Identifier_49},\n\t\t{Other Provider Identifier Type Code_49},\n\t\t{Other Provider Identifier State_49},\n\t\t{Other Provider Identifier Issuer_49},\n\t\t{Other Provider Identifier_50},\n\t\t{Other Provider Identifier Type Code_50},\n\t\t{Other Provider Identifier State_50},\n\t\t{Other Provider Identifier Issuer_50}\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectNPPESOtherProviderIdentifiers\nDerivedColumn1 select(mapColumn(\n\t\tNPI,\n\t\tdata_month,\n\t\t{Active Flag},\n\t\t{Entity Type Code},\n\t\t{Entity Type},\n\t\t{Healthcare Provider Taxonomy Code_1},\n\t\t{Provider License Number_1},\n\t\t{Provider License Number State Code_1},\n\t\t{Healthcare Provider Primary Taxonomy Switch_1},\n\t\t{Healthcare Provider Taxonomy Code_2},\n\t\t{Provider License Number_2},\n\t\t{Provider License Number State Code_2},\n\t\t{Healthcare Provider Primary Taxonomy Switch_2},\n\t\t{Healthcare Provider Taxonomy Code_3},\n\t\t{Provider License Number_3},\n\t\t{Provider License Number State Code_3},\n\t\t{Healthcare Provider Primary Taxonomy Switch_3},\n\t\t{Healthcare Provider Taxonomy Code_4},\n\t\t{Provider License Number_4},\n\t\t{Provider License Number State Code_4},\n\t\t{Healthcare Provider Primary Taxonomy Switch_4},\n\t\t{Healthcare Provider Taxonomy Code_5},\n\t\t{Provider License Number_5},\n\t\t{Provider License Number State Code_5},\n\t\t{Healthcare Provider Primary Taxonomy Switch_5},\n\t\t{Healthcare Provider Taxonomy Code_6},\n\t\t{Provider License Number_6},\n\t\t{Provider License Number State Code_6},\n\t\t{Healthcare Provider Primary Taxonomy Switch_6},\n\t\t{Healthcare Provider Taxonomy Code_7},\n\t\t{Provider License Number_7},\n\t\t{Provider License Number State Code_7},\n\t\t{Healthcare Provider Primary Taxonomy Switch_7},\n\t\t{Healthcare Provider Taxonomy Code_8},\n\t\t{Provider License Number_8},\n\t\t{Provider License Number State Code_8},\n\t\t{Healthcare Provider Primary Taxonomy Switch_8},\n\t\t{Healthcare Provider Taxonomy Code_9},\n\t\t{Provider License Number_9},\n\t\t{Provider License Number State Code_9},\n\t\t{Healthcare Provider Primary Taxonomy Switch_9},\n\t\t{Healthcare Provider Taxonomy Code_10},\n\t\t{Provider License Number_10},\n\t\t{Provider License Number State Code_10},\n\t\t{Healthcare Provider Primary Taxonomy Switch_10},\n\t\t{Healthcare Provider Taxonomy Code_11},\n\t\t{Provider License Number_11},\n\t\t{Provider License Number State Code_11},\n\t\t{Healthcare Provider Primary Taxonomy Switch_11},\n\t\t{Healthcare Provider Taxonomy Code_12},\n\t\t{Provider License Number_12},\n\t\t{Provider License Number State Code_12},\n\t\t{Healthcare Provider Primary Taxonomy Switch_12},\n\t\t{Healthcare Provider Taxonomy Code_13},\n\t\t{Provider License Number_13},\n\t\t{Provider License Number State Code_13},\n\t\t{Healthcare Provider Primary Taxonomy Switch_13},\n\t\t{Healthcare Provider Taxonomy Code_14},\n\t\t{Provider License Number_14},\n\t\t{Provider License Number State Code_14},\n\t\t{Healthcare Provider Primary Taxonomy Switch_14},\n\t\t{Healthcare Provider Taxonomy Code_15},\n\t\t{Provider License Number_15},\n\t\t{Provider License Number State Code_15},\n\t\t{Healthcare Provider Primary Taxonomy Switch_15},\n\t\t{Healthcare Provider Taxonomy Group_1},\n\t\t{Healthcare Provider Taxonomy Group_2},\n\t\t{Healthcare Provider Taxonomy Group_3},\n\t\t{Healthcare Provider Taxonomy Group_4},\n\t\t{Healthcare Provider Taxonomy Group_5},\n\t\t{Healthcare Provider Taxonomy Group_6},\n\t\t{Healthcare Provider Taxonomy Group_7},\n\t\t{Healthcare Provider Taxonomy Group_8},\n\t\t{Healthcare Provider Taxonomy Group_9},\n\t\t{Healthcare Provider Taxonomy Group_10},\n\t\t{Healthcare Provider Taxonomy Group_11},\n\t\t{Healthcare Provider Taxonomy Group_12},\n\t\t{Healthcare Provider Taxonomy Group_13},\n\t\t{Healthcare Provider Taxonomy Group_14},\n\t\t{Healthcare Provider Taxonomy Group_15}\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectNPPESProviderTaxonomy\nSelectNPPESProviderTaxonomy select(mapColumn(\n\t\teach(match(true()),\n\t\t\tlower($$) = $$)\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> LowerCaseProvTaxonomy\nSelectNPPESOtherProviderIdentifiers select(mapColumn(\n\t\teach(match(true()),\n\t\t\tlower($$) = $$)\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> LowerCaseOtherProvId\nSelectNPPESMain select(mapColumn(\n\t\teach(match(true()),\n\t\t\tlower($$) = $$)\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> LowerNPPESMain\nLowerNPPESMain sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tnpi as string,\n\t\tdata_month as integer,\n\t\t{active flag} as string,\n\t\t{entity type code} as string,\n\t\t{entity type} as string,\n\t\t{replacement npi} as string,\n\t\t{employer identification number (ein)} as string,\n\t\t{provider organization name (legal business name)} as string,\n\t\t{provider last name (legal name)} as string,\n\t\t{provider first name} as string,\n\t\t{provider middle name} as string,\n\t\t{provider name prefix text} as string,\n\t\t{provider name suffix text} as string,\n\t\t{provider credential text} as string,\n\t\t{provider other organization name} as string,\n\t\t{provider other organization name type code} as string,\n\t\t{provider other last name} as string,\n\t\t{provider other first name} as string,\n\t\t{provider other middle name} as string,\n\t\t{provider other name prefix text} as string,\n\t\t{provider other name suffix text} as string,\n\t\t{provider other credential text} as string,\n\t\t{provider other last name type code} as string,\n\t\t{provider first line business mailing address} as string,\n\t\t{provider second line business mailing address} as string,\n\t\t{provider business mailing address city name} as string,\n\t\t{provider business mailing address state name} as string,\n\t\t{provider business mailing address postal code} as string,\n\t\t{provider business mailing address country code (if outside u.s.) } as string,\n\t\t{provider business mailing address telephone number} as string,\n\t\t{provider business mailing address fax number} as string,\n\t\t{provider first line business practice location address} as string,\n\t\t{provider second line business practice location address} as string,\n\t\t{provider business practice location address city name} as string,\n\t\t{provider business practice location address state name} as string,\n\t\t{provider business practice location address postal code} as string,\n\t\t{provider business practice location address country code out us} as string,\n\t\t{provider business practice location address telephone number} as string,\n\t\t{provider business practice location address fax number} as string,\n\t\t{provider enumeration date} as date,\n\t\t{last update date} as date,\n\t\t{npi deactivation reason code} as string,\n\t\t{npi deactivation date} as date,\n\t\t{npi reactivation date} as date,\n\t\t{provider gender code} as string,\n\t\t{authorized official last name} as string,\n\t\t{authorized official first name} as string,\n\t\t{authorized official middle name} as string,\n\t\t{authorized official title or position} as string,\n\t\t{authorized official telephone number} as string,\n\t\t{healthcare provider taxonomy code_1} as string,\n\t\t{provider license number_1} as string,\n\t\t{provider license number state code_1} as string,\n\t\t{healthcare provider primary taxonomy switch_1} as string,\n\t\t{healthcare provider taxonomy code_2} as string,\n\t\t{provider license number_2} as string,\n\t\t{provider license number state code_2} as string,\n\t\t{healthcare provider primary taxonomy switch_2} as string,\n\t\t{healthcare provider taxonomy code_3} as string,\n\t\t{provider license number_3} as string,\n\t\t{provider license number state code_3} as string,\n\t\t{healthcare provider primary taxonomy switch_3} as string,\n\t\t{is sole proprietor} as string,\n\t\t{is organization subpart} as string,\n\t\t{parent organization lbn} as string,\n\t\t{parent organization tin} as string,\n\t\t{authorized official name prefix text} as string,\n\t\t{authorized official name suffix text} as string,\n\t\t{authorized official credential text} as string,\n\t\t{healthcare provider taxonomy group_1} as string,\n\t\t{healthcare provider taxonomy group_2} as string,\n\t\t{healthcare provider taxonomy group_3} as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sinkNPPESMain\nLowerCaseOtherProvId sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tnpi as string,\n\t\tdata_month as integer,\n\t\t{active flag} as string,\n\t\t{entity type} as string,\n\t\t{entity type code} as string,\n\t\t{other provider identifier_1} as string,\n\t\t{other provider identifier type code_1} as string,\n\t\t{other provider identifier state_1} as string,\n\t\t{other provider identifier issuer_1} as string,\n\t\t{other provider identifier_2} as string,\n\t\t{other provider identifier type code_2} as string,\n\t\t{other provider identifier state_2} as string,\n\t\t{other provider identifier issuer_2} as string,\n\t\t{other provider identifier_3} as string,\n\t\t{other provider identifier type code_3} as string,\n\t\t{other provider identifier state_3} as string,\n\t\t{other provider identifier issuer_3} as string,\n\t\t{other provider identifier_4} as string,\n\t\t{other provider identifier type code_4} as string,\n\t\t{other provider identifier state_4} as string,\n\t\t{other provider identifier issuer_4} as string,\n\t\t{other provider identifier_5} as string,\n\t\t{other provider identifier type code_5} as string,\n\t\t{other provider identifier state_5} as string,\n\t\t{other provider identifier issuer_5} as string,\n\t\t{other provider identifier_6} as string,\n\t\t{other provider identifier type code_6} as string,\n\t\t{other provider identifier state_6} as string,\n\t\t{other provider identifier issuer_6} as string,\n\t\t{other provider identifier_7} as string,\n\t\t{other provider identifier type code_7} as string,\n\t\t{other provider identifier state_7} as string,\n\t\t{other provider identifier issuer_7} as string,\n\t\t{other provider identifier_8} as string,\n\t\t{other provider identifier type code_8} as string,\n\t\t{other provider identifier state_8} as string,\n\t\t{other provider identifier issuer_8} as string,\n\t\t{other provider identifier_9} as string,\n\t\t{other provider identifier type code_9} as string,\n\t\t{other provider identifier state_9} as string,\n\t\t{other provider identifier issuer_9} as string,\n\t\t{other provider identifier_10} as string,\n\t\t{other provider identifier type code_10} as string,\n\t\t{other provider identifier state_10} as string,\n\t\t{other provider identifier issuer_10} as string,\n\t\t{other provider identifier_11} as string,\n\t\t{other provider identifier type code_11} as string,\n\t\t{other provider identifier state_11} as string,\n\t\t{other provider identifier issuer_11} as string,\n\t\t{other provider identifier_12} as string,\n\t\t{other provider identifier type code_12} as string,\n\t\t{other provider identifier state_12} as string,\n\t\t{other provider identifier issuer_12} as string,\n\t\t{other provider identifier_13} as string,\n\t\t{other provider identifier type code_13} as string,\n\t\t{other provider identifier state_13} as string,\n\t\t{other provider identifier issuer_13} as string,\n\t\t{other provider identifier_14} as string,\n\t\t{other provider identifier type code_14} as string,\n\t\t{other provider identifier state_14} as string,\n\t\t{other provider identifier issuer_14} as string,\n\t\t{other provider identifier_15} as string,\n\t\t{other provider identifier type code_15} as string,\n\t\t{other provider identifier state_15} as string,\n\t\t{other provider identifier issuer_15} as string,\n\t\t{other provider identifier_16} as string,\n\t\t{other provider identifier type code_16} as string,\n\t\t{other provider identifier state_16} as string,\n\t\t{other provider identifier issuer_16} as string,\n\t\t{other provider identifier_17} as string,\n\t\t{other provider identifier type code_17} as string,\n\t\t{other provider identifier state_17} as string,\n\t\t{other provider identifier issuer_17} as string,\n\t\t{other provider identifier_18} as string,\n\t\t{other provider identifier type code_18} as string,\n\t\t{other provider identifier state_18} as string,\n\t\t{other provider identifier issuer_18} as string,\n\t\t{other provider identifier_19} as string,\n\t\t{other provider identifier type code_19} as string,\n\t\t{other provider identifier state_19} as string,\n\t\t{other provider identifier issuer_19} as string,\n\t\t{other provider identifier_20} as string,\n\t\t{other provider identifier type code_20} as string,\n\t\t{other provider identifier state_20} as string,\n\t\t{other provider identifier issuer_20} as string,\n\t\t{other provider identifier_21} as string,\n\t\t{other provider identifier type code_21} as string,\n\t\t{other provider identifier state_21} as string,\n\t\t{other provider identifier issuer_21} as string,\n\t\t{other provider identifier_22} as string,\n\t\t{other provider identifier type code_22} as string,\n\t\t{other provider identifier state_22} as string,\n\t\t{other provider identifier issuer_22} as string,\n\t\t{other provider identifier_23} as string,\n\t\t{other provider identifier type code_23} as string,\n\t\t{other provider identifier state_23} as string,\n\t\t{other provider identifier issuer_23} as string,\n\t\t{other provider identifier_24} as string,\n\t\t{other provider identifier type code_24} as string,\n\t\t{other provider identifier state_24} as string,\n\t\t{other provider identifier issuer_24} as string,\n\t\t{other provider identifier_25} as string,\n\t\t{other provider identifier type code_25} as string,\n\t\t{other provider identifier state_25} as string,\n\t\t{other provider identifier issuer_25} as string,\n\t\t{other provider identifier_26} as string,\n\t\t{other provider identifier type code_26} as string,\n\t\t{other provider identifier state_26} as string,\n\t\t{other provider identifier issuer_26} as string,\n\t\t{other provider identifier_27} as string,\n\t\t{other provider identifier type code_27} as string,\n\t\t{other provider identifier state_27} as string,\n\t\t{other provider identifier issuer_27} as string,\n\t\t{other provider identifier_28} as string,\n\t\t{other provider identifier type code_28} as string,\n\t\t{other provider identifier state_28} as string,\n\t\t{other provider identifier issuer_28} as string,\n\t\t{other provider identifier_29} as string,\n\t\t{other provider identifier type code_29} as string,\n\t\t{other provider identifier state_29} as string,\n\t\t{other provider identifier issuer_29} as string,\n\t\t{other provider identifier_30} as string,\n\t\t{other provider identifier type code_30} as string,\n\t\t{other provider identifier state_30} as string,\n\t\t{other provider identifier issuer_30} as string,\n\t\t{other provider identifier_31} as string,\n\t\t{other provider identifier type code_31} as string,\n\t\t{other provider identifier state_31} as string,\n\t\t{other provider identifier issuer_31} as string,\n\t\t{other provider identifier_32} as string,\n\t\t{other provider identifier type code_32} as string,\n\t\t{other provider identifier state_32} as string,\n\t\t{other provider identifier issuer_32} as string,\n\t\t{other provider identifier_33} as string,\n\t\t{other provider identifier type code_33} as string,\n\t\t{other provider identifier state_33} as string,\n\t\t{other provider identifier issuer_33} as string,\n\t\t{other provider identifier_34} as string,\n\t\t{other provider identifier type code_34} as string,\n\t\t{other provider identifier state_34} as string,\n\t\t{other provider identifier issuer_34} as string,\n\t\t{other provider identifier_35} as string,\n\t\t{other provider identifier type code_35} as string,\n\t\t{other provider identifier state_35} as string,\n\t\t{other provider identifier issuer_35} as string,\n\t\t{other provider identifier_36} as string,\n\t\t{other provider identifier type code_36} as string,\n\t\t{other provider identifier state_36} as string,\n\t\t{other provider identifier issuer_36} as string,\n\t\t{other provider identifier_37} as string,\n\t\t{other provider identifier type code_37} as string,\n\t\t{other provider identifier state_37} as string,\n\t\t{other provider identifier issuer_37} as string,\n\t\t{other provider identifier_38} as string,\n\t\t{other provider identifier type code_38} as string,\n\t\t{other provider identifier state_38} as string,\n\t\t{other provider identifier issuer_38} as string,\n\t\t{other provider identifier_39} as string,\n\t\t{other provider identifier type code_39} as string,\n\t\t{other provider identifier state_39} as string,\n\t\t{other provider identifier issuer_39} as string,\n\t\t{other provider identifier_40} as string,\n\t\t{other provider identifier type code_40} as string,\n\t\t{other provider identifier state_40} as string,\n\t\t{other provider identifier issuer_40} as string,\n\t\t{other provider identifier_41} as string,\n\t\t{other provider identifier type code_41} as string,\n\t\t{other provider identifier state_41} as string,\n\t\t{other provider identifier issuer_41} as string,\n\t\t{other provider identifier_42} as string,\n\t\t{other provider identifier type code_42} as string,\n\t\t{other provider identifier state_42} as string,\n\t\t{other provider identifier issuer_42} as string,\n\t\t{other provider identifier_43} as string,\n\t\t{other provider identifier type code_43} as string,\n\t\t{other provider identifier state_43} as string,\n\t\t{other provider identifier issuer_43} as string,\n\t\t{other provider identifier_44} as string,\n\t\t{other provider identifier type code_44} as string,\n\t\t{other provider identifier state_44} as string,\n\t\t{other provider identifier issuer_44} as string,\n\t\t{other provider identifier_45} as string,\n\t\t{other provider identifier type code_45} as string,\n\t\t{other provider identifier state_45} as string,\n\t\t{other provider identifier issuer_45} as string,\n\t\t{other provider identifier_46} as string,\n\t\t{other provider identifier type code_46} as string,\n\t\t{other provider identifier state_46} as string,\n\t\t{other provider identifier issuer_46} as string,\n\t\t{other provider identifier_47} as string,\n\t\t{other provider identifier type code_47} as string,\n\t\t{other provider identifier state_47} as string,\n\t\t{other provider identifier issuer_47} as string,\n\t\t{other provider identifier_48} as string,\n\t\t{other provider identifier type code_48} as string,\n\t\t{other provider identifier state_48} as string,\n\t\t{other provider identifier issuer_48} as string,\n\t\t{other provider identifier_49} as string,\n\t\t{other provider identifier type code_49} as string,\n\t\t{other provider identifier state_49} as string,\n\t\t{other provider identifier issuer_49} as string,\n\t\t{other provider identifier_50} as string,\n\t\t{other provider identifier type code_50} as string,\n\t\t{other provider identifier state_50} as string,\n\t\t{other provider identifier issuer_50} as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sinkNPPESOtherProvider\nLowerCaseProvTaxonomy sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tnpi as string,\n\t\tdata_month as integer,\n\t\t{active flag} as string,\n\t\t{entity type code} as string,\n\t\t{entity type} as string,\n\t\t{healthcare provider taxonomy code_1} as string,\n\t\t{provider license number_1} as string,\n\t\t{provider license number state code_1} as string,\n\t\t{healthcare provider primary taxonomy switch_1} as string,\n\t\t{healthcare provider taxonomy code_2} as string,\n\t\t{provider license number_2} as string,\n\t\t{provider license number state code_2} as string,\n\t\t{healthcare provider primary taxonomy switch_2} as string,\n\t\t{healthcare provider taxonomy code_3} as string,\n\t\t{provider license number_3} as string,\n\t\t{provider license number state code_3} as string,\n\t\t{healthcare provider primary taxonomy switch_3} as string,\n\t\t{healthcare provider taxonomy code_4} as string,\n\t\t{provider license number_4} as string,\n\t\t{provider license number state code_4} as string,\n\t\t{healthcare provider primary taxonomy switch_4} as string,\n\t\t{healthcare provider taxonomy code_5} as string,\n\t\t{provider license number_5} as string,\n\t\t{provider license number state code_5} as string,\n\t\t{healthcare provider primary taxonomy switch_5} as string,\n\t\t{healthcare provider taxonomy code_6} as string,\n\t\t{provider license number_6} as string,\n\t\t{provider license number state code_6} as string,\n\t\t{healthcare provider primary taxonomy switch_6} as string,\n\t\t{healthcare provider taxonomy code_7} as string,\n\t\t{provider license number_7} as string,\n\t\t{provider license number state code_7} as string,\n\t\t{healthcare provider primary taxonomy switch_7} as string,\n\t\t{healthcare provider taxonomy code_8} as string,\n\t\t{provider license number_8} as string,\n\t\t{provider license number state code_8} as string,\n\t\t{healthcare provider primary taxonomy switch_8} as string,\n\t\t{healthcare provider taxonomy code_9} as string,\n\t\t{provider license number_9} as string,\n\t\t{provider license number state code_9} as string,\n\t\t{healthcare provider primary taxonomy switch_9} as string,\n\t\t{healthcare provider taxonomy code_10} as string,\n\t\t{provider license number_10} as string,\n\t\t{provider license number state code_10} as string,\n\t\t{healthcare provider primary taxonomy switch_10} as string,\n\t\t{healthcare provider taxonomy code_11} as string,\n\t\t{provider license number_11} as string,\n\t\t{provider license number state code_11} as string,\n\t\t{healthcare provider primary taxonomy switch_11} as string,\n\t\t{healthcare provider taxonomy code_12} as string,\n\t\t{provider license number_12} as string,\n\t\t{provider license number state code_12} as string,\n\t\t{healthcare provider primary taxonomy switch_12} as string,\n\t\t{healthcare provider taxonomy code_13} as string,\n\t\t{provider license number_13} as string,\n\t\t{provider license number state code_13} as string,\n\t\t{healthcare provider primary taxonomy switch_13} as string,\n\t\t{healthcare provider taxonomy code_14} as string,\n\t\t{provider license number_14} as string,\n\t\t{provider license number state code_14} as string,\n\t\t{healthcare provider primary taxonomy switch_14} as string,\n\t\t{healthcare provider taxonomy code_15} as string,\n\t\t{provider license number_15} as string,\n\t\t{provider license number state code_15} as string,\n\t\t{healthcare provider primary taxonomy switch_15} as string,\n\t\t{healthcare provider taxonomy group_1} as string,\n\t\t{healthcare provider taxonomy group_2} as string,\n\t\t{healthcare provider taxonomy group_3} as string,\n\t\t{healthcare provider taxonomy group_4} as string,\n\t\t{healthcare provider taxonomy group_5} as string,\n\t\t{healthcare provider taxonomy group_6} as string,\n\t\t{healthcare provider taxonomy group_7} as string,\n\t\t{healthcare provider taxonomy group_8} as string,\n\t\t{healthcare provider taxonomy group_9} as string,\n\t\t{healthcare provider taxonomy group_10} as string,\n\t\t{healthcare provider taxonomy group_11} as string,\n\t\t{healthcare provider taxonomy group_12} as string,\n\t\t{healthcare provider taxonomy group_13} as string,\n\t\t{healthcare provider taxonomy group_14} as string,\n\t\t{healthcare provider taxonomy group_15} as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sinkProviderTaxonomy"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PUF_DF_2a_Stage_NPPES')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "PUF_2_Stage_NPPES"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "PUF_DS_1_LD_cms_nppes_provider_taxonomy",
								"type": "DatasetReference"
							},
							"name": "ProviderTaxonomyMonth"
						},
						{
							"dataset": {
								"referenceName": "PUF_DS_1_ld_cms_nppes_other_provider_identifiers",
								"type": "DatasetReference"
							},
							"name": "ProviderOtherIdentifiers"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "PUF_DS_2a_st_cms_nppes_provider_taxonomy",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"dataset": {
								"referenceName": "PUF_DS_2a_st_cms_nppes_other_provider_identifier",
								"type": "DatasetReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [
						{
							"name": "AddCurrentFlag"
						},
						{
							"name": "Normalized"
						},
						{
							"name": "RefineFieldNamePos"
						},
						{
							"name": "Pivot1"
						},
						{
							"name": "AddCurrentFlagProvOtherID"
						},
						{
							"name": "NormalizedProvOtherID"
						},
						{
							"name": "RefineFieldNamePosProvOtherID"
						},
						{
							"name": "Pivot2"
						},
						{
							"name": "Select1"
						},
						{
							"name": "Filter1"
						},
						{
							"name": "Filter2"
						}
					],
					"script": "source(output(\n\t\tnpi as string,\n\t\tdata_month as integer,\n\t\t{active flag} as string,\n\t\t{entity type code} as string,\n\t\t{entity type} as string,\n\t\t{healthcare provider taxonomy code_1} as string,\n\t\t{provider license number_1} as string,\n\t\t{provider license number state code_1} as string,\n\t\t{healthcare provider primary taxonomy switch_1} as string,\n\t\t{healthcare provider taxonomy code_2} as string,\n\t\t{provider license number_2} as string,\n\t\t{provider license number state code_2} as string,\n\t\t{healthcare provider primary taxonomy switch_2} as string,\n\t\t{healthcare provider taxonomy code_3} as string,\n\t\t{provider license number_3} as string,\n\t\t{provider license number state code_3} as string,\n\t\t{healthcare provider primary taxonomy switch_3} as string,\n\t\t{healthcare provider taxonomy code_4} as string,\n\t\t{provider license number_4} as string,\n\t\t{provider license number state code_4} as string,\n\t\t{healthcare provider primary taxonomy switch_4} as string,\n\t\t{healthcare provider taxonomy code_5} as string,\n\t\t{provider license number_5} as string,\n\t\t{provider license number state code_5} as string,\n\t\t{healthcare provider primary taxonomy switch_5} as string,\n\t\t{healthcare provider taxonomy code_6} as string,\n\t\t{provider license number_6} as string,\n\t\t{provider license number state code_6} as string,\n\t\t{healthcare provider primary taxonomy switch_6} as string,\n\t\t{healthcare provider taxonomy code_7} as string,\n\t\t{provider license number_7} as string,\n\t\t{provider license number state code_7} as string,\n\t\t{healthcare provider primary taxonomy switch_7} as string,\n\t\t{healthcare provider taxonomy code_8} as string,\n\t\t{provider license number_8} as string,\n\t\t{provider license number state code_8} as string,\n\t\t{healthcare provider primary taxonomy switch_8} as string,\n\t\t{healthcare provider taxonomy code_9} as string,\n\t\t{provider license number_9} as string,\n\t\t{provider license number state code_9} as string,\n\t\t{healthcare provider primary taxonomy switch_9} as string,\n\t\t{healthcare provider taxonomy code_10} as string,\n\t\t{provider license number_10} as string,\n\t\t{provider license number state code_10} as string,\n\t\t{healthcare provider primary taxonomy switch_10} as string,\n\t\t{healthcare provider taxonomy code_11} as string,\n\t\t{provider license number_11} as string,\n\t\t{provider license number state code_11} as string,\n\t\t{healthcare provider primary taxonomy switch_11} as string,\n\t\t{healthcare provider taxonomy code_12} as string,\n\t\t{provider license number_12} as string,\n\t\t{provider license number state code_12} as string,\n\t\t{healthcare provider primary taxonomy switch_12} as string,\n\t\t{healthcare provider taxonomy code_13} as string,\n\t\t{provider license number_13} as string,\n\t\t{provider license number state code_13} as string,\n\t\t{healthcare provider primary taxonomy switch_13} as string,\n\t\t{healthcare provider taxonomy code_14} as string,\n\t\t{provider license number_14} as string,\n\t\t{provider license number state code_14} as string,\n\t\t{healthcare provider primary taxonomy switch_14} as string,\n\t\t{healthcare provider taxonomy code_15} as string,\n\t\t{provider license number_15} as string,\n\t\t{provider license number state code_15} as string,\n\t\t{healthcare provider primary taxonomy switch_15} as string,\n\t\t{healthcare provider taxonomy group_1} as string,\n\t\t{healthcare provider taxonomy group_2} as string,\n\t\t{healthcare provider taxonomy group_3} as string,\n\t\t{healthcare provider taxonomy group_4} as string,\n\t\t{healthcare provider taxonomy group_5} as string,\n\t\t{healthcare provider taxonomy group_6} as string,\n\t\t{healthcare provider taxonomy group_7} as string,\n\t\t{healthcare provider taxonomy group_8} as string,\n\t\t{healthcare provider taxonomy group_9} as string,\n\t\t{healthcare provider taxonomy group_10} as string,\n\t\t{healthcare provider taxonomy group_11} as string,\n\t\t{healthcare provider taxonomy group_12} as string,\n\t\t{healthcare provider taxonomy group_13} as string,\n\t\t{healthcare provider taxonomy group_14} as string,\n\t\t{healthcare provider taxonomy group_15} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table',\n\tpartitionBy('roundRobin', 500)) ~> ProviderTaxonomyMonth\nsource(output(\n\t\tnpi as string,\n\t\tdata_month as integer,\n\t\t{active flag} as string,\n\t\t{entity type} as string,\n\t\t{entity type code} as string,\n\t\t{other provider identifier_1} as string,\n\t\t{other provider identifier type code_1} as string,\n\t\t{other provider identifier state_1} as string,\n\t\t{other provider identifier issuer_1} as string,\n\t\t{other provider identifier_2} as string,\n\t\t{other provider identifier type code_2} as string,\n\t\t{other provider identifier state_2} as string,\n\t\t{other provider identifier issuer_2} as string,\n\t\t{other provider identifier_3} as string,\n\t\t{other provider identifier type code_3} as string,\n\t\t{other provider identifier state_3} as string,\n\t\t{other provider identifier issuer_3} as string,\n\t\t{other provider identifier_4} as string,\n\t\t{other provider identifier type code_4} as string,\n\t\t{other provider identifier state_4} as string,\n\t\t{other provider identifier issuer_4} as string,\n\t\t{other provider identifier_5} as string,\n\t\t{other provider identifier type code_5} as string,\n\t\t{other provider identifier state_5} as string,\n\t\t{other provider identifier issuer_5} as string,\n\t\t{other provider identifier_6} as string,\n\t\t{other provider identifier type code_6} as string,\n\t\t{other provider identifier state_6} as string,\n\t\t{other provider identifier issuer_6} as string,\n\t\t{other provider identifier_7} as string,\n\t\t{other provider identifier type code_7} as string,\n\t\t{other provider identifier state_7} as string,\n\t\t{other provider identifier issuer_7} as string,\n\t\t{other provider identifier_8} as string,\n\t\t{other provider identifier type code_8} as string,\n\t\t{other provider identifier state_8} as string,\n\t\t{other provider identifier issuer_8} as string,\n\t\t{other provider identifier_9} as string,\n\t\t{other provider identifier type code_9} as string,\n\t\t{other provider identifier state_9} as string,\n\t\t{other provider identifier issuer_9} as string,\n\t\t{other provider identifier_10} as string,\n\t\t{other provider identifier type code_10} as string,\n\t\t{other provider identifier state_10} as string,\n\t\t{other provider identifier issuer_10} as string,\n\t\t{other provider identifier_11} as string,\n\t\t{other provider identifier type code_11} as string,\n\t\t{other provider identifier state_11} as string,\n\t\t{other provider identifier issuer_11} as string,\n\t\t{other provider identifier_12} as string,\n\t\t{other provider identifier type code_12} as string,\n\t\t{other provider identifier state_12} as string,\n\t\t{other provider identifier issuer_12} as string,\n\t\t{other provider identifier_13} as string,\n\t\t{other provider identifier type code_13} as string,\n\t\t{other provider identifier state_13} as string,\n\t\t{other provider identifier issuer_13} as string,\n\t\t{other provider identifier_14} as string,\n\t\t{other provider identifier type code_14} as string,\n\t\t{other provider identifier state_14} as string,\n\t\t{other provider identifier issuer_14} as string,\n\t\t{other provider identifier_15} as string,\n\t\t{other provider identifier type code_15} as string,\n\t\t{other provider identifier state_15} as string,\n\t\t{other provider identifier issuer_15} as string,\n\t\t{other provider identifier_16} as string,\n\t\t{other provider identifier type code_16} as string,\n\t\t{other provider identifier state_16} as string,\n\t\t{other provider identifier issuer_16} as string,\n\t\t{other provider identifier_17} as string,\n\t\t{other provider identifier type code_17} as string,\n\t\t{other provider identifier state_17} as string,\n\t\t{other provider identifier issuer_17} as string,\n\t\t{other provider identifier_18} as string,\n\t\t{other provider identifier type code_18} as string,\n\t\t{other provider identifier state_18} as string,\n\t\t{other provider identifier issuer_18} as string,\n\t\t{other provider identifier_19} as string,\n\t\t{other provider identifier type code_19} as string,\n\t\t{other provider identifier state_19} as string,\n\t\t{other provider identifier issuer_19} as string,\n\t\t{other provider identifier_20} as string,\n\t\t{other provider identifier type code_20} as string,\n\t\t{other provider identifier state_20} as string,\n\t\t{other provider identifier issuer_20} as string,\n\t\t{other provider identifier_21} as string,\n\t\t{other provider identifier type code_21} as string,\n\t\t{other provider identifier state_21} as string,\n\t\t{other provider identifier issuer_21} as string,\n\t\t{other provider identifier_22} as string,\n\t\t{other provider identifier type code_22} as string,\n\t\t{other provider identifier state_22} as string,\n\t\t{other provider identifier issuer_22} as string,\n\t\t{other provider identifier_23} as string,\n\t\t{other provider identifier type code_23} as string,\n\t\t{other provider identifier state_23} as string,\n\t\t{other provider identifier issuer_23} as string,\n\t\t{other provider identifier_24} as string,\n\t\t{other provider identifier type code_24} as string,\n\t\t{other provider identifier state_24} as string,\n\t\t{other provider identifier issuer_24} as string,\n\t\t{other provider identifier_25} as string,\n\t\t{other provider identifier type code_25} as string,\n\t\t{other provider identifier state_25} as string,\n\t\t{other provider identifier issuer_25} as string,\n\t\t{other provider identifier_26} as string,\n\t\t{other provider identifier type code_26} as string,\n\t\t{other provider identifier state_26} as string,\n\t\t{other provider identifier issuer_26} as string,\n\t\t{other provider identifier_27} as string,\n\t\t{other provider identifier type code_27} as string,\n\t\t{other provider identifier state_27} as string,\n\t\t{other provider identifier issuer_27} as string,\n\t\t{other provider identifier_28} as string,\n\t\t{other provider identifier type code_28} as string,\n\t\t{other provider identifier state_28} as string,\n\t\t{other provider identifier issuer_28} as string,\n\t\t{other provider identifier_29} as string,\n\t\t{other provider identifier type code_29} as string,\n\t\t{other provider identifier state_29} as string,\n\t\t{other provider identifier issuer_29} as string,\n\t\t{other provider identifier_30} as string,\n\t\t{other provider identifier type code_30} as string,\n\t\t{other provider identifier state_30} as string,\n\t\t{other provider identifier issuer_30} as string,\n\t\t{other provider identifier_31} as string,\n\t\t{other provider identifier type code_31} as string,\n\t\t{other provider identifier state_31} as string,\n\t\t{other provider identifier issuer_31} as string,\n\t\t{other provider identifier_32} as string,\n\t\t{other provider identifier type code_32} as string,\n\t\t{other provider identifier state_32} as string,\n\t\t{other provider identifier issuer_32} as string,\n\t\t{other provider identifier_33} as string,\n\t\t{other provider identifier type code_33} as string,\n\t\t{other provider identifier state_33} as string,\n\t\t{other provider identifier issuer_33} as string,\n\t\t{other provider identifier_34} as string,\n\t\t{other provider identifier type code_34} as string,\n\t\t{other provider identifier state_34} as string,\n\t\t{other provider identifier issuer_34} as string,\n\t\t{other provider identifier_35} as string,\n\t\t{other provider identifier type code_35} as string,\n\t\t{other provider identifier state_35} as string,\n\t\t{other provider identifier issuer_35} as string,\n\t\t{other provider identifier_36} as string,\n\t\t{other provider identifier type code_36} as string,\n\t\t{other provider identifier state_36} as string,\n\t\t{other provider identifier issuer_36} as string,\n\t\t{other provider identifier_37} as string,\n\t\t{other provider identifier type code_37} as string,\n\t\t{other provider identifier state_37} as string,\n\t\t{other provider identifier issuer_37} as string,\n\t\t{other provider identifier_38} as string,\n\t\t{other provider identifier type code_38} as string,\n\t\t{other provider identifier state_38} as string,\n\t\t{other provider identifier issuer_38} as string,\n\t\t{other provider identifier_39} as string,\n\t\t{other provider identifier type code_39} as string,\n\t\t{other provider identifier state_39} as string,\n\t\t{other provider identifier issuer_39} as string,\n\t\t{other provider identifier_40} as string,\n\t\t{other provider identifier type code_40} as string,\n\t\t{other provider identifier state_40} as string,\n\t\t{other provider identifier issuer_40} as string,\n\t\t{other provider identifier_41} as string,\n\t\t{other provider identifier type code_41} as string,\n\t\t{other provider identifier state_41} as string,\n\t\t{other provider identifier issuer_41} as string,\n\t\t{other provider identifier_42} as string,\n\t\t{other provider identifier type code_42} as string,\n\t\t{other provider identifier state_42} as string,\n\t\t{other provider identifier issuer_42} as string,\n\t\t{other provider identifier_43} as string,\n\t\t{other provider identifier type code_43} as string,\n\t\t{other provider identifier state_43} as string,\n\t\t{other provider identifier issuer_43} as string,\n\t\t{other provider identifier_44} as string,\n\t\t{other provider identifier type code_44} as string,\n\t\t{other provider identifier state_44} as string,\n\t\t{other provider identifier issuer_44} as string,\n\t\t{other provider identifier_45} as string,\n\t\t{other provider identifier type code_45} as string,\n\t\t{other provider identifier state_45} as string,\n\t\t{other provider identifier issuer_45} as string,\n\t\t{other provider identifier_46} as string,\n\t\t{other provider identifier type code_46} as string,\n\t\t{other provider identifier state_46} as string,\n\t\t{other provider identifier issuer_46} as string,\n\t\t{other provider identifier_47} as string,\n\t\t{other provider identifier type code_47} as string,\n\t\t{other provider identifier state_47} as string,\n\t\t{other provider identifier issuer_47} as string,\n\t\t{other provider identifier_48} as string,\n\t\t{other provider identifier type code_48} as string,\n\t\t{other provider identifier state_48} as string,\n\t\t{other provider identifier issuer_48} as string,\n\t\t{other provider identifier_49} as string,\n\t\t{other provider identifier type code_49} as string,\n\t\t{other provider identifier state_49} as string,\n\t\t{other provider identifier issuer_49} as string,\n\t\t{other provider identifier_50} as string,\n\t\t{other provider identifier type code_50} as string,\n\t\t{other provider identifier state_50} as string,\n\t\t{other provider identifier issuer_50} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> ProviderOtherIdentifiers\nProviderTaxonomyMonth derive(current_flag = '1') ~> AddCurrentFlag\nAddCurrentFlag unpivot(output(\n\t\tname as string,\n\t\tvalue as string\n\t),\n\tungroupBy(current_flag,\n\t\tdata_month,\n\t\tnpi,\n\t\t{entity type code},\n\t\t{entity type},\n\t\t{active flag}),\n\tlateral: false,\n\tignoreNullPivots: true) ~> Normalized\nFilter1 derive(name_standard = left(name,instr(name,'_')-1),\n\t\tposition = right(name,(length(name)-instr(name,'_')))) ~> RefineFieldNamePos\nRefineFieldNamePos pivot(groupBy(current_flag,\n\t\tdata_month,\n\t\tnpi,\n\t\t{entity type code},\n\t\t{entity type},\n\t\t{active flag},\n\t\tposition),\n\tpivotBy(name_standard),\n\t{} = first(value),\n\tcolumnNaming: '$N$V',\n\tlateral: true) ~> Pivot1\nProviderOtherIdentifiers derive(current_flag = '1') ~> AddCurrentFlagProvOtherID\nAddCurrentFlagProvOtherID unpivot(output(\n\t\tname as string,\n\t\tvalue as string\n\t),\n\tungroupBy(current_flag,\n\t\tdata_month,\n\t\tnpi,\n\t\t{entity type code},\n\t\t{entity type},\n\t\t{active flag}),\n\tlateral: false,\n\tignoreNullPivots: true) ~> NormalizedProvOtherID\nFilter2 derive(name_standard = left(name,instr(name,'_')-1),\n\t\tposition = right(name,(length(name)-instr(name,'_')))) ~> RefineFieldNamePosProvOtherID\nRefineFieldNamePosProvOtherID pivot(groupBy(current_flag,\n\t\tdata_month,\n\t\tnpi,\n\t\t{entity type code},\n\t\t{entity type},\n\t\t{active flag},\n\t\tposition),\n\tpivotBy(name_standard),\n\t{} = first(value),\n\tcolumnNaming: '$N$V',\n\tlateral: true) ~> Pivot2\nPivot2 select(mapColumn(\n\t\teach(match(name!='position'))\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select1\nNormalized filter(!(isNull(value) || value == '')) ~> Filter1\nNormalizedProvOtherID filter(!(isNull(value) || value == '')) ~> Filter2\nPivot1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tcurrent_flag as string,\n\t\tdata_month as integer,\n\t\tnpi as string,\n\t\t{entity type code} as string,\n\t\t{entity type} as string,\n\t\t{active flag} as string,\n\t\tposition as string,\n\t\t{healthcare provider primary taxonomy switch} as string,\n\t\t{healthcare provider taxonomy code} as string,\n\t\t{healthcare provider taxonomy group} as string,\n\t\t{provider license number} as string,\n\t\t{provider license number state code} as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tsaveOrder: 1,\n\terrorHandlingOption: 'stopOnFirstError') ~> sink1\nSelect1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tcurrent_flag as string,\n\t\tdata_month as integer,\n\t\tnpi as string,\n\t\t{entity type code} as string,\n\t\t{entity type} as string,\n\t\t{active flag} as string,\n\t\t{other provider identifier} as string,\n\t\t{other provider identifier issuer} as string,\n\t\t{other provider identifier state} as string,\n\t\t{other provider identifier type code} as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sink2"
				}
			},
			"dependsOn": []
		}
	]
}